<template>
  <span>
    <div class="flex heading spacebetween">
      <div>
        <h3>Information Resources</h3>
      </div>
      <div>
        <el-button
          type="primary"
          plain
          icon="el-icon-document-copy"
          @click="copyAllAdditional"
          v-if="socioEconomics.length > 0"
        >Copy All</el-button>
      </div>
    </div>
    <span v-for="(socioItem,i) in socioEconomics" :key="i">
      <div class="padBottom-15 flex-wrap verticleCenter" v-if="socioEconomics[i].Data.length > 0">
        <h5 class="title7 title-bold">{{socioItem.Name}}</h5>
        <el-button type="text" class="left-auto" @click="copyTable(i)">
          <i class="el-icon-document-copy"></i>
          Copy Table
        </el-button>
        <DynamicTable
          :data="socioEconomics[i].Data"
          :meta="socioEconomics[i].Meta"
          :dataIndex="i"
          :copyIcon="true"
          v-on:edit-button-clicked="onDynamicEditButtonClicked"
          v-on:delete-button-clicked="onDynamicDeleteButtonClicked"
          v-on:copy-button-clicked="onCopy"
        ></DynamicTable>
      </div>
    </span>
  </span>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";

import detailPlanStore from "@/store/modules/detailPlan";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";

import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta,
  SubWatershedDistrictPalika
} from "@/store/models/plan/watershedPlan";
import DynamicForm from "@/components/Dynamic/DynamicForm.vue";
import DynamicTable from "@/components/Dynamic/DynamicTable.vue";
import common from "@/store/modules/common";
import {
  Activity,
  ActivityVariable
} from "@/store/models/DetailPlan/detailPlan";

import axios from "axios";

@Component({
  components: {
    Button,
    DynamicForm,
    DynamicTable,
    Select,
    Option
  }
})
export default class AdditionalInformationView extends Vue {
  duplicate: boolean = false;

  @Prop({ default: 0 })
  planid!: number;

  @Prop({ default: 0 })
  problemId!: number;

  @Prop({ default: 0 })
  activityId!: number;

  subwatershedDistrictPalika: SubWatershedDistrictPalika[] = [];
  socioData: SocioVariable[] = [];
  selectedIndex = -1;
  selectedDataIndex = -1;
  dialogVisible = false;
  socioEconomics: Activity[] = [];
  // socioEconomicsDetail: Activity[] = [];
  selectedPalika: { [id: number]: number[] } = {};

  // set socioEconomicsDetail(information: Activity[]) {}

  get plan() {
    return planStore.watershedPlan;
  }

  get problem() {
    return problemStore.SelectedProblemList.filter(
      x => x.id === this.problemId
    )[0];
  }

  get socioEconomicsDetail() {
    return detailPlanStore.AdditionalInformation;
  }

  created() {
    this.loadData(this.planid, this.problemId, this.activityId);
    planStore.getPlanByPlanId(this.planid);
    problemStore.getSelectedProblemsByPlanId(this.planid);
    detailPlanStore.storeActivityDetailInformation({
      planId: this.planid,
      problemId: this.problemId,
      activityId: this.activityId
    });
  }

  get palikas() {
    return [];
  }

  get singelData() {
    if (this.selectedIndex > -1) {
      this.socioData = [] as ActivityVariable[];
      var dataLength = this.socioEconomics[this.selectedIndex].Data.length;
      var rowindex = 0;
      if (dataLength > 0) {
        if (
          this.selectedDataIndex < dataLength &&
          this.selectedDataIndex !== -1
        ) {
          rowindex = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][0].rowindex;
        } else {
          rowindex =
            this.socioEconomics[this.selectedIndex].Data[dataLength - 1][0]
              .rowindex + 1;
        }
      }
      for (
        var i = 0;
        i < this.socioEconomics[this.selectedIndex].Meta.length;
        i++
      ) {
        var me = this.socioEconomics[this.selectedIndex].Meta[i] as Meta;
        var variable = {} as ActivityVariable;
        if (this.selectedDataIndex == -1) {
          variable.rowindex = rowindex;
          variable.value = "";
          variable.id = 0;
        } else {
          variable = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][i];
        }

        var obj = {
          value: variable.value,
          id: variable.id,
          rowindex: variable.rowindex,
          variableid: me.id,
          planid: this.planid,
          problemid: this.problemId,
          activityid: this.activityId
        } as ActivityVariable;
        this.socioData.push(obj);
      }
      return this.socioEconomics[this.selectedIndex];
    }
    return [];
  }

  temp() {
    var meta = {
      controltype: "text",
      name: "abc",
      caption: "abc",
      validationregex: "",
      datatype: ""
    } as Meta;

    var socio = {
      Name: "abc",
      ActivityId: 0,
      Meta: [meta] as Meta[],
      Data: [] as ActivityVariable[][]
    } as Activity;
    this.socioEconomics.push(socio);
  }

  async loadData(planid: number, problemId: number, activityId: number) {
    // detailPlanStore.getPlanByPlanId(planid);
    this.socioEconomics = await detailPlanStore.getActivityDetailFromODK({
      problemId: problemId
    });
    // console.log(this.socioEconomicsDetail);
    // this.socioEconomics = (await axios.get(
    //   "http://192.168.10.85:8222/api/activityinformation_survey/?planid=128&problemid=50&activityid=4"
    // )).data as any;
  }

  addRow(i: number) {
    this.selectedDataIndex = -1;
    this.dialogVisible = true;
    this.selectedIndex = i;
  }

  deleteRow(i: number, j: number) {
    this.socioEconomics[i].Data.splice(j, 1);
    this.selectedPalika[i].splice(j, 1);
  }

  ///-------DynamicForm Event
  onOKButtonClicked(e: any) {
    this.dialogVisible = false;
    if (this.selectedDataIndex == -1) {
      this.socioEconomics[this.selectedIndex].Data.push(e);
    } else {
      //update inside dynamic table not fired so $set is used
      this.$set(
        this.socioEconomics[this.selectedIndex].Data,
        this.selectedDataIndex,
        e
      );
    }
    this.selectedDataIndex = -1;
  }

  ///------DynamicTable Event
  onDynamicEditButtonClicked(e: any) {
    this.selectedIndex = e.parentIndex;
    this.selectedDataIndex = e.dataIndex;
    this.dialogVisible = true;
  }

  onDynamicDeleteButtonClicked(e: any) {
    this.socioEconomics[e.parentIndex].Data.splice(e.dataIndex, 1);
  }
  async saveAdditionalInformation() {
    common.showLoading();
    await detailPlanStore.saveAdditionalInformation({
      planid: this.planid,
      problemId: this.problemId,
      activityId: this.activityId,
      socio: this.socioEconomics
    });
    common.hideLoading();
    this.$snotify.success("Saved Successfully");
  }

  onCopy(e: any, notify: boolean = true) {
    this.selectedIndex = e.parentIndex;
    this.selectedDataIndex = e.dataIndex;
    let rowindex = this.socioEconomicsDetail[this.selectedIndex].Data.length;
    let detailDataList = this.socioEconomicsDetail[e.parentIndex].Data;
    let copiedData = this.socioEconomics[e.parentIndex].Data[e.dataIndex];
    let copiedDataLength = copiedData.length;

    for (const item in copiedData) {
      copiedData[item].rowindex = rowindex;
    }

    if (detailDataList.length === 0) {
      this.duplicate = false;
    } else {
      for (let data of detailDataList) {
        this.duplicate = false;
        for (let value of data) {
          let copiedValue: any = copiedData.filter(
            x => x.variableid === value.variableid
          )[0].value;
          if (value.value == copiedValue) {
            this.duplicate = true;
          } else {
            this.duplicate = false;
          }
        }
        if (this.duplicate) {
          break;
        }
      }
    }
    if (!this.duplicate) {
      detailPlanStore.pushAdditionalInformation({
        data: this.socioEconomics[e.parentIndex].Data[e.dataIndex],
        index: this.selectedIndex
      });
      if (notify) {
        this.$snotify.success("Data Copied!");
      }
    } else {
      if (notify) {
        this.$snotify.warning("Already Copied!");
      }
    }
  }

  copyTable(index: number) {
    let parentIndex = index;
    for (let j = 0; j < this.socioEconomics[parentIndex].Data.length; j++) {
      this.onCopy({ parentIndex: parentIndex, dataIndex: j }, false);
    }
    this.$snotify.success("Data Copied!");
  }

  copyAllAdditional() {
    for (let i = 0; i < this.socioEconomics.length; i++) {
      let parentIndex = i;
      for (let j = 0; j < this.socioEconomics[i].Data.length; j++) {
        this.onCopy({ parentIndex: parentIndex, dataIndex: j }, false);
      }
    }
    this.$snotify.success("Data Copied!");
  }
}
</script>

<style lang="scss" scoped>
.heading {
  padding: 20px 0px 15px 0px;
}
</style>
