<template>
  <div>
    <h3 v-if="header">Survey Form Collection and Submission Instruction</h3>
    <div>
      Before going to survey, surveyor need to download and set up ODK Collect app using the following steps:
      <ol>
        <li>
          Download ODK Collect App from
          <a
            href="https://play.google.com/store/apps/details?id=org.odk.collect.android"
            target="_blank"
          >here</a> and install it.
        </li>
        <li>Select General Settings from the menu.</li>
        <li>Select Server Settings inside general settings.</li>
        <li>Paste http://wmpsodk.pathway.com.np in the URL section.</li>
        <li>Enter 'WMPS' as username and 'pathway123##' as password.</li>
        <li>From the home screen select 'Get Blank Form'</li>
        <li>You can see the forms provided.</li>
        <li>Select the desired form and download it.</li>
        <li>Fill the blank form.</li>
        <li>Some of the fields are mandatory. So you need to fill out those fields.</li>
        <li>You can record your location. Make sure the device is connected to internet and have proper access to GPS location.</li>
        <li>You can also add image. You can choose from gallery or take a new one</li>
        <li>After completion, mark the form as finalized. This saves the form that is ready to submit.</li>
        <li>Then select 'Send Finalized Form' from home screen</li>
        <li>Select and send the finalized form.</li>
      </ol>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class OdkInstructions extends Vue {
  @Prop({ default: true })
  header!: boolean;
}
</script>

<style lang="sass" scoped>
ol
    padding-left: 5px  !important
    li
        font-size: 0.95em !important
        list-style:decimal inside !important
</style>

