<template>
  <span>
    <div class="flex heading spacebetween">
      <div>
        <h3>Information Resources</h3>
      </div>
      <div>
        <el-button
          type="primary"
          plain
          icon="el-icon-document-copy"
          @click="copyAllAdditional"
          v-if="socioEconomics.length > 0"
        >Copy All</el-button>
      </div>
    </div>
    <span v-for="(socioItem,i) in socioEconomics" :key="i">
      <div class="padBottom-15 flex-wrap verticleCenter" v-if="socioEconomics[i].Data.length > 0">
        <h5 class="title7 title-bold">{{socioItem.Name}}</h5>
        <el-button type="text" class="left-auto" @click="copyTable(i)">
          <i class="el-icon-document-copy"></i>
          Copy Table
        </el-button>
        <DynamicTable
          :data="socioEconomics[i].Data"
          :meta="socioEconomics[i].Meta"
          :dataIndex="i"
          :copyIcon="true"
          v-on:copy-button-clicked="onCopy"
        ></DynamicTable>
      </div>
    </span>
  </span>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";

import detailPlanStore from "@/store/modules/detailPlan";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";

import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta
} from "@/store/models/plan/watershedPlan";
import DynamicForm from "@/components/Dynamic/DynamicForm.vue";
import DynamicTable from "@/components/Dynamic/DynamicTable.vue";
import common from "@/store/modules/common";
import {
  Activity,
  ActivityVariable
} from "@/store/models/DetailPlan/detailPlan";

import axios from "axios";
import plan from "@/store/API/plan";

@Component({
  components: {
    Button,
    DynamicForm,
    DynamicTable,
    Select,
    Option
  }
})
export default class AdditionalInformationView extends Vue {
  duplicate: boolean = false;

  @Prop({ default: 0 })
  planid!: number;

  selectedIndex = -1;
  selectedDataIndex = -1;
  socioEconomics: SocioEconomic[] = [];
  selectedPalika: { [id: number]: number[] } = {};

  get plan() {
    return planStore.watershedPlan;
  }

  get socioEconomicsDetail() {
    return planStore.SocioList;
  }

  created() {
    this.loadData(this.planid);
    planStore.getPlanByPlanId(this.planid);
    problemStore.getSelectedProblemsByPlanId(this.planid);
  }
  async loadData(planid: number) {
    this.socioEconomics = await planStore.getSocioEconomicFeatures(planid);
    await planStore.getSocioEconomicByPlanId(this.planid);
  }

  onCopy(e: any, notify: boolean = true) {
    this.selectedIndex = e.parentIndex;
    this.selectedDataIndex = e.dataIndex;
    let rowindex = this.socioEconomicsDetail[this.selectedIndex].Data.length;
    let detailDataList = this.socioEconomicsDetail[e.parentIndex].Data;
    let copiedData = this.socioEconomics[e.parentIndex].Data[e.dataIndex];
    let copiedDataLength = copiedData.length;

    for (const item in copiedData) {
      copiedData[item].rowindex = rowindex;
    }

    if (detailDataList.length === 0) {
      this.duplicate = false;
    } else {
      for (let data of detailDataList) {
        this.duplicate = false;
        for (let value of data) {
          let copiedValue: any = copiedData.filter(
            x => x.variableid === value.variableid
          )[0].value;
          if (value.value == copiedValue) {
            this.duplicate = true;
          } else {
            this.duplicate = false;
          }
        }
        if (this.duplicate) {
          break;
        }
      }
    }
    if (!this.duplicate) {
      planStore.pushSocioEconomic({
        data: this.socioEconomics[e.parentIndex].Data[e.dataIndex],
        index: this.selectedIndex
      });
      if (notify) {
        this.$snotify.success("Data Copied!");
      }
    } else {
      if (notify) {
        this.$snotify.warning("Already Copied!");
      }
    }
  }

  copyTable(index: number) {
    let parentIndex = index;
    for (let j = 0; j < this.socioEconomics[parentIndex].Data.length; j++) {
      this.onCopy({ parentIndex: parentIndex, dataIndex: j }, false);
    }
    this.$snotify.success("Data Copied!");
  }

  copyAllAdditional() {
    for (let i = 0; i < this.socioEconomics.length; i++) {
      let parentIndex = i;
      for (let j = 0; j < this.socioEconomics[i].Data.length; j++) {
        this.onCopy({ parentIndex: parentIndex, dataIndex: j }, false);
      }
    }
    this.$snotify.success("Data Copied!");
  }
}
</script>

<style lang="scss" scoped>
.heading {
  padding: 20px 0px 15px 0px;
}
</style>
