<template>
  <div>
    <el-table :data="dataList" style="width: 100%">
      <el-table-column label width="100" fixed="left">
        <template slot-scope="scope">
          <el-button
            type="text"
            icon="el-icon-delete"
            title="Delete"
            @click="onDeleteClicked(scope.$index)"
          ></el-button>
          <el-button
            type="text"
            icon="el-icon-edit"
            title="Edit"
            @click="onEditClicked(scope.$index)"
          ></el-button>
        </template>
      </el-table-column>
      <el-table-column prop="houses" label="House (No.)" min-width="150"></el-table-column>
      <el-table-column prop="schools" label="School (No.)" min-width="150"></el-table-column>
      <el-table-column prop="healthpost" label="Health Post (No.)" min-width="150"></el-table-column>
      <el-table-column prop="otherbuildings" label="Other Building (No.)" min-width="150"></el-table-column>
      <el-table-column prop="roads" label="Road (km)" min-width="150"></el-table-column>
      <el-table-column prop="bridges" label="Bridge (No.)" min-width="150"></el-table-column>
      <el-table-column prop="irrigationscheme" label="Irrigation Scheme (km)" min-width="152"></el-table-column>
      <el-table-column prop="agricultureland" label="Agriculture Land (ha)" min-width="150"></el-table-column>
      <el-table-column prop="forest" label="Forest (ha)" min-width="150"></el-table-column>
      <el-table-column prop="telecom" label="Telecom (km)" min-width="150"></el-table-column>
      <el-table-column prop="electricity" label="Electricity (km)" min-width="150"></el-table-column>
      <el-table-column prop="hydropower" label="Hydropower (No.)" min-width="150"></el-table-column>
      <el-table-column prop="others" label="Other" min-width="150"></el-table-column>
    </el-table>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import {
  ProblemModel,
  ElementAffectedModel
} from "@/store/models/Problem/Problem";
import problemStore from "@/store/modules/problem";
@Component
export default class ElementAffectedList extends Vue {
  @Prop({ default: [] as ElementAffectedModel[] })
  dataList!: ElementAffectedModel[];

  created() {
    // if (this.$route.query.id) {
    //   const id = Number(this.$route.query.id);
    //   this.loadList(id);
    // }
  }
  onEditClicked(i: number) {
    this.$emit("affected-element-edit", i);
  }

  onDeleteClicked(index: number) {
    this.dataList.splice(index, 1);
    console.log("Delete in backend");
  }

  async loadList(id: number) {
    const res = await problemStore.getElementAffectedByProblemId(id);
    this.dataList = res;
  }
}
</script>
