<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <div class="flex spacebetween padBottom-20">
            <h3>List of Activities</h3>
          </div>
          <el-table :data="dataList" style="width: 100%">
            <el-table-column prop="name" label="Activity Name" min-width="150">
            </el-table-column>
            <el-table-column prop="selected" label="Actions" min-width="150">
              <template slot-scope="scope">
                <el-button type="primary" @click="AdditionalInfo(scope.row.id)">Detail</el-button>
                <el-button type="primary" @click="Stakeholders(scope.row.id)">Stakeholders</el-button>
                <el-button type="primary" @click="Cost(scope.row.id)">Cost</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <!-- <el-button type="primary" :disabled="dataList.length<2" @click="next">Next</el-button> -->
      <el-button type="primary" @click="goBack" icon="el-icon-arrow-left">Back</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import ActivityStore from "@/store/modules/activity";
import { Activity } from "@/store/models/activity";
import { Button } from "element-ui";
@Component({
  components: {
    Button
  }
})
export default class ActivityList extends Vue {
  planid = 0;
  problemId = 0;
  activities: Activity[] = [] as Activity[];
  get dataList() {
    return ActivityStore.ActivityList;
  }

  created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
    }
    if (this.$route.query.problemid) {
      this.problemId = Number(this.$route.query.problemid);
      ActivityStore.getActivityByProblemId(this.problemId);
    }
  }

  AdditionalInfo(activityId: number) {
    this.$router.push(
      "/Detail/additionalInfo?planid=" +
        this.planid +
        "&problemid=" +
        this.problemId +
        "&activityid=" +
        activityId
    );
  }

  Stakeholders(activityId: number) {
    this.$router.push("/Detail/ActivityStakeholder?planid=" + this.planid);
  }

  Cost(activityId: number) {
    this.$router.push("/Detail/ScopeOfActivityDetail?planid=" + this.planid);
  }

  goBack() {
    this.$router.go(-1);
  }

  next() {
    this.$router.push("/Plan/Problem/ProblemRank");
  }
}
</script>

<style lang="sass">
i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 5px;
</style>
