<template>
  <div class="Initial max-height">
    <Innerrouting :activeView="4" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <el-dialog
          :title="singelData.Name"
          :visible.sync="dialogVisible"
          width="60%"
          @closed="dialogClose"
        >
          <DynamicForm
            :meta="singelData.Meta"
            :data="socioData"
            :palikas="palikas"
            v-on:ok-button-clicked="onOKButtonClicked"
          ></DynamicForm>
        </el-dialog>
        <div class="relative-block">
          <PlanHeader detailed="true" />
          <div class="flex spacebetween verticleCenter">
            <span class="demo-input-label">
              <h3>Additional Information</h3>
            </span>
            <el-button
              title="Additional Information Settings"
              type="text"
              icon="el-icon-setting"
              @click="setting()"
            ></el-button>
          </div>
          <div
            v-for="(socioItem,i) in socioEconomics"
            :key="i"
            class="padBottom-15 flex-wrap verticleCenter"
          >
            <!--            {{ socioItem.Data }}-->
            <h5 class="title7 title-bold">{{socioItem.Name}}</h5>
            <el-button
              type="text"
              icon="el-icon-circle-plus"
              class="left-auto"
              @click="addRow(i)"
            >Add Row</el-button>
            <DynamicTable
              :data="socioEconomics[i].Data"
              :meta="socioEconomics[i].Meta"
              :dataIndex="i"
              v-on:edit-button-clicked="onDynamicEditButtonClicked"
              v-on:delete-button-clicked="onDynamicDeleteButtonClicked"
            ></DynamicTable>
          </div>
        </div>
      </div>
      <div class="absolute-block mask-scroll"></div>

      <el-dialog
        :visible.sync="settingDialogVisible"
        title="Additional Information Settings"
        width="55%"
        top="5vh"
        class="settingsDialogBox"
      >
        <el-tabs v-model="tabActiveName" class="tabs">
          <el-tab-pane
            :title="bioItem.Name"
            :label="bioItem.Name"
            :name="i + 'inner'"
            :key="i + 'inner'"
            v-for="(bioItem,i) in activityInformationSettings"
          >
            <el-table :data="bioItem.Meta">
              <el-table-column prop="caption" label="Name"></el-table-column>
              <el-table-column prop="defaultvisible" label="Visible">
                <template slot-scope="scope">
                  <el-checkbox v-model="scope.row.defaultvisible"></el-checkbox>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
        <span slot="footer">
          <el-button class="marTop-15" type="primary" @click="saveSetting()">Save</el-button>
        </span>
      </el-dialog>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/Detail/SelectedProblems?planid='+$route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>
      <el-button type="primary" @click="saveAdditionalInformation()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";

import detailPlanStore from "@/store/modules/detailPlan";
import imageStore from "@/store/modules/image";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";

import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta,
  SubWatershedDistrictPalika
} from "@/store/models/plan/watershedPlan";
import DynamicForm from "@/components/Dynamic/DynamicForm.vue";
import DynamicTable from "@/components/Dynamic/DynamicTable.vue";
import common from "@/store/modules/common";
import axios from "axios";
import {
  Activity,
  ActivityVariable
} from "@/store/models/DetailPlan/detailPlan";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Innerrouting,
    Button,
    DynamicForm,
    DynamicTable,
    Select,
    Option,
    PlanHeader
  }
})
export default class AdditionalInformationView extends Vue {
  subwatershedDistrictPalika: SubWatershedDistrictPalika[] = [];
  socioData: SocioVariable[] = [];
  selectedIndex = -1;
  selectedDataIndex = -1;
  dialogVisible = false;
  settingDialogVisible = false;
  // socioEconomics: Activity[] = [];
  planid: number = 0;
  problemId: number = 0;
  activityId: number = 0;
  selectedPalika: { [id: number]: number[] } = {};
  activityInformationSettings: Activity[] = [];
  tabActiveName = "0inner";
  image: any;
  imageIndex: number = 0;
  responseImageName: any;

  get imageName() {
    // console.log("printing " + this.ImageData.name);
    return imageStore.ImageData;
  }
  get plan() {
    return planStore.watershedPlan;
  }

  // get problem() {
  //   return problemStore.SelectedProblemList.filter(
  //     x => x.id === this.problemId
  //   )[0];
  // }

  get socioEconomics() {
    return detailPlanStore.AdditionalInformation;
  }

  // set socioEconomics(information: Activity[]) {}

  created() {
    common.setPlanPercent(30);
    if (
      this.$route.query.planid &&
      this.$route.query.problemid &&
      this.$route.query.activityid
    ) {
      const planid = Number(this.$route.query.planid);
      const problemid = Number(this.$route.query.problemid);
      const activityid = Number(this.$route.query.activityid);
      this.planid = planid;
      this.problemId = problemid;
      this.activityId = activityid;
      this.loadData(planid, problemid, activityid);
      planStore.getPlanByPlanId(this.planid);
      problemStore.getSelectedProblemsByPlanId(this.planid);
    } else {
      //return error page
    }
  }

  get palikas() {
    return [];
  }

  get singelData() {
    if (this.selectedIndex > -1) {
      this.socioData = [] as ActivityVariable[];
      var dataLength = this.socioEconomics[this.selectedIndex].Data.length;
      var rowindex = 0;
      if (dataLength > 0) {
        if (
          this.selectedDataIndex < dataLength &&
          this.selectedDataIndex !== -1
        ) {
          rowindex = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][0].rowindex;
        } else {
          rowindex =
            this.socioEconomics[this.selectedIndex].Data[dataLength - 1][0]
              .rowindex + 1;
        }
      }
      for (
        var i = 0;
        i < this.socioEconomics[this.selectedIndex].Meta.length;
        i++
      ) {
        var me = this.socioEconomics[this.selectedIndex].Meta[i] as Meta;
        var variable = {} as ActivityVariable;
        if (this.selectedDataIndex == -1) {
          variable.rowindex = rowindex;
          variable.value = "";
          variable.id = 0;
        } else {
          variable = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][i];
        }

        var obj = {
          value: variable.value,
          id: variable.id,
          rowindex: variable.rowindex,
          variableid: me.id,
          planid: this.planid,
          problemid: this.problemId,
          activityid: this.activityId
        } as ActivityVariable;
        this.socioData.push(obj);
      }
      return this.socioEconomics[this.selectedIndex];
    }
    return [];
  }

  dialogClose() {
    this.selectedDataIndex = -1;
  }

  temp() {
    var meta = {
      controltype: "text",
      name: "abc",
      caption: "abc",
      validationregex: "",
      datatype: ""
    } as Meta;

    var socio = {
      Name: "abc",
      ActivityId: 0,
      Meta: [meta] as Meta[],
      Data: [] as ActivityVariable[][]
    } as Activity;
    this.socioEconomics.push(socio);
  }

  async loadData(planid: number, problemId: number, activityId: number) {
    //detailPlanStore.getPlanByPlanId(planid);
    // this.socioEconomics =
    await detailPlanStore.storeActivityDetailInformation({
      planId: planid,
      problemId: problemId,
      activityId: activityId
    });
  }

  addRow(i: number) {
    this.selectedDataIndex = -1;
    this.dialogVisible = true;
    this.selectedIndex = i;
  }

  deleteRow(i: number, j: number) {
    this.socioEconomics[i].Data.splice(j, 1);
    this.selectedPalika[i].splice(j, 1);
  }

  ///-------DynamicForm Event
  onOKButtonClicked(e: any) {
    console.log(e);
    this.dialogVisible = false;
    if (this.selectedDataIndex == -1) {
      for (var x in e) {
        if (e[x].image) {
          this.image = e[x].image;
          this.imageIndex = this.selectedIndex;
          imageStore.pushImageData(this.image);
        }
      }
      // this.socioEconomics[this.selectedIndex].Data.push(e);
      detailPlanStore.pushAdditionalInformation({
        data: e,
        index: this.selectedIndex
      });
    } else {
      for (var x in e) {
        if (e[x].image) {
          this.image = e[x].image;
          this.imageIndex = this.selectedIndex;
          imageStore.updateImageData(this.image);
        }
      }
      //update inside dynamic table not fired so $set is used
      // this.$set(
      //   this.socioEconomics[this.selectedIndex].Data,
      //   this.selectedDataIndex,
      //   e
      // );
      detailPlanStore.updateAdditionalInformation({
        data: e,
        index: this.selectedIndex,
        dataIndex: this.selectedDataIndex
      });
    }
    this.selectedDataIndex = -1;
  }

  ///------DynamicTable Event
  onDynamicEditButtonClicked(e: any) {
    this.selectedIndex = e.parentIndex;
    this.selectedDataIndex = e.dataIndex;
    this.dialogVisible = true;
  }

  onDynamicDeleteButtonClicked(e: any) {
    let id = this.socioEconomics[e.parentIndex].Data[e.dataIndex][0].id;
    let variableId = this.socioEconomics[e.parentIndex].ActivityId;
    let socioeconomicName = this.socioEconomics[e.parentIndex].Name;
    let rowindex = this.socioEconomics[e.parentIndex].Data[e.dataIndex][0]
      .rowindex;

    this.$confirm(
      "This will permanently delete all the data of '" +
        socioeconomicName +
        "' in row '" +
        (rowindex + 1) +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        // if (id != 0) {
        await detailPlanStore.deleteAdditionalInformation({
          planId: this.planid,
          problemId: this.problemId,
          activityId: this.activityId,
          activitygroupId: variableId,
          rowindex: rowindex,
          data: e
        });
        this.$snotify.success("Deleted Successfully");
      })
      .catch(error => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  async saveAdditionalInformation() {
    common.showLoading();

    await imageStore.saveImage();
    // if (this.imageName !== undefined) {
    //   this.responseImageName = this.imageName.name;
    // }

    // for (var x in this.socioEconomics[this.imageIndex].Data) {
    //   for (var element in this.socioEconomics[this.imageIndex].Data[x]) {
    //     if (this.socioEconomics[this.imageIndex].Data[x][element].file) {
    //       this.socioEconomics[this.imageIndex].Data[x][
    //         element
    //       ].value = this.responseImageName;
    //     }
    //   }
    // }

    // this.socioEconomics =
    await detailPlanStore.saveAdditionalInformation({
      planid: this.planid,
      problemId: this.problemId,
      activityId: this.activityId,
      socio: this.socioEconomics
    });

    // await imageStore.saveImage(this.image);

    // this.image = null;

    common.hideLoading();
    this.$snotify.success("Saved Successfully");
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 60
    });
  }
  async saveAndContinue() {
    this.saveAdditionalInformation();
    this.$router.push(
      "/Detail/ActivityStakeholder?planid=" +
        this.planid +
        "&problemid=" +
        this.problemId +
        "&activityid=" +
        this.activityId +
        "&previous=additionalinfo"
    );
  }

  setting() {
    this.activityInformationSettings = JSON.parse(
      JSON.stringify(this.socioEconomics)
    );
    // console.log(this.activityInformationSettings);
    this.tabActiveName = "0inner";
    this.settingDialogVisible = true;
  }
  async saveSetting() {
    this.settingDialogVisible = false;
    var ls = this.socioEconomics;

    // this.socioEconomics =
    await detailPlanStore.saveActivityInformationSetting({
      planId: this.planid,
      socio: this.activityInformationSettings
    });
  }

  async goto(link: any) {
    this.saveAdditionalInformation();
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>
