<template>
  <div>
    <el-upload
      action
      :auto-upload="false"
      :file-list="fileList"
      :limit="1"
      :on-change="handleFileUpload"
      :multiple="false"
    >
      <el-button slot="trigger" size="small" type="primary">select file</el-button>
    </el-upload>
    <el-button
      style="margin-left: 10px;"
      size="small"
      type="success"
      @click="submitFile"
    >upload to server</el-button>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Button } from "element-ui";
import axios from "axios";

@Component({
  components: {
    Button
  }
})
export default class ProblemList extends Vue {
  planid = 0;
  fileList: File[] = [];
  file: File = {} as File;

  submitFile() {
    let formData = new FormData();
    formData.append("file", this.file);
    formData.append("plan", "128");
    axios
      .post("http://127.0.0.1:8000/api/gendoc/", formData, {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      })
      .then(function() {
        console.log("SUCCESS!!");
      })
      .catch(function() {
        console.log("FAILURE!!");
      });
    // console.log(this.$refs.upload.submit());
  }
  handleFileUpload(event: any) {
    this.fileList = [event];
    // console.log(event);
    this.file = event.raw;
    // console.log(this.file);
  }
}
</script>

<style lang="sass" scoped>
i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 15px;
</style>
