<template>
  <div class="max-height">
    <div class="overflow max-height-ls scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader />
          <div class="flex spacebetween padBottom-20">
            <h3>Selected Problems</h3>
            <!-- ({{planName}}) -->
          </div>
          <el-table
            :data="dataList"
            style="width: 100%"
            @cell-mouse-enter="highlightProblem"
            @cell-mouse-leave="unhighlightProblem"
          >
            <el-table-column prop="selected" label="Action" width="110" fixed="left">
              <template slot-scope="scope">
                <el-button type="text" @click="ProblemDetail(scope.row.id, scope.row.activityid)">
                  <el-tooltip class="item" effect="dark" content="Detail Info" placement="top">
                    <i class="el-icon-news"></i>
                  </el-tooltip>
                </el-button>
                <!--Detail-->

                <el-button type="text" @click="Stakeholders(scope.row.id,scope.row.activityid)">
                  <el-tooltip class="item" effect="dark" content="Stakeholders" placement="top">
                    <i class="el-icon-tickets"></i>
                  </el-tooltip>
                </el-button>
                <!--Stakeholders-->

                <el-button type="text" @click="Cost(scope.row.id,scope.row.activityid)">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    content="Scope Of Activity"
                    placement="top"
                  >
                    <i class="el-icon-zoom-in"></i>
                  </el-tooltip>
                </el-button>
                <!--Scope Of Activity-->
              </template>
            </el-table-column>
            <el-table-column prop="problemserialdetail" label="Problem Code" min-width="150">
              <template slot-scope="scope">
                <strong>{{scope.row.problemserialdetail}}</strong>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="Problem Name" width="200"></el-table-column>
            <el-table-column prop="problemtype" label="Problem Type" width="130"></el-table-column>
            <el-table-column prop="programname" label="Program/Issue" width="250"></el-table-column>
            <el-table-column prop="severity" label="Severity" width="100"></el-table-column>
            <el-table-column prop="activityname" label="Activity" width="250"></el-table-column>
          </el-table>
        </div>
      </div>
      <div class="absolute-block mask-scroll"></div>
    </div>
    <div class="gutter-sd text-right">
      <!-- <el-button type="primary" :disabled="dataList.length<2" @click="next">Next</el-button> -->
      <el-button type="primary" @click="goBack" icon="el-icon-arrow-left">Back</el-button>

      <el-button
        class="el-icon-download"
        type="primary"
        @click="downloadCSV({ filename: 'SelectedProblem.csv' })"
      >Download</el-button>

      <el-button type="primary" @click="overview(planid)">
        Overview
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { ProblemModel } from "@/store/models/Problem/Problem";
import problemStore from "@/store/modules/problem";
import planStore from "@/store/modules/plan";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { Button } from "element-ui";
import mapStore from "@/store/modules/map";
import commonStore from "@/store/modules/common";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Button,
    Innerrouting,
    PlanHeader
  }
})
export default class ProblemList extends Vue {
  planid = 0;
  // dataList: ProblemModel[] = [];

  get planName() {
    return planStore.watershedPlan.name;
  }

  get dataList() {
    return problemStore.SelectedProblemList;
  }

  highlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem(row.map);
  }

  unhighlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem("");
  }

  async created() {
    commonStore.setPlanPercent(30);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await planStore.getPlanByPlanId(this.planid);
      await problemStore.getSelectedProblemsByPlanId(this.planid);
      // Draws selected problem in map
      await mapStore.focusSubWatershed("?planid=" + this.planid);
      await mapStore.addProblem(problemStore.SelectedProblemList);
    }
  }

  mounted() {
    if (this.$route.query.previous) {
      let previous = this.$route.query.previous;
      let DetailPrevious = "";
      if (previous == "planlist") {
        DetailPrevious = "/Plan/List";
        commonStore.setBeforeDetailPath(DetailPrevious);
      } else if (previous == "problemrank") {
        DetailPrevious = "/Plan/Problem/ProblemRank?planid=" + this.planid;
        commonStore.setBeforeDetailPath(DetailPrevious);
      }
    }
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  ProblemDetail(problemId: number, activityId: number) {
    mapStore.highlightProblem("");
    this.$router.push(
      "/Detail/additionalInfo?planid=" +
        this.planid +
        "&problemid=" +
        problemId +
        "&activityid=" +
        activityId
    );
  }

  Stakeholders(problemId: number, activityId: number) {
    mapStore.highlightProblem("");
    this.$router.push(
      "/Detail/ActivityStakeholder?planid=" +
        this.planid +
        "&problemid=" +
        problemId +
        "&activityid=" +
        activityId +
        "&previous=detaillist"
    );
  }

  Cost(problemId: number, activityId: number) {
    mapStore.highlightProblem("");
    this.$router.push(
      "/Detail/ScopeOfActivityDetailList?planid=" +
        this.planid +
        "&problemid=" +
        problemId +
        "&activityid=" +
        activityId +
        "&previous=detaillist"
    );
  }

  goBack() {
    this.$router.push(commonStore.beforeDetailPath);
  }

  overview(planid: number) {
    this.$router.push(
      "/Detail/Overview?planid=" + planid + "&previous=selectedproblems"
    );
  }

  convertArrayOfObjectsToCSV(args: any) {
    let result: any;
    let ctr: any;
    let keys: any;
    let columnDelimiter: any;
    let lineDelimiter: any;
    let data: any;

    data = args.data || null;
    if (data == null || !data.length) {
      return null;
    }

    columnDelimiter = args.columnDelimiter || ",";
    lineDelimiter = args.lineDelimiter || "\n";

    // keys = Object.keys(data[0]);
    keys = Object.keys(data[0]).sort(function(a, b) {
      return a.length - b.length;
    });
    let keys_name: any = {
      name: "Problem Name",
      location: "Location",
      severity: "Severity",
      programname: "Program",
      activityname: "Activity",
      problemserialdetail: "Problem Serial No.",
      problemtype: "Problem Type",
      problemsubtype: "Problem Sub-Type",
      cause: "Problem Cause",
      selected: "Selected"
    };

    let manual_keys = [];
    for (let key of keys) {
      if (keys_name[key] !== undefined) {
        manual_keys.push(keys_name[key]);
      } else {
        manual_keys.push(key);
      }
    }

    result = "";
    result += manual_keys.join(columnDelimiter);
    result += lineDelimiter;

    data.forEach(function(item: any) {
      ctr = 0;
      keys.forEach(function(key: any) {
        if (ctr > 0) result += columnDelimiter;

        result += "\"" + String(item[key])
          .replace(new RegExp("\r?\n", "g"), " ") + "\"" 
        ctr++;
      });
      result += lineDelimiter;
    });

    return result;
  }

  downloadCSV(args: { filename: string }) {
    let filteredProblem = [];
    let slicedProblemData = this.dataList.slice(0);

    for (var i = 0; i < slicedProblemData.length; i++) {
      const {
        id,
        elementaffected,
        scopeofproblems,
        map,
        area,
        length,
        rank,
        avg,
        problemtypeid,
        planid,
        programid,
        activityid,
        problemsubtypeid,
        selected,
        cause,
        potentialobstacles,
        objectives,
        problemtype,
        total_plan_year,
        ...result
      } = slicedProblemData[i];

      filteredProblem.push(result);
    }

    // filteredProblem.forEach(function(x) {
    //   let temp1 = x.name
    //   let temp2 = x.problemtype
    //   x
    // })

    var csv = this.convertArrayOfObjectsToCSV({
      data: filteredProblem
    });
    if (csv == null) return;

    var filename = args.filename || "export.csv";

    if (!csv.match(/^data:text\/csv/i)) {
      csv = "data:text/csv;charset=utf-8," + csv;
    }
    var data = encodeURI(csv);

    var link = document.createElement("a");
    link.setAttribute("href", data);
    link.setAttribute("download", filename);
    link.click();
  }

  async goto(link: any) {
    eventHub.$off("goto", this.goto);
    this.$router.push(link);
  }
}
</script>

<style lang="sass" scoped>
i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 15px;
</style>
