<template>
  <div class="max-height">
    <Innerrouting :activeView="7" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <h3>Overview</h3>
          <planList />
<!--          <bioPhysicalList />-->
          <InstructionsViewDistrictInfo/>
<!--          <socioEconomic />-->
<!--          <planStakeholder />-->
<!--          <problemListing />-->
<!--          <problemRankListing />-->
<!--          <detailProblemList />-->
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <el-button type="primary" @click="goBack" icon="el-icon-arrow-left">Back</el-button>

      <el-button type="primary" @click="next(planid)" v-if="nextVisible">
        Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

import commonStore from "@/store/modules/common";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";

import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import planList from "@/views/DetailPlan/overviewComponent/planList.vue";
import bioPhysicalList from "@/views/DetailPlan/overviewComponent/bioPhysicalList.vue";
import socioEconomic from "@/views/DetailPlan/overviewComponent/socioEconomic.vue";
import planStakeholder from "@/views/DetailPlan/overviewComponent/planStakeholder.vue";
import problemListing from "@/views/DetailPlan/overviewComponent/problemListing.vue";
import problemRankListing from "@/views/DetailPlan/overviewComponent/problemRankListing.vue";
import detailProblemList from "@/views/DetailPlan/overviewComponent/detailProblemList.vue";
import { eventHub } from "@/utils/eventHub";
import InstructionsViewDistrictInfo from "@/views/DetailPlan/overviewComponent/InstructionsViewDistrictInfo.vue";

@Component({
  components: {
    InstructionsViewDistrictInfo,
    Innerrouting,
    planList,
    bioPhysicalList,
    socioEconomic,
    planStakeholder,
    problemListing,
    problemRankListing,
    detailProblemList
  }
})
export default class SituationOverview extends Vue {
  planid = 0;

  get plan() {
    return planStore.watershedPlan;
  }

  get selectedProblem() {
    return problemStore.SelectedProblemList;
  }

  get nextVisible() {
    if (this.plan.role === "Manager") {
      return false;
    }
    let result = false;
    if (this.plan.role !== "Manager") {
      for (const problem of this.selectedProblem) {
        if (problem.scopeofproblems.length > 0) {
          return true;
        }
      }
    }
    return result;
  }

  async created() {
    commonStore.setPlanPercent(65);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await problemStore.getSelectedProblemsByPlanId(this.planid);
    }
  }

  mounted() {
    if (this.$route.query.previous) {
      let previous = this.$route.query.previous;
      let PreviousPath = "";
      if (previous == "planlist") {
        PreviousPath = "/Plan/List";
        commonStore.setBeforeOverviewPath(PreviousPath);
      } else if (previous == "selectedproblems") {
        PreviousPath = "/Detail/SelectedProblems?planid=" + this.planid;
        commonStore.setBeforeOverviewPath(PreviousPath);
      }
    }
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  goBack() {
    this.$router.push(commonStore.beforeOverviewPath);
  }

  next(planid: number) {
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 70
    });
    this.$router.push("/Reporting/WorkPlan/?planid=" + this.planid);
  }

  async goto(link: any) {
    this.$router.push(link);
  }
}
</script>
