<template>
  <div style="height: 80%">
    <!-- <Innerrouting :activeView="2"/> -->
    <div class="border-box gutter2 scroll-auto max-height-ls" style="height: 50%">
      <el-row :gutter="20">
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">House (No.)</span>
          <el-input
            placeholder="Number of houses"
            name="Number of houses"
            v-validate="'numeric'"
            v-model="data.houses"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Number of houses')"
          >{{errors.first('Number of houses')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">School (No.)</span>
          <el-input
            placeholder="Number of schools"
            name="Number of schools"
            v-validate="'numeric'"
            v-model="data.schools"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Number of schools')"
          >{{errors.first('Number of schools')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Health Post (No.)</span>
          <el-input
            placeholder="Number of health posts"
            name="Number of health posts"
            v-validate="'numeric'"
            v-model="data.healthpost"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Number of health posts')"
          >{{errors.first('Number of health posts')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Other Building (No.)</span>
          <el-input
            placeholder="Number of other buildings"
            name="Number of other buildings"
            v-validate="'numeric'"
            v-model="data.otherbuildings"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Number of other buildings')"
          >{{errors.first('Number of other buildings')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Road (km)</span>
          <el-input
            placeholder="Roads in km"
            name="Roads in km"
            v-validate="'decimal'"
            v-model="data.roads"
            clearable
          ></el-input>
          <small class="error" v-if="errors.has('Roads in km')">{{errors.first('Roads in km')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Bridge (No.)</span>
          <el-input
            placeholder="Number of bridges"
            name="Number of bridges"
            v-validate="'numeric'"
            v-model="data.bridges"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Number of bridges')"
          >{{errors.first('Number of bridges')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Irrigation Scheme (km)</span>
          <el-input
            placeholder="Irragition Scheme in km"
            name="Irragition Scheme in km"
            v-validate="'decimal'"
            v-model="data.irrigationscheme"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Irragition Scheme in km')"
          >{{errors.first('Irragition Scheme in km')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Agriculture Land (ha)</span>
          <el-input
            placeholder="Agriculture land in hectares"
            name="Agriculture land in hectares"
            v-validate="'decimal'"
            v-model="data.agricultureland"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Agriculture land in hectares')"
          >{{errors.first('Agriculture land in hectares')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Forest (ha)</span>
          <el-input
            placeholder="Forest in hectares"
            name="Forest in hectares"
            v-validate="'decimal'"
            v-model="data.forest"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Forest in hectares')"
          >{{errors.first('Forest in hectares')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Telecom (km)</span>
          <el-input
            placeholder="Telecom in km"
            name="Telecom in km"
            v-validate="'decimal'"
            v-model="data.telecom"
            clearable
          ></el-input>
          <small class="error" v-if="errors.has('Telecom in km')">{{errors.first('Telecom in km')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Electricity (km)</span>
          <el-input
            placeholder="Electricity in km"
            name="Electricity in km"
            v-validate="'decimal'"
            v-model="data.electricity"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Electricity in km')"
          >{{errors.first('Electricity in km')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Hydropower (No.)</span>
          <el-input
            placeholder="Number of hydropower"
            name="Number of hydropower"
            v-validate="'numeric'"
            v-model="data.hydropower"
            clearable
          ></el-input>
          <small
            class="error"
            v-if="errors.has('Number of hydropower')"
          >{{errors.first('Number of hydropower')}}</small>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Others</span>
          <el-input
            placeholder="Others"
            name="Others"
            v-validate="'decimal'"
            v-model="data.others"
            clearable
          ></el-input>

          <small class="error" v-if="errors.has('Others')">{{errors.first('Others')}}</small>
        </el-col>
      </el-row>
    </div>
    <el-row>
      <el-col :xs="24" :sm="24">
        <el-button style="width:100%;" type="primary" @click="submit()">Submit</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import {
  ProblemModel,
  ElementAffectedModel
} from "@/store/models/Problem/Problem";
import commonStore from "@/store/modules/common";
import metaStore from "@/store/modules/meta";
import problemStore from "@/store/modules/problem";
import planStore from "@/store/modules/plan";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";
@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
    Innerrouting
  }
})
export default class ElementAffected extends Vue {
  activeName = "1";
  problemId = 0;
  @Prop()
  data!: ElementAffectedModel;

  created() {
    if (this.$route.query.id) {
      const id = Number(this.$route.query.id);
      this.problemId = id;
      //   planStore.getPlanByPlanId(planid);
    }
  }

  async submit() {
    let isvalid = await this.$validator.validateAll();
    if (isvalid) {
      this.$emit("affected-element-submitted", this.data);
    } else {
      // console.log("invalid");
      this.$snotify.error("Invalid form");
    }
    // console.clear();
    // console.log(this.model);
    // //this.model.planid = this.plan.id;
    // this.model.problemid = this.problemId;
    // commonStore.showLoading();
    // const res = await problemStore.saveElementAffected(this.model);
    // this.model = res;
    // commonStore.hideLoading();
  }
}
</script>

<style lang="sass">
.el-form-item
  margin-bottom: 0px!important

  .el-form-item__content
    margin-bottom: 20px

</style>
