<template>
  <div class="max-height">
    <Innerrouting :activeView="2" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <h3>My Sub-Watershed Plan:</h3>
          <PlanHeader />
          <el-row :gutter="20">
            <el-col :xs="24" class="margin-btm">
              <div class="flex spacebetween verticleCenter">
                <h3>Add/Edit Problem</h3>
                <el-button @click="addProblem()" type="text">
                  <i class="el-icon-circle-plus-outline"></i>Add new Problem
                </el-button>
              </div>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Problem</span>
              <el-input
                placeholder="Name"
                v-model="model.name"
                name="Problem"
                v-validate="'required'"
                clearable
              ></el-input>
              <small class="error" v-if="errors.has('Problem')">{{errors.first('Problem')}}</small>
            </el-col>

            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Problem Type</span>
              <el-select
                name="ProblemType"
                v-validate="'required'"
                v-model="model.problemtypeid"
                placeholder="Select"
              >
                <el-option
                  v-for="item in programTypes"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
              <small class="error" v-if="errors.has('ProblemType')">{{errors.first('ProblemType')}}</small>

              <span class="demo-input-label">Problem Sub-Type</span>
              <el-select
                name="ProblemSubType"
                v-validate="'required'"
                v-model="model.problemsubtypeid"
                placeholder="Select"
                @change="addCause"
              >
                <el-option
                  v-for="item in problemSubTypesByProblemType"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
              <small
                class="error"
                v-if="errors.has('ProblemType')"
              >{{errors.first('ProblemSubType')}}</small>

              <div class="gapBelow-20">
                <span class="demo-input-label">Location</span>
                <el-input
                  placeholder="Location"
                  v-model="model.location"
                  type="textarea"
                  name="Location"
                  v-validate="'required'"
                  clearable
                ></el-input>
                <small class="error" v-if="errors.has('Location')">{{errors.first('Location')}}</small>
              </div>

              <div class="gapBelow-20">
                <span class="demo-input-label">
                  Draw Problem
                  <!-- : {{model.map}} -->
                </span>
                <div>
                  <el-button plain @click="addDraw('Point')">Draw Point</el-button>
                  <el-button plain @click="addDraw('LineString')">Draw Line</el-button>
                  <el-button plain @click="addDraw('Polygon')">Draw Polygon</el-button>
                  <el-button plain @click="clearDraw">Clear</el-button>
                </div>
              </div>

              <div class="gapBelow-20">
                <span class="demo-input-label">
                  Problem Length/Area
                  :
                  <span v-html="problemArea"></span>
                </span>
              </div>

              <div class="gapBelow-20">
                <span class="demo-input-label">Severity</span>
                <el-radio
                  name="Severity"
                  v-validate="'required'"
                  v-model="model.severity"
                  value="low"
                  label="low"
                >Low</el-radio>
                <el-radio
                  name="Severity"
                  v-validate="'required'"
                  v-model="model.severity"
                  value="medium"
                  label="medium"
                >Medium</el-radio>
                <el-radio
                  name="Severity"
                  v-validate="'required'"
                  v-model="model.severity"
                  value="high"
                  label="high"
                >High</el-radio>
                <small class="error" v-if="errors.has('Severity')">{{errors.first('Severity')}}</small>
              </div>

              <div class="gapBelow-20">
                <span class="demo-input-label">Cause</span>
                <el-input
                  name="Cause"
                  v-validate="'required'"
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 4}"
                  placeholder="Cause"
                  v-model="model.cause"
                  clearable
                ></el-input>
                <small class="error" v-if="errors.has('Cause')">{{errors.first('Cause')}}</small>
              </div>
            </el-col>

            <h4 class="demo-input-label">Intervention Needed</h4>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Program</span>

              <el-select
                name="Program"
                v-validate="'required'"
                v-model="model.programid"
                placeholder="Select"
              >
                <el-option
                  v-for="item in issues"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
              <small class="error" v-if="errors.has('Program')">{{errors.first('Program')}}</small>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Activity</span>
              <el-select
                name="Activity"
                v-validate="'required'"
                v-model="model.activityid"
                placeholder="Select"
              >
                <el-option
                  v-for="activity in activitiesByIssue"
                  :key="activity.id"
                  :label="activity.name"
                  :value="activity.id"
                ></el-option>
              </el-select>
              <small class="error" v-if="errors.has('Activity')">{{errors.first('Activity')}}</small>
            </el-col>

            <el-col :xs="24" :sm="24">
              <div class="gapBelow-20">
                <span class="demo-input-label">Potential Obstacles</span>
                <el-input
                  name="PotentialObstacles"
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 4}"
                  placeholder="Potential Obstacles"
                  v-model="model.potentialobstacles"
                  clearable
                ></el-input>
                <!--                <small class="error" v-if="errors.has('PotentialObstacles')">{{errors.first('PotentialObstacles')}}</small>-->
              </div>
            </el-col>

            <el-col :xs="24" :sm="24">
              <!-- <div class="border-box gutter2">
                <div class="flex spacebetween padBottom-10">
                  <span class="demo-input-label">Add Activity</span>
                  <div>
                    <el-button
                      :disabled="model.programid==0"
                      icon="el-icon-circle-plus"
                      @click="addActivity"
                      type="text"
                    >Add Activity</el-button>
                  </div>
                </div>
                <el-collapse v-model="activeName" accordion>
                  <el-collapse-item
                    :name="i"
                    v-for="(activity,i) in model.scopeofproblems"
                    :key="i"
                  >
                    <template
                      slot="title"
                    >{{getActivityNameById(model.scopeofproblems[i].activityid)}}</template>
                    <el-col :xs="24" :sm="24">
                      <div class="flex">
                        <span class="demo-input-label">Activity</span>
                        <div class="flex-right">
                          <i class="el-icon-remove-outline"></i>
                          <el-button @click="removeActivity(i)" type="text">Remove</el-button>
                        </div>
                      </div>
                      <el-select
                        v-model="model.scopeofproblems[i].activityid"
                        placeholder="Select"
                        @change="setDataSourceForScopesOfActivityByActivityId(model.scopeofproblems[i].activityid,i)"
                      >
                        <el-option
                          v-for="activity in activitiesByIssue"
                          :key="activity.id"
                          :label="activity.name"
                          :value="activity.id"
                        ></el-option>
                      </el-select>

                      <span class="demo-input-label">Scope of Activity</span>

                      <el-select
                        v-model="model.scopeofproblems[i].scopeofactivityid"
                        placeholder="Select"
                      >
                        <el-option
                          v-for="scope in scopeOfActivityDS[i]"
                          :key="scope.id"
                          :label="scope.name"
                          :value="scope.id"
                        ></el-option>
                      </el-select>
                    </el-col>
                  </el-collapse-item>
                </el-collapse>
              </div>-->
              <div class="gutter2">
                <div class="flex spacebetween padBottom-10">
                  <span class="demo-input-label">Add Elements Affected</span>
                  <div>
                    <el-button
                      type="text"
                      icon="el-icon-circle-plus"
                      class="left-auto"
                      @click="addRow"
                    >Add Row</el-button>
                  </div>
                </div>
              </div>

              <el-dialog
                title="Elements Affected"
                :visible.sync="dialogVisible"
                width="60%"
                top="0px"
                class="elementAffectedDialogBox"
              >
                <elementAffected
                  :data="elementsAffectedModel"
                  v-on:affected-element-submitted="onElementAffectedSubmitted"
                ></elementAffected>
              </el-dialog>

              <elementAffectedlist
                :dataList="model.elementaffected"
                v-on:affected-element-edit="onElementAffectedEdit"
              ></elementAffectedlist>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>

    <div class="gutter-sd text-right">
      <el-button type="primary" icon="el-icon-arrow-left" @click="back()">Back</el-button>

      <el-button type="primary" @click="submit()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save and Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import {
  ProblemModel,
  ScopeOfProblem,
  ElementAffectedModel
} from "@/store/models/Problem/Problem";
import commonStore from "@/store/modules/common";
import metaStore from "@/store/modules/meta";
import problemStore from "@/store/modules/problem";
import mapStore from "@/store/modules/map";
import planStore from "@/store/modules/plan";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";
import { Activity, ScopeOfActivity } from "@/store/models/meta";
import elementAffectedlist from "@/views/Plan/Step2/Component/ElementAffectedList.vue";
import elementAffected from "@/views/Plan/Step2/ElementAffected.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
    Innerrouting,
    elementAffectedlist,
    elementAffected,
    PlanHeader
  }
})
export default class Problem extends Vue {
  activeName = 1;
  // model: ProblemModel = this.getDefaultModel();
  planid = 0;
  problemid = 0;

  selectedIndexofElementAffected = -1;
  scopeOfActivityDS: ScopeOfActivity[][] = [];
  dialogVisible = false;
  // elementsAffectedModel = {} as ElementAffectedModel;
  elementsAffectedModel = {
    houses: 0,
    schools: 0,
    healthpost: 0,
    otherbuildings: 0,
    roads: 0,
    bridges: 0,
    irrigationscheme: 0,
    agricultureland: 0,
    forest: 0,
    telecom: 0,
    electricity: 0,
    hydropower: 0,
    others: ""
  } as ElementAffectedModel;
  drawText = "Draw";
  drawButton = "primary";

  get model() {
    return problemStore.Problem;
  }

  get activitiesByIssue() {
    const activity = this.activities.filter(
      x => x.programid === this.model.programid
    );
    return activity;
  }

  get problemSubTypesByProblemType() {
    const problemsubtype = this.problemSubTypes.filter(
      x => x.problemtypeid === this.model.problemtypeid
    );
    return problemsubtype;
  }

  get plan() {
    return planStore.watershedPlan;
  }

  get issues() {
    return metaStore.Programs;
  }

  get programTypes() {
    return metaStore.ProgramTypes;
  }

  get problemSubTypes() {
    return metaStore.ProblemSubTypes;
  }

  get activities() {
    return metaStore.Activities;
  }

  get scopeofactivities() {
    return metaStore.ScopeOfActivities;
  }

  get problemArea() {
    let result = "";
    if (this.model.area) {
      if (this.model.area > 10000) {
        result =
          Math.round((this.model.area / 1000000) * 100) / 100 +
          " km<sup>2</sup>";
      } else {
        result = Math.round(this.model.area * 100) / 100 + " m<sup>2</sup>";
      }
    } else if (this.model.length) {
      if (this.model.length > 100) {
        result = Math.round((this.model.length / 1000) * 100) / 100 + " km";
      } else {
        result = Math.round(this.model.length * 100) / 100 + " m";
      }
    }
    return result;
  }

  async created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await planStore.getPlanByPlanId(this.planid);

      if (this.$route.query.problemid) {
        this.problemid = Number(this.$route.query.problemid);
        planStore.getPlanByPlanId(this.planid);
        await problemStore.getProblemById({
          planId: this.planid,
          problemId: this.problemid
        });
      }
    }

    metaStore.loadScopeOfActivities();
    metaStore.loadActivities();
    metaStore.loadPrograms();
    metaStore.loadProgramTypes();
    metaStore.loadProblemSubTypes();

    // await problemStore.getProblemsByPlanId(planid);
    this.loadList(problemStore.Problem.id);
    mapStore.focusSubWatershed("?planid=" + this.planid);
    // Set previously drawing in map
    mapStore.setDraw();
  }

  clearDraw() {
    mapStore.setDrawType(null);
    mapStore.clearDraw();
    problemStore.setMap("");
  }

  Draw() {
    mapStore.setDrawType(null);
    mapStore.clearDraw();
    mapStore.setDrawDialogVisible(true);
    problemStore.setMap("");
  }

  addCause(event: any) {
    this.model.cause = this.problemSubTypesByProblemType.filter(
      x => x.id == event
    )[0].causes;
  }

  addDraw(drawType: string) {
    mapStore.addDraw(drawType);
    mapStore.setDrawDialogVisible(false);
  }

  onElementAffectedSubmitted(obj: ElementAffectedModel) {
    if (!this.model.elementaffected) {
      this.model.elementaffected = [];
    }
    const i = this.selectedIndexofElementAffected;
    if (i > -1) {
      problemStore.updateElementAffected({ elementaffected: obj, index: i });
    } else {
      problemStore.pushElementAffected(obj);
    }
    this.dialogVisible = false;
  }
  onElementAffectedEdit(i: number) {
    this.$validator.errors.clear();
    this.elementsAffectedModel = Object.assign(
      {},
      this.model.elementaffected[i]
    );
    this.selectedIndexofElementAffected = i;
    this.dialogVisible = true;
  }

  addRow() {
    this.$validator.reset();
    this.$validator.errors.clear();
    this.elementsAffectedModel = {
      problemid: this.problemid
    } as ElementAffectedModel;
    this.selectedIndexofElementAffected = -1;
    this.dialogVisible = true;
  }

  addActivity() {
    const a = { problemid: this.problemid } as ScopeOfProblem;
    // id:0,problemid:0,activityid:0,scopeofactivityid:0
    // if (!this.model.scopeofproblems) {
    //   this.model.scopeofproblems = [];
    // }
    // this.model.scopeofproblems.push(a);
    problemStore.pushScopeOfProblems(a);
    this.scopeOfActivityDS.push([] as ScopeOfActivity[]);
  }
  removeActivity(i: number) {
    this.scopeOfActivityDS.splice(i, 1);
    problemStore.removeScopeOfProblems(i);
  }
  getActivityNameById(id: number) {
    const name = this.activities.filter(x => x.id === id);
    if (name.length > 0) {
      return name[0].name;
    }
    return "--SELECT ACTIVITY---";
  }

  setDataSourceForScopesOfActivityByActivityId(id: number, index: number) {
    const ls = this.scopeofactivities.filter(x => x.activityid === id);
    this.scopeOfActivityDS[index] = ls;
  }

  selectedscope() {
    return [];
  }

  async loadList(id: number) {
    if (id != 0) {
      const elementAffected = await problemStore.getElementAffectedByProblemId(
        id
      );
      problemStore.loadElementAffectedToStore(elementAffected);
      const scopeofproblems = await problemStore.getScopeOfProblemByProblemId(
        id
      );
      problemStore.loadScopeOfProblemToStore(scopeofproblems);
    }
  }

  back() {
    mapStore.removeMeasureToolTip();
    this.$router.push("/Plan/Problem/List?planid=" + this.plan.id);
  }

  async submit() {
    let isvalid = await this.$validator.validateAll();
    if (isvalid) {
      console.clear();
      commonStore.showLoading();
      // debugger;
      // console.log(this.model);
      this.model.planid = this.plan.id;
      const res = await problemStore.saveProblem(this.model);
      this.loadList(problemStore.Problem.id);
      commonStore.hideLoading();
      this.$snotify.success("Saved Successfully");
      planStore.updatePlanPercentage({
        planid: this.planid,
        percentCompleted: 15
      });
      return true;
    } else {
      // console.log("invalid");
      this.$snotify.error("Invalid form");
      return false;
    }
  }

  async saveAndContinue() {
    var submit = await this.submit();
    if (submit) {
      mapStore.addProblem([]);
      mapStore.removeMeasureToolTip();
      this.$router.push("/Plan/Problem/ProblemRank?planid=" + this.plan.id);
    }
  }

  async addProblem() {
    var submit = await this.submit();
    if (submit) {
      await problemStore.newProblem();
      await this.$validator.errors.clear();
      this.$router.push("/Plan/Problem?planid=" + this.planid);
    }
  }

  async goto(link: any) {
    var submit = await this.submit();
    if (submit) {
      mapStore.addProblem([]);
      mapStore.removeMeasureToolTip();
      this.$router.push(link);
    }
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>

<style lang="sass">
.el-form-item
  margin-bottom: 0px!important

  .el-form-item__content
    margin-bottom: 20px

i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 5px;
  
.elementAffectedDialogBox
  .el-dialog
    top: 5%
    bottom: 5%
    height: 85%

  .el-dialog__body
      height: 80%

</style>

