<template>
  <div class="max-height">
    <Innerrouting :activeView="2" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader />
          <div class="flex spacebetween padBottom-20">
            <div>
              <h3>List Of Problems</h3>
            </div>
            <div>
              <el-button @click="addProblem()" type="text">
                <i class="el-icon-circle-plus-outline"></i>Add new Problem
              </el-button>
            </div>
          </div>
          <el-table
            :data="dataList"
            style="width: 100%"
            @cell-mouse-enter="highlightProblem"
            @cell-mouse-leave="unhighlightProblem"
          >
            <el-table-column label width="85" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  @click="deleteProblem(scope.$index)"
                  icon="el-icon-delete"
                  title="Delete"
                ></el-button>
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  title="Edit"
                  @click="editProblem(scope.row.id)"
                ></el-button>
              </template>
              <!-- <router-link :to="'/Plan/Problem/elementAffected?id='+scope.row.id">Element Affected</router-link> -->
            </el-table-column>
            <el-table-column prop="problemserialdetail" label="Problem Code" min-width="150">
              <template slot-scope="scope">
                <strong>{{scope.row.problemserialdetail}}</strong>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="Problem Name" min-width="150"></el-table-column>
            <el-table-column prop="problemtype" label="Problem Type" min-width="150"></el-table-column>
            <el-table-column prop="programname" label="Program/Issue" min-width="150"></el-table-column>
            <el-table-column prop="severity" label="Severity" min-width="150"></el-table-column>
            <el-table-column label="Selected" min-width="150">
              <template slot-scope="scope">
                <p v-if="scope.row.selected">YES</p>
                <p v-else>NO</p>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>

    <div class="gutter-sd text-right">
      <router-link :to="'/plan/step1/Stakeholders?planid=' + $route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>
      <!-- <el-button
        class="el-icon-download"
        type="primary"
        :disabled="dataList.length <1"
        @click="downloadCSV({ filename: 'Problem.csv' })"
      >Download</el-button>-->
<!--      <el-button type="primary" @click="next" :disabled="dataList.length <1">-->
      <el-button type="primary" @click="next">
        Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { ProblemModel } from "@/store/models/Problem/Problem";
import problemStore from "@/store/modules/problem";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { Button } from "element-ui";
import mapStore from "@/store/modules/map";
import planStore from "@/store/modules/plan";
import commonStore from "@/store/modules/common";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Button,
    Innerrouting,
    PlanHeader
  }
})
export default class ProblemList extends Vue {
  planid = 0;

  Problem: ProblemModel = {
    name: "",
    cause: "",
    severity: ""
  } as ProblemModel;
  // dataList: ProblemModel[] = [];
  get dataList() {
    return problemStore.ProblemList;
  }

  async created() {
    commonStore.setPlanPercent(10);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await problemStore.getProblemsByPlanId(this.planid);

      // Draws all problem in map
      mapStore.focusSubWatershed("?planid=" + this.planid);
      mapStore.addProblem(problemStore.ProblemList);
    }
  }

  async deleteProblem(index: number) {
    mapStore.highlightProblem("");
    const problemName = this.dataList[index].name;
    this.$confirm(
      "This will permanently delete the problem '" +
        problemName +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await problemStore.deleteProblem(this.dataList[index].id);
        this.dataList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  editProblem(problemID: number) {
    mapStore.highlightProblem("");
    this.$router.push(
      "/Plan/Problem?planid=" + this.planid + "&problemid=" + problemID
    );
  }

  highlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem(row.map);
  }

  unhighlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem("");
  }

  addProblem() {
    this.$router.push("/Plan/Problem?planid=" + this.planid);
    problemStore.newProblem();
  }
  next() {
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 40
    });
    this.$router.push("/Plan/Problem/ProblemRank?planid=" + this.planid);
  }

  convertArrayOfObjectsToCSV(args: any) {
    let result: any;
    let ctr: any;
    let keys: any;
    let columnDelimiter: any;
    let lineDelimiter: any;
    let data: any;

    data = args.data || null;
    if (data == null || !data.length) {
      return null;
    }

    columnDelimiter = args.columnDelimiter || ",";
    lineDelimiter = args.lineDelimiter || "\n";

    // keys = Object.keys(data[0]);
    keys = Object.keys(data[0]).sort(function(a, b) {
      return a.length - b.length;
    });
    // var manual_keys = [
    //   "Problem Name",
    //   "Problem Cause",
    //   "Severity",
    //   "Selected",
    //   "Problem Type",
    //   "Program/Issue",
    //   "Problem Sub-Type",
    //   "Potential Obstacles",
    //   "Problem Code"
    // ];

    result = "";
    result += keys.join(columnDelimiter);
    result += lineDelimiter;

    data.forEach(function(item: any) {
      ctr = 0;
      keys.forEach(function(key: any) {
        if (ctr > 0) result += columnDelimiter;

        result += String(item[key]).replace(new RegExp("\r?\n", "g"), " ");
        ctr++;
      });
      result += lineDelimiter;
    });

    return result;
  }

  downloadCSV(args: { filename: string }) {
    let filteredProblem = [];
    let slicedProblemData = this.dataList.slice(0);

    for (var i = 0; i < slicedProblemData.length; i++) {
      const {
        id,
        activityname,
        elementaffected,
        scopeofproblems,
        map,
        area,
        length,
        rank,
        avg,
        problemtypeid,
        planid,
        programid,
        activityid,
        problemsubtypeid,
        ...result
      } = slicedProblemData[i];

      filteredProblem.push(result);
    }

    // filteredProblem.forEach(function(x) {
    //   let temp1 = x.name
    //   let temp2 = x.problemtype
    //   x
    // })

    var csv = this.convertArrayOfObjectsToCSV({
      data: filteredProblem
    });
    if (csv == null) return;

    var filename = args.filename || "export.csv";

    if (!csv.match(/^data:text\/csv/i)) {
      csv = "data:text/csv;charset=utf-8," + csv;
    }
    var data = encodeURI(csv);

    var link = document.createElement("a");
    link.setAttribute("href", data);
    link.setAttribute("download", filename);
    link.click();
  }

  async goto(link: any) {
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 40
    });
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>

<style lang="sass">


i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 5px;
</style>
