<template>
  <div>
    <el-row :gutter="20">
      <el-col>
        <Navbar/>
      </el-col>
    </el-row>
    <el-row class="body-wrap">
      <el-col class="max-height gutter-tp">
        <div class="white-block marLeft-10 marRight-10 max-height">
          <router-view></router-view>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Navbar from "@/components/UIComponents/Navbar.vue";

@Component({
  components: {
    Navbar
  }
})
export default class PlanLayout extends Vue {}
</script>

<style lang="sass" scoped>
.marRight-10
	margin-right: 10px!important

.marTop-10
	margin-top: 10px

.marLeft-10
	margin-left: 10px!important
</style>

