<template>
  <div>
    <el-row :gutter="20">
      <el-col>
        <Navbar />
      </el-col>
    </el-row>
    <el-row class="body-wrap hideBlock">
      <Aside />
      <router-view></router-view>
    </el-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Navbar from "@/components/UIComponents/Navbar.vue";
import Aside from "@/components/UIComponents/Aside.vue";

@Component({
  components: {
    Navbar,
    Aside
  }
})
export default class MyComponent extends Vue {
  name = "Initial";
  created() {}
}
</script>

<style lang="sass">

.icon-circle.theme
  color: #000;
  background-color: #00000017;

</style>
