<template>
  <el-row class="max-height">
    <el-col class="flex-box-sm respFlex max-height gutter-tp">
      <el-row :class="['flex-row', {'hidden-block': isActive}]">
        <el-col class="flex-row-half" :class="[{'full': makeActive}]">
          <div class="absolute-rightTop ol-unselectable ol-control">
            <button @click="expandMap" title="Expand Map">⤢</button>
          </div>
          <Map />
        </el-col>
        <el-col class="flex-row-half" :class="[{'removeItem': makeActive}]">
          <InstructionsViewDistrictInfo />
        </el-col>
        <button
          class="table-block absolute-block mid right rt-btn-style button-lm"
          @click="toggleButton"
        >
          <i
            class="el-icon-caret-right icon-circle-left half-left theme-left shadow-lt-left"
            v-if="!buttonIsActive"
          ></i>
          <i
            class="el-icon-caret-left icon-circle-left half-left theme-left shadow-lt-left"
            v-if="buttonIsActive"
          ></i>
        </button>
      </el-row>
      <div
        class="marRight-10 relative-block"
        :class="[{'removeItem': makeActive}, {'hidden-column': buttonIsActive}]"
      >
        <div class="white-block max-height">
          <router-view></router-view>
        </div>
        <button class="table-block absolute-block mid left button-rm" @click="toggleClass">
          <i class="el-icon-caret-left icon-circle half theme shadow-lt" v-if="!isActive"></i>
          <i class="el-icon-caret-right icon-circle half theme shadow-lt" v-if="isActive"></i>
        </button>
      </div>
    </el-col>
  </el-row>
</template>

<script lang="ts">
import { Vue, Component, Provide } from "vue-property-decorator";
import Map from "@/views/Plan/Planlayout/Map.vue";
// import Instructions from "@/views/Plan/Planlayout/Instructions.vue";
import InstructionsViewDistrictInfo from "@/views/Plan/Planlayout/InstructionsViewDistrictInfo.vue";
import mapStore from "@/store/modules/map";
import commonStore from "@/store/modules/common";
import "ol/ol.css";
// import Innerrouting from "@/components/SubComponents/Innerroute.vue";

@Component({
  components: {
    Map,
    // Instructions
    InstructionsViewDistrictInfo
  }
})
export default class PlanLayout extends Vue {
  // public isActive: boolean = false;
  // public makeActive: boolean = false;
  //  public buttonIsActive: boolean = false;

  get map() {
    return mapStore.map;
  }

  get makeActive() {
    return mapStore.fullScreenMap;
  }
  get isActive() {
    return commonStore.isActive;
  }
  get buttonIsActive() {
    return commonStore.buttonIsActive;
  }

  async updateMapSize(x: number = 100, y: number = 10) {
    for (var i = 1; i <= x; i++) {
      await new Promise(r => setTimeout(r, y));
      this.map.updateSize();
    }
  }

  async toggleClass() {
    // this.isActive = !this.isActive;
    await commonStore.toggleIsActive();
    this.updateMapSize();
  }
  async toggleButton() {
    // this.isActive = !this.isActive;
    await commonStore.toggleButtonIsActive();
    this.updateMapSize();
  }
  // act() {
  //   this.makeActive = !this.makeActive;
  // }

  async expandMap() {
    await mapStore.toggleMapSize();
    // Wait for map to resize before calling resizeMap
    this.map.updateSize();
  }
}
</script>

<style lang="sass" scoped>
@import './stylesheets/sass/mediaqueries'

.absolute-rightTop
  position: absolute
  top: .5em
  right: 1em
  z-index: 88
  .el-icon-search
    +smallDesktop
      display: inline

.removeItem
  display: none

.full
  flex: 1
  width: 100%

.mapButton
  color: #ffffff
  font-size: 1.14em
  background-color: rgb(0, 96, 202)
  border-radius: 30px
  height: 25px
  width: 25px

.hidden-column
  flex: 0
  opacity: 0

.rt-btn-style
  right: 2%




</style>
