<template>
  <div class="notfound">
    <h1>Page Not Found !</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'notfound',
  components: {
  },
});
</script>
