<template>
  <div>
    <el-table :data="dataList" v-if="data.length>0" style="width: 100%">
      <el-table-column label="Action" width="100" fixed="left" v-if="action">
        <template slot-scope="scope">
          <span v-if="copyIcon">
            <el-button
              type="text"
              @click="copy(scope.$index)"
              icon="el-icon-document-copy"
              title="Copy"
            ></el-button>
          </span>
          <span v-else>
            <el-button
              type="text"
              @click="onDeleteClicked(scope.$index)"
              icon="el-icon-delete"
              title="Delete"
            ></el-button>
            <el-button
              type="text"
              @click="onEditClicked(scope.$index)"
              icon="el-icon-edit"
              title="Edit"
            ></el-button>
          </span>
        </template>
      </el-table-column>
      <!-- <el-table-column prop="Palika" label="Palika" min-width="150"></el-table-column> -->
      <span v-for="(item,index) in header" :key="index">
        <el-table-column
          min-width="150"
          :prop="item.name"
          :label="item.name"
          v-if="item.defaultvisible"
        >
        <template slot-scope="scope">{{scope.row[item.name]}}</template>
        </el-table-column>
      </span>
    </el-table>
  </div>
</template>


<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Input, Select, Option } from "element-ui";
import {
  Meta,
  SocioEconomic,
  SocioVariable
} from "@/store/models/plan/watershedPlan";

@Component({
  components: { Input, Select, Option }
})
export default class DynamicFieldTabular extends Vue {
  @Prop({ default: -1 })
  dataIndex!: number;

  @Prop({ default: true })
  action!: boolean;

  @Prop({ default: false })
  copyIcon!: boolean;

  @Prop({ default: [] as Meta[] })
  public meta!: Meta[];

  @Prop({ default: [] as SocioVariable[][] })
  public data!: SocioVariable[][];

  val: string = "";

  created() {}
  get header() {
    if (this.meta) {
      return this.meta;
    }
    return [];
  }

  get dataList() {
    var dataval: any[] = [];
    // debugger;
    for (var i = 0; i < this.data.length; i++) {
      var obj: any = {};
      if (this.meta.length > 0) {
        for (var j = 0; j < this.meta.length; j++) {
          const key = this.meta[j].name;
          const value = this.data[i][j].value;
          obj[key] = value;
        }
      }
      dataval.push(obj);
    }
    return dataval;
  }

  onEditClicked(index: number) {
    this.$emit("edit-button-clicked", {
      parentIndex: this.dataIndex,
      dataIndex: index
    });
  }
  onDeleteClicked(index: number) {
    this.$emit("delete-button-clicked", {
      parentIndex: this.dataIndex,
      dataIndex: index
    });
  }
  copy(index: number) {
    // console.log(index);
    this.$emit("copy-button-clicked", {
      parentIndex: this.dataIndex,
      dataIndex: index
    });
  }
}
</script>
