<template>
  <div>
    <span style="color: red;" v-if="errors.has(meta.name + '-' + group)">
      {{meta.name}}
      <span v-if="meta.unit">&nbsp;({{meta.unit}})</span>
    </span>
    <span v-else>
      {{meta.name}}
      <span v-if="meta.unit">&nbsp;({{meta.unit}})</span>
    </span>
    <br />
    <div>
      <span v-if="meta.controltype==='text'">
        <el-input
          :name="meta.name + '-' + group"
          v-model="meta.data.value"
          v-validate="{vregex:meta.validationregex,required:meta.required}"
        ></el-input>
      </span>
      <span v-if="meta.controltype==='textarea'">
        <el-input
          :rows="2"
          type="textarea"
          v-validate="{vregex:meta.validationregex,required:meta.required}"
          :name="meta.name + '-' + group"
          v-model="meta.data.value"
        ></el-input>
      </span>
      <span v-else-if="meta.controltype==='list'">
        <el-select
          class="select-default"
          placeholder="Select"
          :name="meta.name + '-' + group"
          v-model="meta.data.value"
        >
          <el-option
            v-for="(text,index) in meta.listofvalues"
            class="select-default"
            :key="index"
            :label="text"
            :value="text"
          ></el-option>
        </el-select>
      </span>

      <small class="error" v-if="errors.has(meta.name + '-' + group)">* {{meta.validationmessage}}</small>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Inject } from "vue-property-decorator";
import { Input, Select, Option } from "element-ui";
import { Meta } from "@/store/models/plan/watershedPlan";
import { Validator, Rule } from "vee-validate";

Validator.extend("vregex", {
  getMessage: (field: any) => {
    return "test";
  },
  validate: (value: any, args: any[]) => {
    if (args.length > 0) {
      if (args[0]) {
        var strongRegex = new RegExp(args[0]);
        return strongRegex.test(value);
      } else {
        return true;
      }
    }

    return false;
  }
} as Rule);

@Component({
  components: { Input, Select, Option }
})
export default class DynamicField extends Vue {
  @Inject("validator") $validator: any;
  @Prop({ default: { caption: "test", name: "test", controltype: "text" } })
  public meta!: Meta;

  @Prop({ default: "n" })
  public group!: String;

  created() {}
}
</script>
