<template>
  <div class="tab">
    <!-- <el-select
      class="select-default"
      placeholder="Select"
      name="Palika"
      v-model="selectedPalika"
      @change="onPalikaChange()"
    >
      <el-option
        v-for="(item,index) in  palikaList"
        class="select-default"
        :key="index"
        :label="item.palika"
        :value="item.palikaid"
      ></el-option>
    </el-select>-->
    <div v-for="(metaItem,i) in meta" :key="i" class="gutter-rt">
      <span v-if="metaItem.controltype === 'file'">{{dataChange(data[i])}}</span>
      <DynamicFieldTabular :meta="metaItem" :data="data[i]" v-if="metaItem.defaultvisible"></DynamicFieldTabular>
      <!-- <div v-for="(metaItem,j) in bioItem.Meta" :key="j">
          <DynamicField :meta="metaItem"></DynamicField>
      </div>-->
    </div>
    <el-button type="primary" class="left-auto marTop-10" @click="okButtonClicked()">OK</el-button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Provide } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";
import planStore from "@/store/modules/plan";
import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta,
  SubWatershedDistrictPalika
} from "@/store/models/plan/watershedPlan";
import { Action } from "@/store/actionType";
import DynamicFieldTabular from "@/components/Dynamic/DynamicFieldTabular.vue";
import DynamicField from "@/components/Dynamic/DynamicField.vue";
import { SubscribeActionOptions } from "vuex";
import { Validator } from "vee-validate";

@Component({
  components: {
    Button,
    DynamicField,
    DynamicFieldTabular,
    Select,
    Option
  }
})
export default class DynamicForm extends Vue {
  @Provide("validator") $validator: Validator = this.$validator;
  planId: number = 8;
  selectedPalika = 0;

  @Prop({ default: [] })
  public palikas!: SubWatershedDistrictPalika[];

  @Prop({ default: [] })
  public meta!: Meta[];

  @Prop({ default: [] })
  public data!: SocioVariable[];

  @Watch("data")
  onChildChanged(val: SocioVariable[], oldVal: SocioVariable[]) {
    if (this.data.length > 0) {
      this.selectedPalika = this.data[0].palikaid!;
      this.updateWithPalika();
    }
  }

  dataChange(data: any) {
    if (data.value !== "" && data.file == undefined) {
      if (data.value.includes(Action.Base.replace("/api", ""))) {
        data.file = [
          {
            url: data.value,
            name: data.value.replace(
              Action.Base.replace("/api", "") + "/media/Upload/",
              ""
            )
          }
        ];
      } else if (data.value.includes("/media/Upload", "")) {
        data.file = [
          {
            url: Action.Base.replace("/api", "") + data.value,
            name: data.value.replace("/media/Upload/", "")
          }
        ];
      }
    }
  }

  get palikaList() {
    const defaultObj = {
      palikaid: 0,
      palika: "-- SELECT --"
    } as SubWatershedDistrictPalika;
    var list = [] as SubWatershedDistrictPalika[];
    list.push(defaultObj);
    if (this.palikas.length > 0) {
      list = list.concat(this.palikas);
    }
    return list;
  }

  mounted() {}
  onPalikaChange() {
    this.updateWithPalika();
    console.clear();
    // console.log(this.data);
  }

  updateWithPalika() {
    for (var ind = 0; ind < this.data.length; ind++) {
      this.data[ind].palikaid = this.selectedPalika;
      const p = this.palikas.filter(x => x.palikaid === this.selectedPalika);
      if (p.length > 0) {
        this.data[ind].palikaname = p[0].palika;
      }
    }
  }

  async okButtonClicked() {
    this.selectedPalika = 0;
    let isValid = await this.$validator.validateAll();
    if (isValid) {
      this.$emit("ok-button-clicked", this.data);
    } else {
      this.$snotify.error("Please fill up the fields properly.");
    }
  }
}
</script>
