<template>
  <div>
    <div>
      <b>{{meta.caption}}</b>
      <span v-if="meta.controltype==='text'">
        <el-input
          :name="meta.name"
          v-model="data.value"
          v-validate="{vregex:meta.validationregex,required:meta.required}"
        ></el-input>
      </span>

      <span v-if="meta.controltype==='textarea'">
        <el-input
          :rows="2"
          type="textarea"
          :name="meta.name"
          v-model="data.value"
          v-validate="{vregex:meta.validationregex,required:meta.required}"
        ></el-input>
      </span>

      <span v-else-if="meta.controltype==='list'">
        <el-select
          class="select-default"
          placeholder="Select"
          :name="meta.name"
          v-model="data.value"
        >
          <el-option
            v-for="(text,index) in meta.listofvalues"
            class="select-default"
            :key="index"
            :label="text"
            :value="text"
          ></el-option>
        </el-select>
      </span>

      <span v-else-if="meta.controltype==='file'">
        <el-upload
          action
          :auto-upload="false"
          :file-list="data.file"
          :before-remove="beforeRemove"
          :on-remove="handleAfterRemove"
          :on-change="handleAfterUpload"
          :multiple="false"
          list-type="picture"
        >
          <el-button slot="trigger" size="small" type="primary">select file</el-button>
        </el-upload>
      </span>

      <small class="error" v-if="errors.has(meta.name)">* {{meta.validationmessage}}</small>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Inject } from "vue-property-decorator";
import { Input, Select, Option } from "element-ui";
import { Meta, SocioVariable } from "@/store/models/plan/watershedPlan";
import { Validator, Rule } from "vee-validate";
import imageStore from "@/store/modules/image";

import axios from "axios";
import detailPlan from "@/store/modules/detailPlan";

Validator.extend("vregex", {
  getMessage: (field: any) => {
    return "test";
  },
  validate: (value: any, args: any[]) => {
    if (args.length > 0) {
      if (args[0]) {
        var strongRegex = new RegExp(args[0]);
        return strongRegex.test(value);
      } else {
        return true;
      }
    }

    return false;
  }
} as Rule);

@Component({
  components: { Input, Select, Option }
})
export default class DynamicFieldTabular extends Vue {
  @Inject("validator") $validator: any;
  @Prop({ default: { caption: "test", name: "test", controltype: "text" } })
  public meta!: Meta;
  @Prop({ default: { id: 0, value: "" } as SocioVariable })
  public data!: SocioVariable | any;
  val: string = "";

  fileList: any[] = [];
  file: File = {} as File;

  async handleAfterUpload(event: any) {
    let formData = new FormData();

    this.fileList[0] = event;
    this.file = event.raw;
    this.data.value = this.file.name;

    formData.append("value", this.file);
    formData.append("rowindex", this.data.rowindex);
    formData.append("variableid", this.data.variableid);
    formData.append("planid", this.data.planid);
    formData.append("problemid", this.data.problemid);
    formData.append("activityid", this.data.activityid);
    formData.append("id", this.data.id);
    // console.log(this.data.planid);
    this.data.image = formData;
    let value: any = "";
    // (await axios
    //   .post("http://127.0.0.1:8000/api/test/", formData, {
    //     headers: {
    //       "Content-Type": "multipart/form-data"
    //     }
    //   })
    //   .then((result: any) => {
    //     this.data.value = result.data;
    //     this.fileList[0] = this.data.value as any;
    //     console.log(this.data);
    //     console.log("SUCCESS!!");
    //   })
    //   .catch(function() {
    //     console.log("FAILURE!!");
    //   })) as any;
    // console.log(this.data);
  }

  beforeRemove(file: any, fileList: any) {
    return this.$confirm(`Do you want to delete ${file.name} ?`);
  }

  handleAfterRemove(file: any, fileList: any) {
    let index = this.fileList.findIndex(x => x.uid === file.uid);

    imageStore.deleteImage(this.data.id);
    if (index !== -1) {
      if (this.fileList[index].id) {
        // overviewStore.deleteActivityProfilePicture(this.fileList[index].id);
      }
      this.fileList.splice(index, 1);
      this.file = {} as File;
    }
  }
}
</script>
