<template>
  <div>
    <div class="loginWrapper">
      <div class="loginBox">
        <div class="loginInner">
          <div class="gapBottom" @keyup.enter="submit">
            <span class="demo-input-label">Current Password</span>
            <el-input
              name="currentpassword"
              v-validate="'required'"
              placeholder="Please enter Current Password"
              v-model="payload.current_password"
              :show-password="false"
              type="password"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('currentpassword')"
            >{{errors.first('currentpassword')}}</small>
          </div>
          <div class="gapBottom" @keyup.enter="submit">
            <span class="demo-input-label">New Password</span>
            <el-input
              name="newpassword"
              v-validate="'required'"
              placeholder="Please enter New Password"
              v-model="payload.new_password"
              :show-password="false"
              type="password"
            ></el-input>
            <small class="error" v-if="errors.has('newpassword')">{{errors.first('newpassword')}}</small>
          </div>
          <div class="gapBottom" @keyup.enter="submit">
            <span class="demo-input-label">New Password Repeat</span>
            <el-input
              name="newpasswordrepeat"
              v-validate="'required'"
              placeholder="Please enter New Password Again"
              v-model="payload.re_new_password"
              :show-password="false"
              type="password"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('newpasswordrepeat')"
            >{{errors.first('newpasswordrepeat')}}</small>
          </div>
          <div class="login">
            <el-button type="primary" @click="submit">Submit</el-button>
          </div>
          <div class="centering">Powered By:</div>
          <div class="centering">
            <img src="@/assets/ptas-logo.png" alt="Pathway Technologies and Services" height="25px">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Input } from "element-ui";
import JWTStore from "@/store/modules/jwt";
import MetaStore from "@/store/modules/meta";
import { changePassword } from "@/store/models/jwt";
import { setJWT, clearJWT } from "@/store/API/api";

@Component({
  components: {
    Input
  }
})
export default class Changepassword extends Vue {
  payload: changePassword = {
    current_password: "",
    new_password: "",
    re_new_password: ""
  };

  async submit(e: any) {
    let isValid = await this.$validator.validateAll();
    if (isValid) {
      await JWTStore.changePassword(this.payload);
      localStorage.removeItem("access_token");
      localStorage.removeItem("refresh_token");
      localStorage.removeItem("role");
      // clearJWT();
      this.$router.push("/changesuccess");
    }
  }
}
</script>

<style lang="sass" scoped>
@import 'stylesheets/sass/normalize'

.loginWrapper
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex: 0 0 auto

.loginBox
  max-width: 720px
  padding: 25px 145px
  background-color: $color-white
  +box-shadow(2px 2px 13px rgba(216,216,216,50))

  > div
    min-width: 430px

h2
  padding-bottom: 25px

.el-button
  width: 100%
  padding: 18px 0px
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  border: none;
  background-color: #0060CA
  margin-top: 30px
  margin-buttom: 6px
  &:hover
    opacity: 0.9

span
  display: block

.gapBottom
  margin-bottom: 15px


</style>
