<template>
  <div>
    <div class="loginWrapper">
      <div class="loginBox">
        <div class="centering">
          <img src="@/assets/nepal.png" alt="Nepal Government">
        </div>
        <h2 class="centering">
          Watershed Management Planning System
          <br>
          <p></p>
          <h3>BCRWME</h3>
        </h2>
        <div class="loginInner">
          <div>
            <h4>
              Password successfully changed. Please
              <router-link to="/">Login</router-link>&nbsp;again.
            </h4>
          </div>

          <div class="centering">Powered By:</div>
          <div class="centering">
            <img src="@/assets/ptas-logo.png" alt="Pathway Technologies and Services" height="25px">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Input } from "element-ui";

@Component({
  components: {
    Input
  }
})
export default class Changesuccess extends Vue {}
</script>

<style lang="sass" scoped>
@import 'stylesheets/sass/normalize'

.loginWrapper
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex: 0 0 auto

.loginBox
  max-width: 720px
  padding: 25px 145px
  background-color: $color-white
  +box-shadow(2px 2px 13px rgba(216,216,216,50))

  > div
    min-width: 430px

h2
  padding-bottom: 25px

.el-button
  width: 100%
  padding: 18px 0px
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  border: none;
  background-color: #0060CA
  margin-top: 30px
  margin-buttom: 6px
  &:hover
    opacity: 0.9

span
  display: block

.gapBottom
  margin-bottom: 15px


</style>
