<template>
  <div>
    <div class="loginWrapper">
      <div class="loginBox">
        <div class="centering">
          <img src="@/assets/nepal.png" alt="Nepal Government" />
        </div>
        <h2 class="centering">
          Watershed Management Planning System
          <br />
          <p></p>
          <h3>BCRWME</h3>
        </h2>
        <div class="loginInner">
          <div class="gapBottom" @keyup.enter="submit">
            <span class="demo-input-label">Email</span>
            <el-input
              name="email"
              v-validate="'required'"
              placeholder="Please enter your email"
              v-model="payload.email"
              type="email"
            ></el-input>
            <small class="error" v-if="errors.has('email')">{{errors.first('email')}}</small>
          </div>

          <div class="login">
            <el-button type="primary" @click="submit">Submit</el-button>
          </div>
          <div class="centering">Powered By:</div>
          <div class="centering">
            <img src="@/assets/ptas-logo.png" alt="Pathway Technologies and Services" height="25px" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <el-dialog
        title="Password Change Requested"
        :visible.sync="dialogPasswordChangeRequestFormVisible"
        width="40%"
      >
        <span>
          We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.
          If you don't receive an email, please make sure you've entered the address you registered with, or check your spam folder.
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="login">Go To Login</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Input } from "element-ui";
import JWTStore from "@/store/modules/jwt";
import { forgotPassword } from "@/store/models/jwt";

@Component({
  components: {
    Input
  }
})
export default class Forgotpassword extends Vue {
  dialogPasswordChangeRequestFormVisible = false;
  payload: forgotPassword = {
    email: ""
  };

  async submit(e: any) {
    let isValid = await this.$validator.validateAll();
    if (isValid) {
      await JWTStore.forgotPassword(this.payload);
      this.dialogPasswordChangeRequestFormVisible = true;
    }
  }

  login() {
    this.$router.push("/");
  }
}
</script>

<style lang="sass" scoped>
@import 'stylesheets/sass/normalize'

.loginWrapper
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex: 0 0 auto

.loginBox
  max-width: 720px
  padding: 25px 145px
  background-color: $color-white
  +box-shadow(2px 2px 13px rgba(216,216,216,50))

  > div
    min-width: 430px

h2
  padding-bottom: 25px

.el-button
  width: 100%
  padding: 18px 0px
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  border: none;
  background-color: #0060CA
  margin-top: 30px
  margin-buttom: 6px
  &:hover
    opacity: 0.9

span
  display: block

.gapBottom
  margin-bottom: 15px


</style>
