<template>
  <div>
    <div class="loginWrapper">
      <div class="loginBox">
        <div class="centering">
          <img src="@/assets/nepal.png" alt="Nepal Government" />
        </div>
        <h2 class="centering">
          Agriculture Contingency Plan for District
<!--          <sub style="font-size:.5em;color:red;">beta</sub>-->
          <br />
          <!-- <p style="font-size:.5em;color:red;">beta</p> -->
          <!-- <br> -->
<!--          <h3>Andhara Pradesh</h3>-->
        </h2>
        <div class="loginInner">
          <div class="gapBottom" @keyup.enter="login">
            <span class="demo-input-label">Username/Email</span>
            <el-input
              name="username"
              v-validate="'required'"
              placeholder="Please input name"
              v-model="payload.username"
            ></el-input>
            <small class="error" v-if="errors.has('username')">{{errors.first('username')}}</small>
          </div>
          <div @keyup.enter="login">
            <span class="demo-input-label">Password</span>
            <el-input
              name="password"
              v-validate="'required'"
              placeholder="Please enter password"
              v-model="payload.password"
              :show-password="false"
              type="password"
            ></el-input>
            <small class="error" v-if="errors.has('password')">{{errors.first('password')}}</small>
          </div>
          <div class="login">
            <el-button type="primary" @click="login">Login</el-button>
          </div>
          <router-link to="/forgotpassword">
            <div class="centering">Forgot Password?</div>
          </router-link>

          <!-- <span class="centering">I do not have an Account?
              <router-link to="/register">Register</router-link>
          </span>-->
          <div class="centering">Powered By:</div>
          <div class="centering">
            <img  src="@/assets/ptas-logo.png" alt="Pathway Technologies and Services"  />
          </div>
        </div>

        <!-- <div class="centering">
          <p>Please use these username & password to test</p>
          <p>
            <strong>Username:</strong> planner
            <strong>Password:</strong> watershed
          </p>
          <p>
            <strong>Username:</strong> manager
            <strong>Password:</strong> watershed
          </p>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Input } from "element-ui";
import JWTStore from "@/store/modules/jwt";
import MetaStore from "@/store/modules/meta";
import { userInfo } from "@/store/models/jwt";
import { setJWT } from "@/store/API/api";

@Component({
  components: {
    Input
  }
})
export default class Login extends Vue {
  payload: userInfo = {
    username: "",
    password: ""
  };

  print() {
    alert("ALERT");
  }

  // created() {
  //   console.log(JWTStore.acc);
  // }

  async login(e: any) {
    let isValid = await this.$validator.validateAll();
    if (isValid) {
      await JWTStore.getJWT(this.payload);
      // setJWT();
      await MetaStore.getUser();
      this.$router.push("/plan/List");
    }
  }
}
</script>

<style lang="sass" scoped>
@import 'stylesheets/sass/normalize'

.loginWrapper
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex: 0 0 auto

.loginBox
  max-width: 720px
  padding: 25px 145px
  background-color: $color-white
  +box-shadow(2px 2px 13px rgba(216,216,216,50))

  > div
    min-width: 430px

h2
  padding-bottom: 25px

.el-button
  width: 100%
  padding: 18px 0px
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  border: none;
  background-color: #0060CA
  margin-top: 30px
  margin-buttom: 6px
  &:hover
    opacity: 0.9

span
  display: block

.gapBottom
  margin-bottom: 15px


/*.resize-logo*/
/*  height: 20px;*/
/*  width: 20px;*/

</style>
