<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <div class="flex spacebetween padBottom-10">
            <span class="demo-input-label">
              <h3>User Profile</h3>
            </span>
          </div>
          <el-row>
            <div class="situationOverview">
              <el-col :lg="24">
                <label>Username/Email:</label>
                <p>{{user.username}}</p>
              </el-col>
            </div>
          </el-row>

          <el-row>
            <div class="situationOverview">
              <el-col :xs="24" :sm="12">
                <div v-if="user.firstname">
                  <label>First Name:</label>
                  <p>{{user.firstname}}</p>
                </div>
              </el-col>
              <el-col :xs="24" :sm="12">
                <div v-if="user.lastname">
                  <label>Last Name:</label>
                  <p>{{user.lastname}}</p>
                </div>
              </el-col>
            </div>
          </el-row>

          <el-row>
            <div class="situationOverview">
              <el-col :xs="24" :sm="12">
                <div v-if="user.planner_district !== undefined && user.planner_district.length > 0">
                  <label>As a planner in:</label>
                  <div v-for="(dis, key) in user.planner_district" :key="key">
                    <p>{{dis}}</p>
                  </div>
                </div>
              </el-col>
              <el-col :xs="24" :sm="12">
                <div v-if="user.manager_district !== undefined && user.manager_district.length > 0">
                  <label>As a manager in districts:</label>
                  <div v-for="(dis, key) in user.manager_district" :key="key">
                    <p>{{dis}}</p>
                  </div>
                </div>
              </el-col>
            </div>
          </el-row>
        </div>
      </div>
    </div>
    <!-- <div class="gutter-sd">
      <el-row>
        <el-col :xs="6" :sm="6">
          <router-link to="/changeusername">Change Username</router-link>&nbsp;&nbsp;&nbsp;
          <router-link to="/changepassword">Change Password</router-link>
        </el-col>
      </el-row>
    </div>-->
    <div class="gutter-sd text-right">
      <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left" @click="back()">Back</el-button>
      <!-- <el-button type="primary" @click="changeUsernameDialog">Change Username</el-button> -->
      <el-button type="primary" @click="changePasswordDialog">Change Password</el-button>
    </div>
    <div @keyup.enter="submitUsername">
      <el-dialog title="Change Username" :visible.sync="dialogChangeUsernameFormVisible">
        <el-form :model="usernamePayload">
          <el-form-item label="Current Password">
            <el-input
              name="currentpassword"
              v-validate="'required'"
              placeholder="Please enter Current Password"
              type="password"
              v-model="usernamePayload.current_password"
              :show-password="false"
              autocomplete="off"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('currentpassword')"
            >{{errors.first('currentpassword')}}</small>
          </el-form-item>
          <el-form-item label="New Username">
            <el-input
              name="newusername"
              v-validate="'required|email'"
              placeholder="Please enter New Username/Email"
              v-model="usernamePayload.new_username"
              autocomplete="off"
            ></el-input>
            <small class="error" v-if="errors.has('newusername')">{{errors.first('newusername')}}</small>
          </el-form-item>
          <el-form-item label="Repeat New Username">
            <el-input
              name="newusernamerepeat"
              v-validate="'required|email'"
              placeholder="Please re-enter New Username/Email"
              v-model="usernamePayload.re_new_username"
              autocomplete="off"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('newusernamerepeat')"
            >{{errors.first('newusernamerepeat')}}</small>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogChangeUsernameFormVisible=false">Cancel</el-button>
          <el-button type="primary" @click="submitUsername">Submit</el-button>
        </span>
      </el-dialog>
    </div>

    <div @keyup.enter="submitPassword">
      <el-dialog title="Change Password" :visible.sync="dialogChangePasswordFormVisible">
        <el-form :model="passwordPayload">
          <el-form-item label="Current Password">
            <el-input
              name="currentpassword"
              v-validate="'required'"
              placeholder="Please enter Current Password"
              type="password"
              v-model="passwordPayload.current_password"
              :show-password="false"
              autocomplete="off"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('currentpassword')"
            >{{errors.first('currentpassword')}}</small>
          </el-form-item>
          <el-form-item label="New Password">
            <el-input
              name="newpassword"
              v-validate="'required'"
              placeholder="Please enter New Password"
              type="password"
              v-model="passwordPayload.new_password"
              :show-password="false"
              autocomplete="off"
            ></el-input>
            <small class="error" v-if="errors.has('newpassword')">{{errors.first('newpassword')}}</small>
          </el-form-item>
          <el-form-item label="Repeat New Password">
            <el-input
              name="newpasswordrepeat"
              v-validate="'required'"
              placeholder="Please re-enter New Password"
              type="password"
              v-model="passwordPayload.re_new_password"
              :show-password="false"
              autocomplete="off"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('newpasswordrepeat')"
            >{{errors.first('newpasswordrepeat')}}</small>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogChangePasswordFormVisible=false">Cancel</el-button>
          <el-button type="primary" @click="submitPassword">Submit</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { Vue as Vue_new } from "vue-property-decorator";
import Vue from "vue";
import metaStore from "@/store/modules/meta";
import commonStore from "@/store/modules/common";
import { changeUsername, changePassword } from "@/store/models/jwt";
import JWTStore from "@/store/modules/jwt";
import router from "@/router";

@Component
export default class Profile extends Vue_new {
  vm = new Vue();
  dialogChangeUsernameFormVisible = false;
  dialogChangePasswordFormVisible = false;
  usernamePayload: changeUsername = {
    current_password: "",
    new_username: "",
    re_new_username: ""
  };
  passwordPayload: changePassword = {
    current_password: "",
    new_password: "",
    re_new_password: ""
  };

  created() {
    metaStore.getUser();
  }

  get user() {
    return metaStore.User;
  }

  back() {
    router.push(commonStore.beforeProfile);
  }

  changeUsernameDialog() {
    this.$validator.reset();
    this.$validator.errors.clear();
    this.usernamePayload = {
      current_password: "",
      new_username: "",
      re_new_username: ""
    } as changeUsername;
    this.dialogChangeUsernameFormVisible = true;
  }

  changePasswordDialog() {
    this.$validator.reset();
    this.$validator.errors.clear();
    this.passwordPayload = {
      current_password: "",
      new_password: "",
      re_new_password: ""
    } as changePassword;
    this.dialogChangePasswordFormVisible = true;
  }

  async submitUsername(e: any) {
    let isValid = await this.$validator.validateAll();
    if (isValid) {
      await JWTStore.changeUsername(this.usernamePayload);
      this.dialogChangeUsernameFormVisible = false;
      this.vm.$snotify.success("Username Changed Successfully");
      metaStore.getUser();
    }
  }

  async submitPassword(e: any) {
    let isValid = await this.$validator.validateAll();
    if (isValid) {
      await JWTStore.changePassword(this.passwordPayload);
      this.dialogChangePasswordFormVisible = false;
      this.vm.$snotify.success("Password Changed Successfully");
    }
  }
}
</script>

<style lang="sass" scoped>

  .situationOverview
    display: flex
    flex-wrap: wrap
    label
      font-size: 12px
      display: inline-block
    p
      font-size: 14px
      font-weight: bold
      margin: 5px 0px
      display: block
    pre
      font-size: 14px
      font-weight: bold
      margin: 5px 0px
      display: block

  .situationOverview > div
    width: 50%
    margin-bottom: 15px
</style>
