<template>
  <div>
    <el-table :data="dataList" style="width: 100%">
      <el-table-column label width="85" fixed="left">
        <template slot-scope="scope">
          <el-button
            type="text"
            icon="el-icon-delete"
            title="Delete"
            @click="onDeleteClick(scope.$index)"
          ></el-button>
          <el-button type="text" icon="el-icon-edit" title="Edit" @click="editForm(scope.$index)"></el-button>
        </template>
      </el-table-column>
      <el-table-column prop="username" label="Username" min-width="150"></el-table-column>
      <el-table-column prop="rolename" label="Role" min-width="150"></el-table-column>
      <el-table-column prop="district" label="District" min-width="150">
        <template slot-scope="scope">
          <span v-for="(district, index) in scope.row.district" :key="index">
            <span v-if="district.selected">{{district.name}},&nbsp;</span>
          </span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import JWTStore from "@/store/modules/jwt";
import metaStore from "@/store/modules/meta";

@Component
export default class roleList extends Vue {
  get dataList() {
    return JWTStore.UserInRole;
  }

  editForm(i: number) {
    this.$emit("editRole", i);
  }

  onDeleteClick(index: number) {
    let user = this.dataList[index].username;
    let userId = this.dataList[index].user;
    let role = this.dataList[index].rolename;
    let roleId = this.dataList[index].role;
    this.$confirm(
      "This will permanently delete the role " +
        role +
        " for " +
        user +
        ". Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await JWTStore.deleteUserInRole({
          userId: userId,
          roleId: roleId,
          index: index
        });
        JWTStore.UserInRole.splice(index, 1);
        console.log("Delete in backend");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }
}
</script>
