<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div class="border-box gutter2">
          <div class="flex spacebetween padBottom-10">
            <span class="demo-input-label">
              <h3>Scope</h3>
            </span>
          </div>
        </div>

        <el-dialog title="Scope" :visible.sync="dialogVisible" width="60%">
          <div class="border-box gutter2 scroll-auto max-height-ls">
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <label>Name</label>
                <br>
                {{ data.name }}
              </el-col>

              <el-col :xs="24" :sm="24">
                <label>Unit</label>
                <el-input v-model="data.unit"></el-input>
              </el-col>

              <el-col :xs="24" :sm="24">
                <label>Rate</label>
                Name:
                <el-input v-model="data.rate"></el-input>
              </el-col>

              <el-col :xs="24" :sm="24">
                <el-button type="primary" @click="submit()">Submit</el-button>
              </el-col>
            </el-row>
          </div>
        </el-dialog>

        <UnitandRateList @editunitcost="generateEditForm"></UnitandRateList>
      </div>
    </div>

    <div class="gutter-sd text-right">
      <router-link :to="'/Admin/Settings'">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>
      <el-button type="primary" @click="save()">Save</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ScopeOfActivity } from "@/store/models/meta";
import UnitandRateList from "@/views/Authscreen/UnitandRateList.vue";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";
import metaStore from "@/store/modules/meta";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
    UnitandRateList
  }
})
export default class UnitandCost extends Vue {
  dialogVisible = false;
  selectedIndexofStakeholder = -1;
  data: ScopeOfActivity = {} as ScopeOfActivity;
  saveData: ScopeOfActivity[] = [] as ScopeOfActivity[];

  created() {
    metaStore.loadScopeOfActivities();
  }

  get dataList() {
    return metaStore.ScopeOfActivities;
  }

  generateEditForm(i: number) {
    this.data = JSON.parse(JSON.stringify(metaStore.ScopeOfActivities[i]));
    this.selectedIndexofStakeholder = i;
    this.dialogVisible = true;
  }

  async submit() {
    const i = this.selectedIndexofStakeholder;
    metaStore.updateScopeOfActivityList({
      activity: this.data,
      index: i
    });
    this.saveData.push(metaStore.ScopeOfActivities[i]);
    this.dialogVisible = false;
  }

  async save() {
    console.log(this.saveData);

    // console.log(this.data);
    await metaStore.saveScopeOfActivities(this.saveData);
    this.$snotify.success("Saved Sucessfully");
  }
}
</script>

<style lang="sass" scoped>

</style>
