<template>
  <div>
    <el-table :data="dataList" style="width: 100%">
      <el-table-column label width="85" fixed="left">
        <template slot-scope="scope">
          <el-button type="text" icon="el-icon-edit" title="Edit" @click="editForm(scope.$index)"></el-button>
        </template>
      </el-table-column>

      <el-table-column
              :filters="activity()"
              :filter-method="filterHandler"
              prop="activityname" label="Activity" min-width="150">
      </el-table-column>
      <el-table-column prop="name" label="Name" min-width="150"></el-table-column>
      <el-table-column prop="unit" label="Unit" min-width="150"></el-table-column>
      <el-table-column prop="rate" label="Rate" min-width="150"></el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import JWTStore from "@/store/modules/jwt";
import metaStore from "@/store/modules/meta";

@Component
export default class UnitandCostList extends Vue {

  created(){
    metaStore.loadScopeOfActivities();
    metaStore.loadActivities();
  }

  get dataList() {
    return metaStore.ScopeOfActivities;
  }

  get activities(){
    return metaStore.Activities;
  }

  editForm(i: number) {
    this.$emit("editunitcost", i);
  }

  activity(){
    let dict = [];
      for (const i in this.activities){
        var text = this.activities[i].name;
        var value = this.activities[i].name;
        var temp = {
          text : text,
          value : value
        };
        dict.push(temp)
      }
      // console.log(dict);
      return dict
  }

   filterHandler(value:any, row:any, column:any) {
        const property = column['property'];
        return row[property] === value;
   }
}
</script>
