<template>
  <div class="max-height">
    <Innerrouting :activeView="5" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader :detailed="true" />
          <!-- <div class="border-box gutter2"> -->
          <div class="flex spacebetween padBottom-10">
            <span class="demo-input-label">
              <h3>Stakeholders</h3>
            </span>
            <div>
              <el-button
                type="text"
                icon="el-icon-circle-plus"
                class="left-auto"
                @click="addRow"
              >Add Stakeholder</el-button>
            </div>
          </div>
          <!-- </div> -->

          <el-dialog title="Stakeholders" :visible.sync="dialogVisible" width="60%">
            <el-dialog
              width="30%"
              title="Error"
              :visible.sync="innerVisible"
              append-to-body
            >This stakeholder is already selected for associate contribution</el-dialog>
            <div class="border-box gutter2 scroll-auto max-height-ls">
              <el-row :gutter="20">
                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Stakeholder</span>
                  <el-select
                    name="Stakeholder"
                    v-validate="'required'"
                    v-model="data.planstakeholderid"
                    placeholder="Select"
                  >
                    <el-option
                      v-for="(stakeholder, i) in stakeholders"
                      :key="i"
                      :label="stakeholder.stakeholder"
                      :value="stakeholder.id"
                    ></el-option>
                  </el-select>
                  <small
                    class="error"
                    v-if="errors.has('Stakeholder')"
                  >{{ errors.first('Stakeholder') }}</small>
                </el-col>
                <!-- <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Category</span>
                <el-select
                  name="Category"
                  v-validate="'required'"
                  v-model="data.categoryid"
                  placeholder="Select"
                >
                  <el-option
                    v-for="(categ, i) in category"
                    :key="i"
                    :label="categ.name"
                    :value="categ.id"
                  ></el-option>
                </el-select>
                <small class="error" v-if="errors.has('Category')">{{ errors.first('Category') }}</small>
                </el-col>-->
                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Operational</span>
                  <el-radio-group
                    name="Operational"
                    v-model="data.operational"
                    v-validate="'required'"
                  >
                    <el-radio :label="true">Yes</el-radio>
                    <el-radio :label="false">No</el-radio>
                  </el-radio-group>
                  <small
                    class="error"
                    v-if="errors.has('Operational')"
                  >{{ errors.first('Operational') }}</small>
                </el-col>
                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Possible Impact</span>
                  <el-select
                    name="PossibleImpact"
                    v-validate="'required'"
                    v-model="data.possibleimpact"
                    placeholder="Select"
                  >
                    <el-option
                      v-for="(impact, i) in impacts"
                      :key="i"
                      :label="impact"
                      :value="impact"
                    ></el-option>
                  </el-select>
                  <small
                    class="error"
                    v-if="errors.has('PossibleImpact')"
                  >{{ errors.first('PossibleImpact') }}</small>
                </el-col>
                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Possible Contribution</span>
                  <el-select
                    name="PossibleContribution"
                    v-validate="'required'"
                    v-model="data.contributionid"
                    placeholder="Select"
                  >
                    <el-option
                      v-for="(contribution, i) in possibleContribution"
                      :key="i"
                      :label="contribution.name"
                      :value="contribution.id"
                    ></el-option>
                  </el-select>
                  <small
                    class="error"
                    v-if="errors.has('PossibleContribution')"
                  >{{ errors.first('PossibleContribution') }}</small>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <el-button type="primary" @click="submit()">Submit</el-button>
                </el-col>
              </el-row>
            </div>
          </el-dialog>
          <ActivityStakeholderList :input="input" @editScopeOfActivityDetail="generateEditForm"></ActivityStakeholderList>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <el-button type="primary" icon="el-icon-arrow-left" @click="goBack">Back</el-button>
      <el-button type="primary" @click="setActivityStakeholders()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";

import planStore from "@/store/modules/plan";
import detailPlanStore from "@/store/modules/detailPlan";
import problemStore from "@/store/modules/problem";
import commonStore from "@/store/modules/common";

import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { IdName } from "@/store/models/meta";
import ActivityStakeholderList from "@/views/Plan/Detailed/Component/ActivityStakeholderList.vue";
import { ActivityStakeholderModel } from "@/store/models/DetailPlan/detailPlan";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Innerrouting,
    PlanHeader,
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
    ActivityStakeholderList
  }
})
export default class ActivityStakeholder extends Vue {
  dialogVisible: boolean = false;
  operational: boolean = false;
  impacts: string[] = ["low", "medium", "high"];
  planid = 0;
  problemid = 0;
  activityid = 0;
  selectedIndexofActivityStakeholder = -1;
  input = -1;
  data: ActivityStakeholderModel = {
    problemid: 0,
    activityid: 0,
    planstakeholderid: 0,
    operational: false,
    possibleimpact: "",
    contributionid: 0
  } as ActivityStakeholderModel;
  innerVisible: boolean = false;

  created() {
    commonStore.setPlanPercent(40);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      planStore.getPlanByPlanId(this.planid);
    }

    if (this.$route.query.problemid) {
      this.problemid = Number(this.$route.query.problemid);
      problemStore.getSelectedProblemsByPlanId(this.planid);
    }

    if (this.$route.query.activityid) {
      this.activityid = Number(this.$route.query.activityid);
    }

    planStore.getStakeholderListByPlanId(this.planid);
    detailPlanStore.getStakeholderCategory();
    detailPlanStore.getPossibleContribution();
    detailPlanStore.getActivityStakeholderListbyActivityId({
      problemId: this.problemid,
      activityId: this.activityid
    });
  }

  get dataList() {
    return detailPlanStore.ActivityStakeholder;
  }

  get stakeholders() {
    return planStore.PlanStakeholder;
  }

  get category() {
    return detailPlanStore.StakeholderCategory;
  }

  get possibleContribution() {
    return detailPlanStore.PossibleContribution;
  }

  get model() {
    return detailPlanStore.ActivityStakeholder;
  }

  get plan() {
    return planStore.watershedPlan;
  }

  get problem() {
    return problemStore.SelectedProblemList.filter(
      x => x.id === this.problemid
    )[0];
  }

  generateEditForm(i: number) {
    this.$validator.errors.clear();
    this.data = Object.assign({}, detailPlanStore.ActivityStakeholder[i]);
    // this.data = detailPlanStore.ActivityStakeholder[i];
    this.selectedIndexofActivityStakeholder = i;
    this.dialogVisible = true;
  }

  addRow() {
    this.$validator.reset();
    this.$validator.errors.clear();
    this.data = {
      problemid: this.problemid,
      activityid: this.activityid
    } as ActivityStakeholderModel;
    this.selectedIndexofActivityStakeholder = -1;
    this.dialogVisible = true;
  }

  async submit() {
    let isvalid = await this.$validator.validateAll();
    if (isvalid) {
      if (this.selectedIndexofActivityStakeholder < 0) {
        for (const i of this.dataList) {
          if (
            this.data["planstakeholderid"] == i["planstakeholderid"] &&
            this.data["contributionid"] == i["contributionid"]
          ) {
            this.innerVisible = true;
            this.dialogVisible = true;
          }
        }
      }
      if (this.innerVisible != true) {
        var stakeholder = this.stakeholders.filter(
          x => x.id === this.data["planstakeholderid"]
        );

        var contribution = this.possibleContribution.filter(
          x => x.id === this.data["contributionid"]
        );
        this.data["stakeholdername"] = stakeholder[0]["stakeholder"];

        this.data["contributionname"] = contribution[0]["name"];

        const i = this.selectedIndexofActivityStakeholder;
        if (i > -1) {
          detailPlanStore.updateActivityStakeholder({
            activitystakeholder: this.data,
            index: i
          });
        } else {
          detailPlanStore.pushActivityStakeholder(this.data);
        }
        this.dialogVisible = false;
      }
    }
  }

  mounted() {
    if (this.$route.query.previous) {
      let previous = this.$route.query.previous;
      let Previous = "";
      if (previous == "detaillist") {
        Previous = "/Detail/SelectedProblems?planid=" + this.planid;
        commonStore.setBeforeActivityStakeholderPath(Previous);
      } else if (previous == "additionalinfo") {
        Previous =
          "/Detail/additionalInfo?planid=" +
          this.planid +
          "&problemid=" +
          this.problemid +
          "&activityid=" +
          this.activityid;
        commonStore.setBeforeActivityStakeholderPath(Previous);
      }
    }
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  goBack() {
    if (commonStore.beforeActivityStakeholderPath === "") {
      commonStore.setBeforeActivityStakeholderPath(
        "/Detail/SelectedProblems?planid=" + this.planid
      );
    }
    this.$router.push(commonStore.beforeActivityStakeholderPath);
  }

  setActivityStakeholders() {
    detailPlanStore.saveActivityStakeholder(this.model);
    this.$snotify.success("Saved Successfully");
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 70
    });
  }

  async saveAndContinue() {
    await this.setActivityStakeholders();
    this.$router.push(
      "/Detail/ScopeOfActivityDetailList?planid=" +
        this.planid +
        "&problemid=" +
        this.problemid +
        "&activityid=" +
        this.activityid +
        "&previous=stakeholder"
    );
  }

  async goto(link: any) {
    await this.setActivityStakeholders();
    this.$router.push(link);
  }
}
</script>
