<template>
  <div class="max-height">
    <Innerrouting :activeView="5" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader :detailed="true" />
          <el-row :gutter="20">
            <el-col :xs="24" class="margin-btm">
              <div class="flex spacebetween padBottom-10">
                <span class="demo-input-label">
                  <h3>Add/Edit Scope of Activities</h3>
                </span>
              </div>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Scope of Activity</span>
              <el-select
                name="ScopeOfActivity"
                v-validate="'required'"
                v-model="data.scopeofactivityid"
                placeholder="Select"
                @input="onSOAChanged()"
              >
                <el-option
                  v-for="(scope, i) in scopeOfActivities"
                  :key="i"
                  :label="scope.name"
                  :value="scope.id"
                ></el-option>
              </el-select>
              <small
                class="error"
                v-if="errors.has('ScopeOfActivity')"
              >{{ errors.first('ScopeOfActivity') }}</small>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">
                Quantity
                <span
                  v-if="scopeOfActivitiesContents.unit"
                >({{scopeOfActivitiesContents.unit}})</span>
              </span>
              <el-input
                placeholder="Quantity"
                name="Quantity"
                v-validate="'required'"
                v-model="data.quantity"
                @input="onInput()"
                clearable
              ></el-input>
              <small class="error" v-if="errors.has('Quantity')">{{ errors.first('Quantity') }}</small>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Rate</span>
              <el-input
                placeholder="Rate"
                name="Rate"
                v-validate="'required|min_value:1'"
                v-model="data.rate"
                @input="onInput()"
                clearable
              ></el-input>
              <small class="error" v-if="errors.has('Rate')">{{ errors.first('Rate') }}</small>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Year of Implementation</span>
              <el-select
                name="YearofImplementation"
                v-validate="'required'"
                v-model="data.implementationyear"
                placeholder="Year of Implementation"
                clearable
              >
                <el-option v-for="x in plan.total_plan_year" :key="x" :label="x" :value="x"></el-option>
              </el-select>
              <small
                class="error"
                v-if="errors.has('YearofImplementation')"
              >{{ errors.first('YearofImplementation') }}</small>
            </el-col>
            <el-col :xs="24" :sm="24">
              <span class="demo-input-label">Tentative Cost</span>
              <el-input
                placeholder="Tentative Cost"
                name="TentativeCost"
                v-validate="{ required: true, regex: /^([0-9]+)$/ }"
                v-model="data.cost"
                clearable
              ></el-input>
              <small
                class="error"
                v-if="errors.has('TentativeCost')"
              >{{ errors.first('TentativeCost') }}</small>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>

    <div class="gutter-sd text-right">
      <router-link
        :to="'/Detail/ScopeOfActivityDetailList?planid=' +
        this.planid +
        '&problemid=' +
        this.problemid +
        '&activityid=' +
        this.activityid"
      >
        <el-button type="primary" icon="el-icon-arrow-left" class="marRight-10">Back</el-button>
      </router-link>

      <el-button type="primary" @click="submit()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save and Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import ScopeOfActivityDetailList from "@/views/Plan/Detailed/Component/ScopeOfActivityDetailList.vue";
import { ScopeOfActivityDetailModel } from "@/store/models/DetailPlan/detailPlan";

import detailPlanStore from "@/store/modules/detailPlan";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";
import commonStore from "@/store/modules/common";
import metaStore from "@/store/modules/meta";
import { eventHub } from "@/utils/eventHub";

import { ScopeOfActivity } from "@/store/models/meta";

@Component({
  components: {
    Innerrouting,
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
    ScopeOfActivityDetailList,
    PlanHeader
  }
})
export default class BeneficiariesData extends Vue {
  scopeOfActivityList: ScopeOfActivity[] = [];
  planid = 0;
  problemid = 0;
  activityid = 0;
  scopeofactivityid = 0;
  problemId: number = 0;
  activityId: number = 0;

  data: ScopeOfActivityDetailModel = {
    id: 0,
    problemid: this.problemid,
    activityid: this.activityid
  } as ScopeOfActivityDetailModel;

  get scopeOfActivitiesContents() {
    let scopeofactivity = this.scopeOfActivities.filter(
      x => x.id === this.data.scopeofactivityid
    )[0];
    if (scopeofactivity === undefined) {
      return {
        id: this.data.scopeofactivityid,
        activityid: this.activityid,
        name: "",
        unit: "",
        rate: 0
      };
    }
    return scopeofactivity;
  }

  onInput() {
    if (this.data.rate && this.data.quantity) {
      let cost = this.data.quantity * this.data.rate;
      this.data.cost = cost;
    }
  }

  onSOAChanged() {
    if (this.scopeOfActivitiesContents) {
      this.data.rate = this.scopeOfActivitiesContents.rate;
    }
  }

  get plan() {
    return planStore.watershedPlan;
  }

  get problem() {
    let y = problemStore.SelectedProblemList.filter(
      x => x.id === this.problemid
    )[0];
    if (y === undefined) {
      return {};
    }
    return y;
  }

  async created() {
    commonStore.setPlanPercent(50);
    metaStore.loadScopeOfActivities();
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      planStore.getPlanByPlanId(this.planid);
    }

    if (this.$route.query.problemid) {
      this.data.problemid = Number(this.$route.query.problemid);
      this.problemid = Number(this.$route.query.problemid);
      problemStore.getSelectedProblemsByPlanId(this.planid);
    }

    if (this.$route.query.activityid) {
      this.data.activityid = Number(this.$route.query.activityid);
      this.activityid = Number(this.$route.query.activityid);
    }

    await detailPlanStore.getScopeOfActivityDetailListbyActivityId({
      problemId: this.problemid,
      activityId: this.activityid
    });

    if (this.$route.query.scopeofactivityid) {
      let soa = detailPlanStore.ScopeOfActivityDetail.filter(
        x => x.id === Number(this.$route.query.scopeofactivityid)
      )[0];

      this.data = soa;
    }
  }

  get scopeOfActivities() {
    const activityid = Number(this.$route.query.activityid);
    return metaStore.ScopeOfActivities.filter(x => x.activityid == activityid);
  }

  async submit() {
    let isvalid = await this.$validator.validateAll();
    if (isvalid) {
      var scopeofactivity = this.scopeOfActivities.filter(
        x => x.id === this.data["scopeofactivityid"]
      );
      this.data["scopeofactivityname"] = scopeofactivity[0]["name"];

      this.data = await detailPlanStore.saveScopeOfActivityDetail(this.data);
      this.$snotify.success("Saved Successfully");
      planStore.updatePlanPercentage({
        planid: this.planid,
        percentCompleted: 80
      });
    }
  }

  async saveAndContinue() {
    await this.submit();
    this.$router.push("/Detail/SelectedProblems?planid=" + this.planid);
  }

  async goto(link: any) {
    await this.submit();
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>