<template>
  <div>
    <div :key="item.id" v-for="item in planList">
      <div class="borderBottom">
        <div class="flex respFlex spacebetween">
          <div class="flex verticleTop" style="width:80%">
            <div class="icon iconFill">
              <img src="@/assets/projectIco.svg" alt="Project Icon" />
            </div>
            <div class="plan-head">
              <h6>{{item.name}}</h6>
              <span>Subwatershed Condition: {{item.priority}}</span>
              <div>
                <p class="subwatershedName">Subwatershed: {{item.subwatershedname}}</p>
              </div>
              <div>
                <p>Created By: {{item.created_by}}</p>

                <p v-if="item.district">District: {{item.district}}</p>
              </div>
              <div>
                <p class="dates">From: {{item.fromyear}}</p>
                <p class="dates">To: {{item.toyear}}</p>
                <br />
                <p class="dates">Last Updated On: {{item.updatedon}}</p>
              </div>
              <div class="progressLoader">
                <el-progress
                  :text-inside="true"
                  :stroke-width="18"
                  :percentage="item.percentcompleted"
                ></el-progress>
              </div>
            </div>
          </div>

          <div v-if="item.createdby === user.id || item.role === 'Admin' ">
            <el-tooltip content="Edit Plan" placement="left">
              <el-button type @click="editPlan(item.id)" icon="el-icon-edit" circle></el-button>
            </el-tooltip>
            <el-tooltip content="Detail Plan" placement="left" v-if="item.percentcompleted >=50">
              <el-button type @click="detailPlan(item.id)" icon="el-icon-tickets" circle></el-button>
            </el-tooltip>
            <el-tooltip content="Overview" placement="left">
              <el-button type @click="overview(item.id)" icon="el-icon-view" circle></el-button>
            </el-tooltip>
            <el-tooltip
              v-if="item.percentcompleted >=100" content="Report" placement="left">
              <el-button type @click="report(item.id)" icon="el-icon-notebook-2" circle></el-button>
            </el-tooltip>
            <el-tooltip
              content="Monitoring & Evaluation"
              placement="left"
              v-if="item.percentcompleted >=100"
            >
              <el-button type @click="maintain(item.id)" icon="el-icon-document" circle></el-button>
            </el-tooltip>
          </div>
          <div v-else-if="item.role === 'Manager'">
            <el-tooltip content="Overview" placement="left">
              <el-button type @click="overview(item.id)" icon="el-icon-view" circle></el-button>
            </el-tooltip>
          </div>
          <div v-else>
            <el-tooltip content="Overview" placement="left">
              <el-button type @click="overview(item.id)" icon="el-icon-view" circle></el-button>
            </el-tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { WatershedPlan, wmpsPlan } from "@/store/models/plan/watershedPlan";
import metaModule from "@/store/modules/meta";

@Component
export default class PlanComponent extends Vue {
  // @Prop({ default: [] as WatershedPlan[] })
  // planList!: WatershedPlan[];
  @Prop({ default: {} as wmpsPlan })
  planList!: wmpsPlan;

  get user() {
    return metaModule.User;
  }

  createPlan() {
    this.$router.push("/Plan/CreatePlan");
  }

  editPlan(planid: number) {
    this.$router.push("/Plan/CreatePlan?planid=" + planid);
  }

  detailPlan(planid: number) {
    this.$router.push(
      "/Detail/SelectedProblems?planid=" + planid + "&previous=planlist"
    );
  }

  overview(planid: number) {
    this.$router.push(
      "/Detail/Overview?planid=" + planid + "&previous=planlist"
    );
  }

  report(planid: number) {
    this.$router.push(
      "/Reporting/Report?planid=" + planid + "&previous=planlist"
    );
  }

  maintain(planid: number) {
    this.$router.push(
      "/Reporting/ActivityList?planid=" + planid + "&previous=planlist"
    );
  }
}
</script>
