<template>
  <div class="max-height">
    <Innerrouting :activeView="3" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader />
          <div class="flex spacebetween verticleCenter marBottom-20">
            <div>
              <h3>Problem Selection/Ranking Criteria</h3>
            </div>
            <div>
              <el-button
                type="text"
                icon="el-icon-setting"
                circle
                @click="setting()"
                title="Criteria Settings"
                style="font-size: 1.2em"
              ></el-button>
              <el-button type="primary" @click="calculateRank()" plain round>Calculate</el-button>
            </div>
          </div>
          <el-table :data="list" stripe style="width: 100%">
            <el-table-column width="50" fixed="left">
              <template slot-scope="scope">
                <el-checkbox v-model="scope.row.selected"></el-checkbox>
              </template>
            </el-table-column>

            <el-table-column label="Problems" prop="problem" min-width="200px" fixed="left"></el-table-column>

            <span v-for="(item, index) in criterias" :key="index">
              <el-table-column width="110px" :label="item.name" v-if="item.selected">
                <template slot="header">
                  {{item.cn}}
                  <el-popover placement="top-start" :title="item.name" width="200" trigger="hover">
                    <div>{{item.description}}</div>
                    <pre>{{item.ratinginfo}}</pre>
                    <span slot="reference">
                      <i class="el-icon-info"></i>
                    </span>
                  </el-popover>
                </template>
                <template slot-scope="scope">
                  <el-input
                    :name="scope.$index + scope.column.label"
                    type="number"
                    max="3"
                    min="1"
                    v-model="scope.row.criteria[item.id]"
                    style="width: 65px"
                    v-validate="'required|min_value:1|max_value:3'"
                  ></el-input>
                  <small class="error" v-if="errors.has(scope.$index + scope.column.label)">
                    {{ errors.first(scope.$index + scope.column.label)
                    .replace('The ' +scope.$index + scope.column.label, 'This ') }}
                  </small>
                </template>
              </el-table-column>
            </span>
            <el-table-column fixed="right" label="Weighted Sum" width="109">
              <!-- <template slot-scope="scope">{{average(scope.row.criteria).toFixed(2)}}</template> -->
              <template slot-scope="scope">
                <span :class="[{ error: scope.row.error}]">{{scope.row.avg}}</span>
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="Rank" width="58">
              <!-- <template slot-scope="scope">{{rank(scope.$index)}}</template> -->
              <template slot-scope="scope">{{scope.row.rank}}</template>
            </el-table-column>
          </el-table>

          <el-dialog
            :visible.sync="dialogVisible"
            title="Criteria Settings"
            width="60%"
            top="5vh"
            class="settingsDialogBox"
          >
            <el-dialog
              width="30%"
              title="Error"
              :visible.sync="innerVisible"
              append-to-body
            >Sum of all selected weights must be equal to 100</el-dialog>
            <el-table :data="criteriasetting">
              <el-table-column prop="cn" label="CN" width="100px"></el-table-column>
              <el-table-column prop="name" label="Name"></el-table-column>
              <el-table-column prop="visible" label="Visible" width="120px">
                <template slot-scope="scope">
                  <el-checkbox v-model="scope.row.selected"></el-checkbox>
                </template>
              </el-table-column>
              <el-table-column prop="problemweightage" label="Weight" width="100px">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.weightage"></el-input>
                </template>
              </el-table-column>
            </el-table>
            <span slot="footer">
              <el-button class="marTop-10" type="primary" @click="saveSetting()">Save</el-button>
            </span>
          </el-dialog>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/plan/Problem/List?planid='+$route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>
      <el-button type="primary" @click="submit()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import {
  ProblemRankVariable,
  ProblemCriteriaWithRank
} from "@/store/models/Problem/Problem";
import { Checkbox, CheckboxButton } from "element-ui";
import metaStore from "@/store/modules/meta";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";
import commonStore from "@/store/modules/common";
import { Criteria, IdName } from "@/store/models/meta";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Innerrouting,
    Checkbox,
    CheckboxButton,
    PlanHeader
  }
})
export default class ProblemRank extends Vue {
  planid: number = 0;
  list: ProblemCriteriaWithRank[] = [];
  checked: boolean = false;
  dialogVisible: boolean = false;
  innerVisible: boolean = false;

  get criterias() {
    return metaStore.Criterias;
  }

  async loadProblem(id: number) {
    const res = await problemStore.getProblemCriteriaByPlanId(id);
    this.list = res;
  }

  created() {
    commonStore.setPlanPercent(20);
    const planid = Number(this.$route.query.planid);
    this.planid = planid;
    if (planid) {
      metaStore.loadCriterias(this.planid);
      this.loadProblem(planid);
    }
  }

  sum(obj: { [key: number]: number }, object: any) {
    var sum = 0;
    for (var i = 0; i < object.length; i++) {
      if (object[i]["selected"] == true) {
        const val = obj[i + 1];
        const value = object[i]["weightage"];
        sum += Number(val) * Number(value);
      }
    }
    if (isNaN(sum)) {
      return 0;
    }
    return sum;
  }

  rankError = false;
  isValid: boolean = true;
  async calculateRank() {
    this.isValid = await this.$validator.validateAll();
    if (this.isValid) {
      this.rankError = false;
      // console.log(this.criterias);
      for (var i = 0; i < this.list.length; i++) {
        this.list[i].avg = this.sum(this.list[i].criteria, this.criterias);
        this.list[i].rank = 0;
      }

      this.list.sort((a: any, b: any) => b.avg - a.avg);
      var rank = 1;

      this.list[0].error = false;
      for (var i = 0; i < this.list.length; i++) {
        // increase rank only if current score less than previous
        if (i > 0 && this.list[i].avg < this.list[i - 1].avg) {
          this.list[i].error = false;
          rank++;
        } else {
          if (i != 0) {
            this.list[i - 1].error = true;
            this.list[i].error = true;
            this.$snotify.warning(
              this.list[i - 1].problem +
                " and " +
                this.list[i].problem +
                " have same total value"
            );
            this.rankError = true;
          }
        }
        this.list[i].rank = rank;
      }
    } else {
      this.$snotify.error("Invalid Data", "Error");
    }
  }

  criteriasetting: Criteria[] = [];

  setting() {
    this.criteriasetting = JSON.parse(JSON.stringify(this.criterias));
    // console.log(this.criteriasetting);
    this.dialogVisible = true;
  }

  async saveSetting() {
    let saveData: any[] = [] as any;
    let total = 0;
    for (const cri of this.criteriasetting) {
      if (cri.selected) {
        total += Number(cri.weightage);
      }
    }
    // console.log(total);
    if (total != 100) {
      this.innerVisible = true;
    } else {
      await metaStore.saveProblemWeightage({
        cri: this.criteriasetting,
        planid: this.planid
      });
      this.dialogVisible = false;
      this.$snotify.success("Saved Successfully");
    }
    // problemStore.saveProblemWeightage(saveData);
    // console.log(this.criterias);
  }

  async submit() {
    await this.calculateRank();
    if (this.isValid) {
      // if (!this.rankError) {
      //   await problemStore.saveProblemCriteria(this.list);
      //   this.$snotify.success("Saved Successfully");
      //   planStore.updatePlanPercentage({
      //     planid: this.planid,
      //     percentCompleted: 30
      //   });
      // } else {
      //   return this.$validator.errors;
      // }
      await problemStore.saveProblemCriteria(this.list);
      // this.$snotify.async("Please Wait...", "Saving", () => {
      //   return new Promise((resolve, reject) => {
      //     return problemStore
      //       .saveProblemCriteria(this.list)
      //       .then(function(response: any) {
      //         resolve({
      //           title: "Success!!!",
      //           body: "Saved Succesfully!",
      //           config: {
      //             timeout: 1000
      //           }
      //         });
      //       })
      //       .catch(function(error: any) {
      //         reject({
      //           title: "Error!!!",
      //           body: "Error while saving!",
      //           config: {
      //             closeOnClick: true
      //           }
      //         });
      //       });
      //   });
      // });
      this.$snotify.success("Saved Successfully");
      planStore.updatePlanPercentage({
        planid: this.planid,
        percentCompleted: 50
      });
    }
  }

  async saveAndContinue() {
    await this.submit();
    if (this.isValid) {
      this.$snotify.success("Initial Plan Completed");
      this.$router.push(
        "/Detail/SelectedProblems?planid=" +
          this.$route.query.planid +
          "&previous=problemrank"
      );
    }
  }

  async goto(link: any) {
    await this.submit();
    if (this.isValid) {
      this.$router.push(link);
    }
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>

<style lang="sass">
.error
  color: red

/*.criteria*/
/*  .el-dialog*/
/*    top: 5%*/
/*    bottom: 5%*/
/*    height: 85%*/

/*  .el-dialog__body*/
/*      height: 80%*/

/*  .el-table*/
/*    overflow-y: scroll*/
/*    overflow-x: hidden*/
/*    height: 80%*/
</style>
