<template>
  <div class="Detail">
    <div>
      <form class="ui form" @submit.prevent="onSubmit">
        <div class="field" :class="{error: errors.has('email')}">
          <label>Email</label>
          <el-input type="email" name="email" placeholder="Email" v-validate="'required|email'" v-model="email"></el-input>
          <span class="error" v-if="errors.has('email')">{{errors.first('email')}}</span>
        </div>
        <button type="submit" class="ui submit button">Submit</button>
      </form>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Navbar from "@/components/UIComponents/Navbar.vue";
import Aside from "@/components/UIComponents/Aside.vue";
import { Button, Input } from "element-ui";

@Component({
  components: {
    Button,
    Navbar,
    Aside,
    Input
  }
})
export default class App extends Vue {
  public email: string = '';
  createPlan() {
   // this.$router.push("/Initial");
  }
  onSubmit() {
    this.$validator.validateAll()
    
    if (!this.$validator.errors.any()) {
      alert('submit')
    }
  }
}
</script>
<style lang="scss" scoped>
span.error {
  color: red;
}
</style>



