<template>
  <div class="Reporting">
    <p>This is Reporting screen</p>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Navbar from "@/components/UIComponents/Navbar.vue";
import Aside from "@/components/UIComponents/Aside.vue";
import { Button } from "element-ui";

@Component({
  components: {
    Button,
    Navbar,
    Aside
  }
})
export default class App extends Vue {
}
</script>

