<template>
  <div>
    <el-dialog title="Group" :visible.sync="dialogGroupVisible" width="60%">
      <div class="border-box gutter2 scroll-auto max-height-ls">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Name</span>
            <el-input v-model="groupData.name"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Priority</span>
            <el-input v-model="groupData.priority"></el-input>
          </el-col>
        </el-row>
      </div>
      <div>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <el-button type="primary" @click="submitGroupForm()">Save</el-button>
          </el-col>
        </el-row>
      </div>
    </el-dialog>

    <div>
      <div class="flex spacebetween verticleCenter padBottom-10">
        <span class="demo-input-label">
          <h3>Layer Group Settings</h3>
        </span>
        <span @keyup.enter="search">
          <el-input
            @input="searchClear"
            class="search"
            v-model="searchString"
            placeholder="Enter to search"
            suffix-icon="el-icon-search"
            clearable
          ></el-input>
        </span>
        <el-button
          type="text"
          icon="el-icon-circle-plus"
          class="left-auto"
          @click="addGroup"
        >Add Group</el-button>
      </div>
      <el-table :data="groupList" style="width: 100%">
        <el-table-column label width="85" fixed="left">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-delete"
              title="Delete"
              @click="onDeleteClick(scope.$index)"
            ></el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              title="Edit"
              @click="editGroupForm(scope.$index)"
            ></el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="Title" min-width="150"></el-table-column>
        <el-table-column prop="priority" label="Priority" min-width="150"></el-table-column>
      </el-table>
    </div>
  </div>
</template>



<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import mapStore from "@/store/modules/map";
import { Layers, Source, LayerGroup } from "@/store/models/map";
import map from "@/store/modules/map";
import { eventHub } from "@/utils/eventHub";

@Component
export default class LayerGroupList extends Vue {
  dialogGroupVisible: boolean = false;
  selectedGroupIndex: number = -1;
  searchString: any = "";

  groupData: LayerGroup = {} as LayerGroup;

  get groupList() {
    return mapStore.LayerGroupList;
  }

  addGroup() {
    this.groupData = {
      id: 0
    } as LayerGroup;
    this.selectedGroupIndex = -1;
    this.dialogGroupVisible = true;
  }

  editGroupForm(i: number) {
    this.$validator.errors.clear();
    // this.planStakeholder = planStore.PlanStakeholder[i];
    this.groupData = Object.assign({}, this.groupList[i]);
    this.selectedGroupIndex = i;
    this.dialogGroupVisible = true;
  }

  async onDeleteClick(index: number) {
    const groupName = this.groupList[index].name;
    const id = this.groupList[index].id;
    // console.log(id);
    this.$confirm(
      "This will permanently delete the group '" +
        groupName +
        "'. Related data will not be deleted. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await mapStore.deleteLayerGroup(id);
        this.groupList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  async submitGroupForm() {
    if (this.selectedGroupIndex === -1) {
      await mapStore.pushLayerGroup(this.groupData);
    } else {
      await mapStore.updateLayerGroup({
        layerGroup: this.groupData,
        index: this.selectedGroupIndex
      });
    }
    mapStore.saveLayerGroups(mapStore.LayerGroupList);
    this.dialogGroupVisible = false;
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  search() {
    mapStore.searchLayerGroup({
      group: mapStore.LayerGroupList,
      searchString: this.searchString,
      page: 1
    });
  }

  public handlePageChange(val: number) {
    mapStore.searchLayerGroup({
      group: mapStore.LayerGroupList,
      searchString: this.searchString,
      page: val
    });
  }

  created() {
    eventHub.$on("change-group-page", this.handlePageChange);
    mapStore.searchLayerGroup({
      group: mapStore.LayerGroupList,
      searchString: this.searchString,
      page: 1
    });
  }
}
</script>
