<template>
  <div>
    <el-dialog title="Layer Source" :visible.sync="dialogSourceVisible" width="60%">
      <div class="border-box gutter2 scroll-auto max-height-ls">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Layers</span>
            <el-input v-model="layerSourceData.layers"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Legend</span>
            <el-input v-model="layerSourceData.legend"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">URL</span>
            <el-input v-model="layerSourceData.url"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Server Type</span>
            <el-input v-model="layerSourceData.serverType"></el-input>
          </el-col>
        </el-row>
      </div>
      <div>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <el-button type="primary" @click="submitGroupForm()">Save</el-button>
          </el-col>
        </el-row>
      </div>
    </el-dialog>

    <div>
      <div class="flex spacebetween verticleCenter padBottom-10">
        <span class="demo-input-label">
          <h3>Layer Source Settings</h3>
        </span>
        <span @keyup.enter="search">
          <el-input
            @input="searchClear"
            class="search"
            v-model="searchString"
            placeholder="Enter to search"
            suffix-icon="el-icon-search"
            clearable
          ></el-input>
        </span>
        <el-button
          type="text"
          icon="el-icon-circle-plus"
          class="left-auto"
          @click="addGroup"
        >Add Source</el-button>
      </div>
      <el-table :data="layerSourceList" style="width: 100%">
        <el-table-column label width="85" fixed="left">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-delete"
              title="Delete"
              @click="onDeleteClick(scope.$index)"
            ></el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              title="Edit"
              @click="editGroupForm(scope.$index)"
            ></el-button>
          </template>
        </el-table-column>
        <el-table-column prop="layers" label="Layers" min-width="150"></el-table-column>
        <el-table-column prop="url" label="URL  " min-width="150"></el-table-column>
      </el-table>
    </div>
  </div>
</template>



<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import mapStore from "@/store/modules/map";
import { Layers, Source } from "@/store/models/map";
import map from "@/store/modules/map";
import { Action } from "@/store/actionType";
import { eventHub } from "@/utils/eventHub";

@Component
export default class LayerSource extends Vue {
  dialogSourceVisible: boolean = false;
  selectedLayerIndex: number = -1;
  searchString: any = "";

  layerSourceData: Source = {
    layers: "wmps:",
    legend: "wmps:",
    url: Action.Geoserver + "geoserver/iwmi/wms",
    serverType: "geoserver"
  } as Source;

  get layerSourceList() {
    return mapStore.LayerSourceList;
  }

  async onDeleteClick(index: number) {
    const groupName = this.layerSourceList[index].layers;
    const id = this.layerSourceList[index].id;
    // console.log(id);
    this.$confirm(
      "This will permanently delete the group '" +
        groupName +
        "'. Related data will not be deleted. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        if (id != 0) {
          await mapStore.deleteLayerSource(id);
        }
        this.layerSourceList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  addGroup() {
    this.layerSourceData = {
      layers: "wmps:",
      legend: "wmps:",
      url: Action.Geoserver + "geoserver/iwmi/wms",
      serverType: "geoserver"
    } as Source;
    this.selectedLayerIndex = -1;
    this.dialogSourceVisible = true;
  }

  editGroupForm(i: number) {
    this.$validator.errors.clear();
    this.layerSourceData = Object.assign({}, this.layerSourceList[i]);
    this.selectedLayerIndex = i;
    this.dialogSourceVisible = true;
  }

  async submitGroupForm() {
    if (this.selectedLayerIndex === -1) {
      await mapStore.pushLayerSource(this.layerSourceData);
    } else {
      await mapStore.updateLayerSource({
        layerSource: this.layerSourceData,
        index: this.selectedLayerIndex
      });
    }

    mapStore.saveLayerSource(mapStore.LayerSourceList);

    this.dialogSourceVisible = false;
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  search() {
    mapStore.searchLayerSource({
      source: mapStore.LayerSourceList,
      searchString: this.searchString,
      page: 1
    });
  }

  public handlePageChange(val: number) {
    mapStore.searchLayerSource({
      source: mapStore.LayerSourceList,
      searchString: this.searchString,
      page: val
    });
  }

  created() {
    eventHub.$on("change-source-page", this.handlePageChange);
    mapStore.searchLayerSource({
      source: [],
      searchString: this.searchString,
      page: 1
    });
  }
}
</script>
