<template>
  <div class="max-height">
    <el-dialog title="Layer" :visible.sync="dialogLayerVisible" width="60%">
      <el-dialog title="Error" :visible.sync="layerError" append-to-body>Id needs to be unique!</el-dialog>
      <div class="border-box gutter2 scroll-auto max-height-ls">
        Layer Detail
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Group</span>
            <el-select filterable v-model="layerData.group_id" @change="updateGroup">
              <el-option
                v-for="(group, index) in groupList"
                :key="index"
                :value="group.id"
                :label="group.name"
              ></el-option>
            </el-select>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Title</span>
            <el-input v-model="layerData.title"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Id</span>
            <el-input v-model="layerData.layer_id"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Description</span>
            <el-input v-model="layerData.description"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Source Description</span>
            <el-input v-model="layerData.source_description"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Source</span>
            <el-select filterable v-model="layerData.source" @change="updateSource">
              <el-option
                v-for="(source, index) in sourceList"
                :key="index"
                :value="source.id"
                :label="source.layers"
              ></el-option>
            </el-select>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Priority</span>
            <el-input type="number" v-model="layerData.priority"></el-input>
          </el-col>
          <el-col :xs="24" :sm="24">
            <span class="demo-input-label">Visible</span>
            <el-checkbox v-model="layerData.visible"></el-checkbox>
          </el-col>
        </el-row>
      </div>
      <div>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <el-button type="primary" @click="submitLayerForm()">Save</el-button>
          </el-col>
        </el-row>
      </div>
    </el-dialog>

    <div>
      <div class="flex spacebetween verticleCenter padBottom-10">
        <span class="demo-input-label">
          <h3>Layer Settings</h3>
        </span>
        <span @keyup.enter="search">
          <el-input
            @input="searchClear"
            class="search"
            v-model="searchString"
            placeholder="Enter to search"
            suffix-icon="el-icon-search"
            clearable
          ></el-input>
        </span>
        <el-button
          type="text"
          icon="el-icon-circle-plus"
          class="left-auto"
          @click="addRow"
        >Add Layer</el-button>
      </div>
      <el-table :data="layerDataList" style="width: 100%">
        <el-table-column label width="85" fixed="left">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-delete"
              title="Delete"
              @click="onDeleteClick(scope.$index)"
            ></el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              title="Edit"
              @click="editLayerForm(scope.$index)"
            ></el-button>
          </template>
        </el-table-column>
        <el-table-column prop="group" label="Group" min-width="150"></el-table-column>
        <el-table-column prop="source_data.layers" label="Source" min-width="150"></el-table-column>
        <el-table-column prop="title" label="Title" min-width="150"></el-table-column>
        <el-table-column prop="layer_id" label="ID" min-width="150"></el-table-column>
        <el-table-column prop="priority" label="Priority" min-width="150"></el-table-column>
        <el-table-column prop="visible" label="Visible" min-width="150">
          <template slot-scope="scope">
            <p v-if="scope.row.visible">YES</p>
            <p v-else>NO</p>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import mapStore from "@/store/modules/map";
import { Layers, Source } from "@/store/models/map";
import map from "@/store/modules/map";
import LayerGroup from "@/views/Admin/component/layerGroup.vue";
import LayerSource from "@/views/Admin/component/layerSource.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    LayerGroup,
    LayerSource
  }
})
export default class roleList extends Vue {
  dialogLayerVisible: boolean = false;
  layerError: boolean = false;
  selectedLayerIndex: number = -1;
  layerData: Layers = {
    source_data: {} as Source
  } as Layers;
  searchString: any = "";

  get layerDataList() {
    return mapStore.LayerList;
  }

  get groupList() {
    return mapStore.LayerGroupList;
  }

  get sourceList() {
    return mapStore.LayerSourceList;
  }

  get groupFilter() {
    let list = [];
    for (let group of this.groupList) {
      list.push({ text: group.name, value: group.name });
    }
    return list;
  }

  filterHandler(value: any, row: any, column: any) {
    const property = column["property"];
    return row[property] === value;
  }

  addRow() {
    // this.$validator.reset();
    // this.$validator.errors.clear();
    this.layerData = {
      source_data: {} as Source
    } as Layers;
    this.selectedLayerIndex = -1;
    this.dialogLayerVisible = true;
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  search() {
    mapStore.searchLayers({
      layers: mapStore.LayerList,
      searchString: this.searchString,
      page: 1
    });
  }

  public handlePageChange(val: number) {
    mapStore.searchLayers({
      layers: mapStore.LayerList,
      searchString: this.searchString,
      page: val
    });
  }

  editLayerForm(i: number) {
    this.$validator.errors.clear();
    this.layerData = Object.assign({}, this.layerDataList[i]);
    this.selectedLayerIndex = i;
    this.dialogLayerVisible = true;
  }

  updateGroup(event: any) {
    this.layerData.group = this.groupList.filter(x => x.id === event)[0].name;
  }

  updateSource(event: any) {
    this.layerData.source_data = this.sourceList.filter(x => x.id === event)[0];
  }

  async onDeleteClick(index: number) {
    const layerName = this.layerDataList[index].title;
    const id = this.layerDataList[index].layer_id;
    // console.log(id);
    this.$confirm(
      "This will permanently delete the layer '" +
        layerName +
        "'. Related data will not be deleted. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await mapStore.deleteLayer(id);
        this.layerDataList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  async submitLayerForm() {
    // console.log(this.layerData);
    if (this.selectedLayerIndex === -1) {
      let error: boolean = false;
      for (let layer of this.layerDataList) {
        if (layer.layer_id === this.layerData.layer_id) {
          //   this.$message.error("Id needs to be unique!");
          error = true;
        }
      }
      if (error) {
        this.layerError = true;
      } else {
        await mapStore.pushLayer(this.layerData);
        mapStore.saveLayers(mapStore.LayerList);
        this.dialogLayerVisible = false;
      }
    } else {
      await mapStore.updateLayer({
        layer: this.layerData,
        index: this.selectedLayerIndex
      });
      mapStore.saveLayers(mapStore.LayerList);
      this.dialogLayerVisible = false;
    }
  }

  created() {
    eventHub.$on("change-layer-page", this.handlePageChange);
    mapStore.searchLayers({
      layers: mapStore.LayerList,
      searchString: this.searchString,
      page: 1
    });
  }
}
</script>
