<template>
    <div style="padding: 20px" class=" scroll-auto max-height">
        <el-row>
            <h4>Contingency Measures and Strategy</h4>
            <header class="flex spacebetween verticleCenter">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                   <el-tab-pane name="crop">
                      <span slot="label">   <img class="contingencyicon"
            src="@/assets/crops-clr1.svg" style="height: 20px; width: 20px"/>Crop
                      </span>
                    </el-tab-pane>
                    <el-tab-pane name="livestock">
                      <span slot="label">   <img class="contingencyicon"
            src="@/assets/cow-clr1.svg" style="height: 20px; width: 20px"/>Livestock
                      </span>
                    </el-tab-pane>
                    <el-tab-pane name="poultry">
                      <span slot="label">   <img class="contingencyicon"
            src="@/assets/hen-clr1.svg" style="height: 20px; width: 20px"/>Poultry
                      </span>
                    </el-tab-pane>
                    <el-tab-pane name="fisheries">
                      <span slot="label">   <img class="contingencyicon"
            src="@/assets/fish-clr1.svg" style="height: 20px; width: 20px"/>Fisheries
                      </span>
                    </el-tab-pane>
                </el-tabs>
            </header>
        </el-row>

    <div>
      <div>
          <el-row>
          <el-col :xs="12" :sm="12" style="padding-top: 16px">
              <p>Choose Scenario :</p>
          </el-col>
        <el-col :xs="7" :sm="7" style="margin-right: 20px">
          <el-select v-model="scenario" placeholder="Select" @input="getcondition()" >

            <el-option
              v-for="item in disasterscenarios"
              :key="item.scenarioid"
              :label="item.scenarioname"
              :value="item.scenarioid">
            </el-option>
          </el-select>
                </el-col>
              </el-row>
          <el-row>
              <el-col :xs="12" :sm="12" style="padding-top: 16px">
              <p>Management Situation :</p>
          </el-col>
              <el-col :xs="7" :sm="7">
          <el-select v-model="condition" placeholder="Select" @input="getsubcondition()">
            <el-option
              v-for="item in managementcondition"
              :key="item.managementconditionid"
              :label="item.managementconditionname"
              :value="item.managementconditionid">
            </el-option>
          </el-select>
          </el-col>
        </el-row>
          <el-row>
              <span v-if="activeName === 'crop' || activeName ==='fisheries'">
                <el-col :xs="12" :sm="12" style="padding-top: 16px">
                <p>Management Sub Situation:</p>
                </el-col>
              <el-col :xs="7" :sm="7">
                  <el-select v-model="subcondition" placeholder="Select" @input="gethtmlCropFisheries()">
                    <el-option
                      v-for="item in managementsubcondition"
                      :key="item.managementsubconditionid"
                      :label="item.managementsubconditionname"
                      :value="item.managementsubconditionid">
                    </el-option>
                  </el-select>
                  </el-col>
              </span>
        </el-row>
          <span v-if="ContingencyPlan">
<!--              {{ this.contingencyplan.html }}-->
            <div v-html="this.contingencyplan.html"></div>
          </span>
      </div>
    </div>
        </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import planStore from "@/store/modules/plan";
import {ContingencyPlan} from "@/store/models/plan/watershedPlan";
import InstructionsViewDistrictInfo from "@/views/DetailPlan/overviewComponent/InstructionsViewDistrictInfo.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
      InstructionsViewDistrictInfo

  }
})
export default class App extends Vue {
    activeName = 'crop';
    scenario = '' ;
    condition = '';
    subcondition = '';
  loading = false;
  district = [{
        id: '1',
        name: 'Kurnool'
      }, {
        id: '2',
        name: 'Osmanabad'
      }];
  districtvalue = '';
  selecteddistrict : number = 0;
  contingencyplan:ContingencyPlan = {html:""} as ContingencyPlan;

  get disasterscenarios(){
    return planStore.categoryBasedDisaster;
  }

  get managementcondition(){
    return planStore.scenarioBasedManagementCondition;
  }

  get managementsubcondition(){
    return planStore.managementConditionBasedManagementSubCondition;
  }

  get ContingencyPlan(){
      this.contingencyplan.html = planStore.ContingencyPlan.html;
      if(this.condition === ''){
          return this.contingencyplan.html === '';
      }

      else if (this.subcondition === '' && (this.activeName === 'crop' || this.activeName ==='fisheries')){
          return this.contingencyplan.html === '';
      }

      else{
          return this.contingencyplan.html
      }
  }

  async handleClick(){
    this.scenario = "";
    this.condition = "";
    this.subcondition = "";
    this.contingencyplan.html = "";
    if (this.$route.query.district) {
        this.selecteddistrict = Number(this.$route.query.district);
        await planStore.getScenario({district:this.selecteddistrict, crop: this.activeName});
    }
  }

  async getcondition(){
      this.selecteddistrict = Number(this.$route.query.district);
      console.log(this.selecteddistrict);
      if (this.$route.query.district) {
          var response = await planStore.getSituation({district: this.selecteddistrict, crop: this.activeName, scenario: this.scenario});
      }

      this.condition = '';
      this.subcondition = '';
      this.contingencyplan.html = "";
  }

  async getsubcondition(){
      if (this.$route.query.district) {
          if (this.activeName == 'crop' || this.activeName == 'fisheries'){
            await planStore.getSubCondition({district: this.selecteddistrict, crop: this.activeName, scenario: this.scenario, condition: this.condition});
          }
          else if (this.activeName == 'livestock' || this.activeName == 'poultry'){
            var response = await planStore.gethtml({district: this.selecteddistrict, crop: this.activeName, scenario: this.scenario, condition: this.condition});
            console.log(response);
          }
          // else if (this.activeName == 'poultry'){
          //   await planStore.gethtmlPoultry({district: this.selecteddistrict, crop: this.activeName, scenario: this.scenario, condition: this.condition});
          // }
          this.subcondition = '';
          this.contingencyplan.html = "";
      }
  }

  async gethtmlCropFisheries(){
      if (this.$route.query.district) {
          if (this.activeName == 'crop' || this.activeName == 'fisheries'){
            await planStore.gethtmlCropFisheries({district: this.selecteddistrict, crop: this.activeName,
                scenario: this.scenario, condition: this.condition, subcondition: this.subcondition});
          }
      }
  }

  abc(i:string){
      this.scenario = "";
    this.condition = "";
    this.subcondition = "";
    this.contingencyplan.html = "";
    this.activeName = "crop";
  }

  async created() {
      eventHub.$on("statechange", this.abc);
    this.scenario = "";
    this.condition = "";
    this.subcondition = "";
    this.contingencyplan.html = "";
    if (this.$route.query.district) {
          if (this.$route.query.district == '2'){
              this.scenario = "";
              this.condition = '';
              this.subcondition = '';
              this.contingencyplan.html = "";
          }
          this.selecteddistrict = Number(this.$route.query.district);
          console.log(this.selecteddistrict);
          // await planStore.getScenario({district:this.selecteddistrict, crop: this.activeName});
    }
  }
}
</script>


<style>
.overflow .scroll-auto > div{
    padding: 10px 15px 10px 0px;
}

    .contingencyicon{
        padding-right: 10px;
        padding-top: 5px;
    }

    table.styletable{
        /*border: 1px solid black;*/
        /*border-collapse: collapse;*/
        /*widows: 100%;*/
        margin-top:20px;
        overflow-x: auto;
        display: block;
        height: 330px;
        border-collapse: collapse;
        border-color: #D3D3D3;
    }

    table.styletable > tr{
        /*border: 1px solid black;*/
        border-collapse: collapse;
        /*widows: 100%;*/
    }

    table.styletable > th{
        /*border: 1px solid black;*/
        border-collapse: collapse;
        /*widows: 100%;*/
    }

</style>