<template>
  <div class="max-height">
    <div id="planCreate" class="overflow max-height-ls">
      <div class="scroll-auto">
        <el-row :gutter="10">
          <el-col :xs="24" class="margin-btm">
            <h3>Create a new sub-watershed plan</h3>
          </el-col>
          <el-col :xs="24" :sm="12">
            <div class="gapBelow-20">
              <span class="demo-input-label">Watershed</span>
              <el-select
                filterable
                name="Watershed"
                v-validate="'required'"
                v-model="watershed.watershedid"
                placeholder="Select"
                @change="filterSubwatershed"
              >
                <el-option
                  v-for="item in watersheds"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
<!--              <small class="error" v-if="errors.has('Watershed')">{{errors.first('Watershed')}}</small>-->
            </div>
          </el-col>
          <el-col :xs="24" :sm="12">
            <div class="gapBelow-20">
              <span class="demo-input-label">Sub-Watershed</span>
              <el-select
                filterable
                name="SubWatershed"
                v-validate="'required'"
                v-model="watershed.subwatershedid"
                placeholder="Select"
                @change="focusWatershed"
              >
                <span v-for="item in subwatersheds" :key="item.id">
                  <el-option
                    v-if="item.id != item.name"
                    :label="item.id + ' - ' + item.name"
                    :value="item.id"
                    :disabled="item.disabled"
                  ></el-option>
                  <el-option v-else :label="item.id" :value="item.id" :disabled="item.disabled"></el-option>
                </span>
              </el-select>
<!--              <small-->
<!--                class="error"-->
<!--                v-if="errors.has('SubWatershed')"-->
<!--              >{{errors.first('SubWatershed')}}</small>-->
            </div>
          </el-col>
          <el-col :xs="24" :sm="12">
            <div class="gapBelow-20">
              <span class="demo-input-label">Plan Name</span>
              <el-input
                name="PlanName"
                v-validate="'required'"
                placeholder="Please Name"
                v-model="watershed.name"
                clearable
              ></el-input>
<!--              <small class="error" v-if="errors.has('PlanName')">{{errors.first('PlanName')}}</small>-->
            </div>
          </el-col>
          <el-col :xs="24" :sm="12">
            <div class="gapBelow-20">
              <span class="demo-input-label">Estimated Budget (Rs.)</span>
              <el-input
                name="EstimatedBudget"
                v-validate
                placeholder="Estimated Budget"
                type="number"
                v-model="watershed.estimatedbudget"
                clearable
              ></el-input>
<!--              <small-->
<!--                class="error"-->
<!--                v-if="errors.has('EstimatedBudget')"-->
<!--              >{{ errors.first('EstimatedBudget') }}</small>-->
            </div>
          </el-col>
          <el-col :xs="24">
            <div class="gapBelow-20">
              <span class="demo-input-label">Description/Reason of Selection</span>
              <el-input
                name="Description"
                v-validate="'required'"
                type="textarea"
                :rows="4"
                placeholder="Project description"
                v-model="watershed.selectionreason"
              ></el-input>
<!--              <small-->
<!--                class="error"-->
<!--                v-if="errors.has('Description')"-->
<!--              >{{ errors.first('Description') }}</small>-->
            </div>
          </el-col>
          <el-col :xs="24">
            <div class="gapBelow-20">
              <div>
                <span class="demo-input-label full-block">Subwatershed Condition</span>
                <el-radio
                  name="Rank"
                  v-validate="'required'"
                  v-model="watershed.priority"
                  value="veryPoor"
                  label="very poor"
                >Very Poor</el-radio>
                <el-radio
                  name="Rank"
                  v-validate="'required'"
                  v-model="watershed.priority"
                  value="poor"
                  label="poor"
                >Poor</el-radio>
                <el-radio
                  name="Rank"
                  v-validate="'required'"
                  v-model="watershed.priority"
                  value="good"
                  label="good"
                >Good</el-radio>
                <el-radio
                  name="Rank"
                  v-validate="'required'"
                  v-model="watershed.priority"
                  value="fairly good"
                  label="fairly good"
                >Fairly Good</el-radio>
              </div>
<!--              <small class="error" v-if="errors.has('Rank')">{{ errors.first('Rank') }}</small>-->
            </div>
          </el-col>
          <el-col :xs="24">
            <div class="gapBelow-20">
              <span class="demo-input-label">Planning Year</span>
              <el-date-picker
                name="Date"
                v-validate="'required'"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                v-model="datepickerRange"
                type="daterange"
                range-separator="To"
                start-placeholder="Start date"
                end-placeholder="End date"
                class="full-block"
              ></el-date-picker>
<!--              <small class="error" v-if="errors.has('Date')">{{ errors.first('Date') }}</small>-->
            </div>
          </el-col>

          <el-dialog :visible.sync="dialogVisible" width="60%" title="Select Objectives">
            <h3>Activity:</h3>
            <el-select filterable v-model="group" @change="selectGroup">
              <el-option
                v-for="(group, index) in groupedObjective"
                :key="index"
                :label="group.activity"
                :value="group.activity"
              ></el-option>
            </el-select>
            <h4 v-if="checked.length > 0">Objectives:</h4>
            <div>
              <span v-for="objective in checked" :key="objective.name">
                <div>
                  <el-checkbox v-model="objective.selected" :label="objective.name"></el-checkbox>
                  <!-- {{objective.name}} -->
                </div>
              </span>
            </div>
            <el-button @click="addObjectives" type="primary" style="margin-top: 10px;">OK</el-button>
          </el-dialog>

          <el-col :xs="24">
            <div class="gapBelow-20">
              <div class="flex spacebetween">
                <span class="demo-input-label">Objectives</span>
                <div>
                  <i class="el-icon-warning"></i>
                  <el-button @click="selectObjectives" type="text">Select Objectives</el-button>
                </div>
              </div>
              <el-input
                name="Objectives"
                v-validate="'required'"
                type="textarea"
                :rows="4"
                placeholder="Select Objectives"
                v-model="watershed.objectives"
              ></el-input>
<!--              <small class="error" v-if="errors.has('Objectives')">{{ errors.first('Objectives') }}</small>-->
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="absolute-block mask-scroll"></div>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/plan/list'">
        <el-button class="marRight-10" type="primary" icon="el-icon-arrow-left">Back</el-button>
      </router-link>

      <el-button type="primary" @click="submitPlan()">Save</el-button>

      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import commonStore from "@/store/modules/common";
import planStore from "@/store/modules/plan.ts";
import meta from "@/store/modules/meta.ts";
import { WatershedPlan } from "@/store/models/plan/watershedPlan";
import { UserInfo } from "@/store/models/userInfo";
import { Select, Radio, Button } from "element-ui";
import { Objective, ObjectiveGroup } from "@/store/models/meta";
import mapStore from "@/store/modules/map";
import common from "@/store/modules/common";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Select,
    Radio,
    Button
  }
})
export default class Createplan extends Vue {
  datepickerRange: string[] = [];
  good = "";
  poor = "";
  veryPoor = "";
  objective = "";
  watershed: WatershedPlan = {
    objectives: ""
  } as WatershedPlan;
  dialogVisible = false;
  group: string = "Select";
  checked: Objective[] = [];
  subwatersheds: WatershedPlan[] = [];

  get groupedObjective() {
    return meta.groupedObjective as ObjectiveGroup[];
  }

  async created() {
    commonStore.setPlanPercent(1);
    await this.loadMeta();
    if (this.$route.query.planid) {
      const planid = Number(this.$route.query.planid);
      this.loadPlan(planid);
    }
    meta.loadObjectives();
  }

  async goto(link: any) {
    var submit = await this.submitPlan();
    if (submit) {
      eventHub.$off("goto", this.goto);
      this.$router.push(link);
    }
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  async loadMeta() {
    await meta.loadWatersheds("");
    await meta.loadSubWatersheds("");
  }

  focusWatershed(id: number) {
    mapStore.focusSubWatershed("?subwatershedid=" + id);
  }

  async loadPlan(planId: number) {
    await planStore.getPlanByPlanId(planId);
    if (planStore.watershedPlan) {
      // console.clear();
      this.watershed = planStore.watershedPlan;
      if (!this.watershed.fromyear) {
        this.watershed.fromyear = "";
      }
      if (!this.watershed.toyear) {
        this.watershed.toyear = "";
      }
      // this.formatNumber(this.watershed.estimatedbudget);
      this.focusWatershed(this.watershed.subwatershedid);
      this.filterSubwatershed(this.watershed.watershedid);
      this.datepickerRange = [this.watershed.fromyear, this.watershed.toyear];
    }
  }

  get watersheds() {
    return meta.Watersheds;
  }

  // get subwatersheds() {
  //   return meta.SubWatersheds;
  // }

  setPriorityRank(priority: string): number {
    if (priority == "veryPoor") {
      return 1;
    } else if (priority == "poor") {
      return 2;
    } else if (priority == "good") {
      return 3;
    } else if (priority == "fairly good") {
      return 4;
    }
    return 0;
  }

  async submitPlan() {
    let isValid = await this.$validator.validateAll();

    // if (isValid) {
      if (this.datepickerRange.length == 2) {
        this.watershed.fromyear = this.datepickerRange[0];
        this.watershed.toyear = this.datepickerRange[1];
      }
      this.watershed.priorityrank = this.setPriorityRank(
        this.watershed.priority
      );

      commonStore.showLoading();
      // console.log(planStore.watershedPlan);
      // console.log(commonStore.isLoading);
      // console.log("loading active");

      const res = await planStore.savePlan(this.watershed);
      // this.formatNumber(this.watershed.estimatedbudget);

      if (planStore.watershedPlan) {
        // console.log(planStore.watershedPlan);
        this.watershed = planStore.watershedPlan;
        planStore.updatePlanPercentage({
          planid: this.watershed.id,
          percentCompleted: 1
        });
      } else {
        //msg
      }

      commonStore.hideLoading();
      // console.log("last to");
      this.$snotify.success("Saved Successfully");
      return true;
    // } else {
    //   this.$snotify.error("Invalid form");
    //   return false;
    // }

    commonStore.hideLoading();
    // console.log("last to");
    this.$snotify.success("Saved Successfully");
  }

  async saveAndContinue() {
    var submit = await this.submitPlan();
    if (submit) {
      // console.log("success");
      this.$router.push(
        "/plan/step1/BioPhysical?planid=" + planStore.watershedPlan.id
      );
    } else {
    }
  }

  filterSubwatershed(id: number) {
    this.subwatersheds = meta.SubWatersheds.filter(x => x.watershedid == id);
  }

  selectGroup(group: string) {
    const objectives = this.groupedObjective.find(
      x => group === x.activity
    ) as any;
    this.checked = objectives.objectives;
  }
  selectObjectives() {
    this.dialogVisible = true;
  }

  addObjectives() {
    if (this.watershed.objectives === "") {
      this.watershed.objectives = "The objectives of this plan are:";
    }
    for (const value of this.checked) {
      if (value.selected) {
        this.watershed.objectives = this.watershed.objectives.replace(
          "\n" + value.name,
          ""
        );
        this.watershed.objectives += "\n" + value.name;
      } else {
        this.watershed.objectives = this.watershed.objectives.replace(
          "\n" + value.name,
          ""
        );
      }
    }
    this.dialogVisible = false;
  }

  formatNumber(n: any) {
    const result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    Vue.nextTick(() => (this.watershed.estimatedbudget = result));
  }
}
</script>

<style lang="sass">

.border-box .el-button--primary
  width: 100%
  margin-top: 20px

.demo-input-label
  padding-right: 8px
  
.el-input.el-input--suffix   input[aria-invalid="false"] 
  small
    border-color: green
</style>
