<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <header class="flex spacebetween verticleCenter">
            <div>
              <h3 class="title4">Sub-Watershed Plans:</h3>
            </div>
            <div class="createPln">
              <i class="el-icon-circle-plus-outline"></i>
              <el-button @click="createPlan()" type="text">Create New Plan</el-button>
            </div>
          </header>
          <div>
            <div @keyup.enter="search()">
              <el-input
                @input="searchClear"
                class="search"
                suffix-icon="el-icon-search"
                size="small"
                placeholder="Search by PlanName or Subwatershed"
                clearable
                v-model="searchString.search"
              ></el-input>
            </div>
          </div>
        </div>
        <el-tabs v-model="tab">
          <el-tab-pane label="My Plans" name="myPlans">
            <PlanComponent :planList="planListResult.myPlans"></PlanComponent>
          </el-tab-pane>
          <el-tab-pane label="Other Plans" name="otherPlans">
            <PlanComponent :planList="planListResult.otherPlans"></PlanComponent>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="absolute-block mask-scroll"></div>
    </div>
    <div class="gutter-sd text-right">
      <hr class="padBottom-10" />
      <el-pagination
        v-if="tab=='myPlans'"
        @current-change="handlePageChange"
        :page-count="plansFromStore.total_pages"
        background
        layout="prev, pager, next"
      ></el-pagination>

      <el-pagination
        v-else
        @current-change="handlePageChangeOther"
        :page-count="plansFromStoreOther.total_pages"
        background
        layout="prev, pager, next"
      ></el-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Button, Select, Progress } from "element-ui";
import planStore from "@/store/modules/plan";
import { WatershedPlan, Search } from "@/store/models/plan/watershedPlan.ts";
import { District, Palika } from "@/store/models/meta";
import metaModule from "@/store/modules/meta";
import palikaListing from "@/store/modules/meta";
import router from "@/router";
import JWTModule from "@/store/modules/jwt";
import PlanComponent from "@/views/Plan/Beforestep/components/PlanComponent.vue";

@Component({
  components: {
    Button,
    Select,
    Progress,
    PlanComponent
  }
})
export default class App extends Vue {
  palikas: Palika[] = [];
  optionFour: string = "";
  searchString: Search = {} as Search;
  tab: string = "";

  get plansFromStore() {
    return planStore.pagePlans;
  }

  get plansFromStoreOther() {
    return planStore.pagePlansOther;
  }

  get planListResult() {
    let myplans = planStore.pagePlans.results;
    let otherplans = planStore.pagePlansOther.results;

    let list: {
      myPlans: any[];
      otherPlans: any[];
    } = {
      myPlans: [],
      otherPlans: []
    };

    if (myplans !== undefined) {
      list.myPlans = myplans;
    }

    if (otherplans !== undefined) {
      list.otherPlans = otherplans;
    }

    return list;
  }

  // get planList() {
  //   // let accessiblePlanListID: number[] = [];

  //   // const accessiblePlanList = planStore.watershedPlanList.filter(
  //   //   x => x.role === "Planner"
  //   // );

  //   // for (let i = 0; i < accessiblePlanList.length; i++) {
  //   //   accessiblePlanListID.push(accessiblePlanList[i].id);
  //   // }

  //   // JWTModule.setAccessiblePlan(accessiblePlanListID);
  //   // console.log(JWTModule.accessiblePlanList);

  //   let plans = planStore.plans;
  //   let list: {
  //     myPlans: any[];
  //     otherPlans: any[];
  //   } = {
  //     myPlans: [],
  //     otherPlans: []
  //   };

  //   if (plans !== undefined) {
  //     for (let plan of plans) {
  //       if (plan.createdby === this.user.id) {
  //         list.myPlans.push(plan);
  //       } else {
  //         list.otherPlans.push(plan);
  //       }
  //     }
  //   }
  //   return list;
  // }

  get palikaList() {
    return palikaListing.Palikas;
  }

  get distList() {
    return metaModule.Districts;
  }

  get user() {
    return metaModule.User;
  }

  async created() {
    this.tab = "myPlans";
    await planStore.getPlanListing({ page: 1 });
    await planStore.getOtherPlanListing({ page: 1 });
    metaModule.loadDisticts();
    metaModule.loadPalikas();
    if (
      this.planListResult.myPlans !== undefined &&
      this.planListResult.myPlans.length === 0 &&
      this.planListResult.otherPlans !== undefined &&
      this.planListResult.otherPlans[0]
    ) {
      this.tab = "otherPlans";
    }
  }

  createPlan() {
    this.$router.push("/Plan/CreatePlan");
  }

  editPlan(planid: number) {
    this.$router.push("/Plan/CreatePlan?planid=" + planid);
  }

  detailPlan(planid: number) {
    this.$router.push(
      "/Detail/SelectedProblems?planid=" + planid + "&previous=planlist"
    );
  }

  overview(planid: number) {
    this.$router.push(
      "/Detail/Overview?planid=" + planid + "&previous=planlist"
    );
  }

  maintain(planid: number) {
    this.$router.push(
      "/Reporting/ActivityList?planid=" + planid + "&previous=planlist"
    );
  }

  async search() {
    await planStore.getPlanListing({
      search: this.searchString.search,
      page: 1
    });

    await planStore.getOtherPlanListing({
      search: this.searchString.search,
      page: 1
    });
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  handlePageChange(val: number) {
    planStore.getPlanListing({
      search: this.searchString.search,
      page: val
    });
  }

  handlePageChangeOther(val: number) {
    planStore.getOtherPlanListing({
      search: this.searchString.search,
      page: val
    });
  }
}
</script>

<style lang="sass">
@import './stylesheets/sass/mediaqueries'
@import url("//unpkg.com/element-ui@2.9.1/lib/theme-chalk/index.css");
.aside 
  max-width: 200px
  overflow: hidden

.flexList 
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: start
  -ms-flex-pack: start
  justify-content: space-between

.flexChildren 
  align-items: center

p 
  line-height: 0
  margin: 0px
  display: inline
  padding-left: 10px

.inline 
  p 
    display: inline

i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 5px;

header
  padding: 0px 0px

.createPln
  font-weight: 500
  color: #0060CA

.iconFill
  height: 25px
  background-color: #ECEFEF
  border: 1px solid #e2e2e2
  box-shadow: 1px 1px #9e9e9e38
  padding: 0px
  border-radius: 50%
  margin-right: 20px

.fixedHead
  margin-bottom: 25px

.fixedHead header.flex
  +smallDesktop
    display: block

h6
  color: #2A2937
  font-size: 15px
  font-weight: 500
  line-height: 18px

h6::first-letter 
  text-transform: capitalize

.plan-head 
  span
    color: #090089
    font-size: 11px
    font-weight: bold

p.subwatershedName
	color: #737373
	font-size: 14px

p.dates
	color: #2A2937
	font-size: 11px
	font-weight: 500

div > p
  padding-right: 15px
  
.borderBottom
  width: 100%
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea
  padding-bottom: 15px

.el-progress-bar__outer
  width: 200px
  background-color: #EEEEEE

.el-button--text
  color: #0060CA

button.el-button.is-circle 
  display: flex
  margin: 0
  margin-bottom: 5px  

.el-table .cell
  word-break: break-word;

.el-collapse-item__content
  padding-bottom: 0px;

.el-table__header-wrapper
  display: none;

</style>
