<template>
  <div class="max-height">
    <!-- <div class="scroll-auto"> -->
    <!-- <el-row>
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">-->
<!--    <InitialPlanList></InitialPlanList>-->
    <ContingencyMeasures></ContingencyMeasures>
    <!-- </el-col>

    </el-row>-->
    <!-- </div> -->
    <!-- <div class="absolute-block mask-scroll"></div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Map from "@/views/Plan/Planlayout/Map.vue";
import Instructions from "@/views/Plan/Planlayout/Instructions.vue";
import InitialPlanList from "@/views/Plan/Beforestep/InitialPlanList.vue";
import commonStore from "@/store/modules/common";
import ContingencyMeasures from "@/views/Plan/Beforestep/ContingencyMeasures.vue";

@Component({
  components: {
    ContingencyMeasures,
    Map,
    Instructions,
    InitialPlanList
  }
})
export default class App extends Vue {
  loading = false;


  created() {}
}
</script>

<style lang="scss">
</style>
