<template>
  <div class="whiteBg marTop-10 marRight-10">
    <div class="overflow scroll-ninety">
      <div class="scroll-auto scroll-all">
        <!-- <div v-show="showing = this.showing">
        <h1>This is heading</h1>
        </div>-->
        <div v-show="showing = this.showing">
          <el-radio-group v-model="isCollapse">
            <el-radio-button :label="false">
              <svg
                class="expand"
                height="16"
                viewBox="0 0 16 16"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <mask id="a">
                  <path
                    d="m16 7h-12.17l5.59-5.59-1.42-1.41-8 8 8 8 1.41-1.41-5.58-5.59h12.17z"
                    fill="#fff"
                    fill-rule="evenodd"
                  />
                </mask>
                <g class="expand" fill="#80868b" fill-rule="evenodd" mask="url(#a)">
                  <path d="m0 0h24v24h-24z" transform="translate(-4 -4)" />
                </g>
              </svg>
            </el-radio-button>
            <el-radio-button :label="true">
              <svg
                class="collapse"
                height="16"
                viewBox="0 0 16 16"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <mask id="a" fill="#fff">
                  <path
                    d="m8 0-1.41 1.41 5.58 5.59h-12.17v2h12.17l-5.58 5.59 1.41 1.41 8-8z"
                    fill="#fff"
                    fill-rule="evenodd"
                  />
                </mask>
                <g class="collapse" fill="#80868b" fill-rule="evenodd" mask="url(#a)">
                  <path d="m0 0h24v24h-24z" />
                </g>
              </svg>
            </el-radio-button>
          </el-radio-group>
        </div>
        <el-aside>
          <!-- <el-radio-group v-model="isCollapse">
        <el-radio-button :label="true">Collapse</el-radio-button>
        <el-radio-button :label="false">Expand</el-radio-button>
          </el-radio-group>-->
          <el-menu
            :default-openeds="opened"
            @open="handleOpen"
            @close="handleClose"
            :collapse="isCollapse"
            v-for="(layers, group) in groupedLayer"
            :key="group"
            v-model="groupedLayer"
          >
            <el-submenu :index="group">
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span slot="title">{{group}}</span>
              </template>
              <el-menu-item-group v-for="layer in layers" :key="layer.layer_id">
                <el-menu-item :index="layer.layer_id">
                  <span class="flex spacebetween">
                    <el-checkbox
                      :checked="layer.visible"
                      @change="setVisibility($event, layer.layer_id)"
                      :label="layer.title"
                    ></el-checkbox>
                    <el-popover placement="top-start" trigger="click" width="200">
                      <span slot="reference">
                        <i class="el-icon-info" />
                      </span>
                      <div>Description: {{layer.description}}</div>
                      <div>Source: {{layer.source_description}}</div>
                    </el-popover>
                  </span>
                  <img
                    class="marLeft-20"
                    :src="geoserver + 'geoserver/wms?Service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LEGEND_OPTIONS=forceLabels:on;dx:5;dy:0.2;mx:0.0;my:0.2;&TRANSPARENT=true&LAYER='+layer.source_data.legend"
                  />
                </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>
      </div>
    </div>
    <div class="gutter-tf">
      <div class="cen">
        <span style="font-size: 0.70em">Powered By:&nbsp;</span>
        <img
          src="@/assets/ptas-logo.png"
          alt="Pathway Technologies and Services"
          height="15px"
          style="margin-top:0px;margin-bottom:-3px;"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import {
  Button,
  Radio,
  RadioGroup,
  RadioButton,
  Menu,
  MenuItem,
  MenuItemGroup
} from "element-ui";
import mapStore from "@/store/modules/map";
import { GroupedLayer } from "@/store/models/map";
import { Action } from "@/store/actionType";

@Component({
  components: {
    Button,
    Radio,
    RadioGroup,
    RadioButton,
    Menu,
    MenuItem,
    MenuItemGroup
  }
})
export default class Aside extends Vue {
  public isCollapse = false;
  public showing = true;
  // public groupedLayer: GroupedLayer[] = [];

  opened = ["Watershed"];

  get geoserver() {
    return Action.Geoserver;
    // return Action.Base.replace("/api", "/proxy/") + Action.Geoserver;
  }

  public handleOpen(key: string, keyPath: string) {
    // console.log(key, keyPath);
  }

  public handleClose(key: string, keyPath: string) {
    // console.log(key, keyPath);
  }

  public windowsWidth() {
    if (window.innerWidth > 768) {
      this.isCollapse = false;
      this.showing = false;
    } else {
      this.isCollapse = true;
      this.showing = true;
      // console.log("less than 768");
    }
  }

  get groupedLayer() {
    return mapStore.GroupedLayer;
  }

  public async loadGroup() {
    await mapStore.loadGroupedLayers();
  }

  created() {
    this.loadGroup();
    this.windowsWidth();
  }

  public setVisibility(visible: boolean, layerId: string, group: string) {
    mapStore.updateVisibility({ layerId, visible });
    let groupedLayer = mapStore.GroupedLayer as GroupedLayer;
    for (const group in groupedLayer) {
      for (const layer of groupedLayer[group]) {
        if (layer.layer_id === layerId) {
          layer.visible = visible;
          break;
        }
      }
    }
    mapStore.updateGroupedLayers(groupedLayer);
  }
}
</script>

<style lang="sass">
@import './stylesheets/sass/mediaqueries'

.is-active label
  color: inherit
  font-weight: inherit

.aside
  label.el-checkbox
    display: block;

li .el-menu-item
  display: grid
  height: auto!important
  img
    width: auto!important

aside.el-aside
  max-width: 270px
  min-width: 220px
  padding-top: 15px
  overflow: initial!important
  +smallDesktop
  width: auto

label.el-radio-button
  padding: 0px

svg.expand
  transform: rotate(180deg)

svg.collapse
  transform: rotate(0deg)

.el-radio-button__inner
  padding: 5px 10px

.el-submenu .el-menu-item
  padding: 0px 20px !important

label.el-radio-button.is-active
  g.collapse
    fill: #fff

  g.expand
    fill: #fff

.gutter-tf
  padding-left: 25px
  padding-right: 25px

.scroll-ninety
  height: 95% !important

.overflow 
  .scroll-all
    height: 100% !important
</style>