<template>
  <div class="navbar">
    <nav class="flex">
      <div class="flex navLeft">
<!--        <router-link to="/plan/list">-->
          <img
            src="@/assets/nepal.png"
            alt="Nepal Government"
            height="35px"
            style="margin-top:0px;margin-bottom:-3px;"
          />&nbsp;
<!--        </router-link>-->
<!--        <router-link to="/plan/list">-->
<!--        </router-link>-->
      </div>
          <div class="navCenter">
          <strong>
              <h3>Agriculture Contingency Plan for District</h3>
<!--            <sub style="font-size:.8em;color:red;">beta</sub>-->
          </strong>
          </div>
<!--      <div class="navCenter">-->
<!--        <ul class="flex">-->
<!--          <li>-->
<!--            <a-->
<!--              :class="{'cursor-not-allowed':(plan.percentcompleted<1 || $route.query.planid === undefined) || (plan.createdby !== user.id || plan.role !== 'Admin'), 'cursor-pointer': (plan.percentcompleted>=1 && $route.query.planid !== undefined) && (plan.createdby === user.id || plan.role === 'Admin')}"-->
<!--              @click="goto('CreatePlan', 1)"-->
<!--            >-->
<!--              <i class="icon-circle sm" :class="[{'filled': initialPlan}]">1</i>-->
<!--              <span>Initial Plan</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a-->
<!--              :class="{'cursor-not-allowed':(plan.percentcompleted<50 || $route.query.planid === undefined) || (plan.createdby !== user.id || plan.role !== 'Admin'), 'cursor-pointer': (plan.percentcompleted>=50 && $route.query.planid !== undefined) && (plan.createdby === user.id || plan.role === 'Admin')}"-->
<!--              @click="goto('SelectedProblems', 50)"-->
<!--            >-->
<!--              <i class="icon-circle sm" :class="[{'filled': detailPlan}]">2</i>-->
<!--              <span>Detail Plan</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a-->
<!--              :class="{'cursor-not-allowed':(plan.percentcompleted<70 || $route.query.planid === undefined) || (plan.createdby !== user.id || plan.role !== 'Admin'), 'cursor-pointer': (plan.percentcompleted>=70 && $route.query.planid !== undefined) && (plan.createdby === user.id || plan.role === 'Admin')}"-->
<!--              @click="goto('WorkPlan', 70)"-->
<!--            >-->
<!--              <i class="icon-circle sm" :class="[{'filled': reporting}]">3</i>-->
<!--              <span>Reporting</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
      <div class="flex navRight">
        <ul class="flex verticleCenter">
          <li class="flex" v-if="isAdmin">
            <el-button
              type="text"
              style="color:black;font-family: Roboto,sans-serif; font-size: 13px;"
                                                                        @click="settings"

            >

              <span :class="[{'bold': settingsActive}]" class="textwhite">
                <i title="Settings" class="el-icon-setting"></i> Settings
              </span>
            </el-button>
          </li>
<!--          <li class="flex">-->
<!--            <router-link to="/Plan/List">-->
<!--              <span :class="[{'bold': planActive}]">-->
<!--                <img src="@/assets/plan_ico.svg" alt="Plan Image" /> My Plans-->
<!--              </span>-->
<!--            </router-link>-->
<!--          </li>-->
<!--          <li class="flex">-->
<!--            <el-button-->
<!--              type="text"-->
<!--              @click="about"-->
<!--              style="color:black;font-family: Roboto,sans-serif; font-size: 13px;"-->
<!--            >-->
<!--              <span :class="[{'bold': aboutActive}]">About</span>-->
<!--            </el-button>-->
<!--          </li>-->
          <!-- <li class="flex">
            <router-link to="/">Logout</router-link>
          </li>-->
          <li class="flex" v-if="isLoggedIn">
            <router-link to="/User/Profile">
              <span :class="[{'bold': profileActive}]" class="textwhite">
                <i class="el-icon-user"></i>
                {{username|capitalize}}
              </span>
            </router-link>
          </li>
          <li class="flex" v-if="isLoggedIn">
            <a @click="logout" style="cursor: pointer;color: #ffffff">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import JWTStore from "@/store/modules/jwt";
import MetaStore from "@/store/modules/meta";
import commonStore from "@/store/modules/common";
import planStore from "@/store/modules/plan";
import router from "../../router";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {},
  filters: {
    capitalize(value: string) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
})
export default class Navbar extends Vue {
  isLoggedIn: boolean = JWTStore.loggedIn;

  get planPercent() {
    return commonStore.planPercent;
  }

  get initialPlan() {
    if (this.planPercent > 0) {
      return true;
    }
    return false;
  }

  get detailPlan() {
    if (this.planPercent >= 30) {
      return true;
    }
    return false;
  }

  get reporting() {
    if (this.planPercent >= 70) {
      return true;
    }
    return false;
  }

  get isAdmin() {
    if (this.isLoggedIn && localStorage.getItem("role") === "Admin") {
      return true;
    }
    return false;
  }

  get username() {
    if (MetaStore.User.firstname != "") {
      return MetaStore.User.firstname;
    }
    return MetaStore.User.username;
  }

  get profileActive() {
    if (this.$route.path.toLowerCase() === "/user/profile") {
      return true;
    }
    return false;
  }
  get aboutActive() {
    if (this.$route.path.toLowerCase() === "/about") {
      return true;
    }
    return false;
  }
  get settingsActive() {
    if (this.$route.path.toLowerCase().includes("admin")) {
      return true;
    }
    return false;
  }
  get planActive() {
    if (this.$route.path.toLowerCase() === "/plan/list") {
      return true;
    }
    return false;
  }

  logout() {
    JWTStore.logOut();
    // this.$router.push("/");
  }

  settings() {
    // console.log(this.$route.path.toLowerCase());
    if (!this.$route.path.toLowerCase().includes("admin")) {
      commonStore.setBeforeAdminSetting(this.$route.fullPath);
      // console.log(this.$route.fullPath);
    }
    this.$router.push("/Admin/Settings");
  }

  about() {
    // console.log(this.$route.path.toLowerCase());
    if (!this.$route.path.toLowerCase().includes("about")) {
      commonStore.setBeforeAbout(this.$route.fullPath);
      // console.log(this.$route.fullPath);
    }
    this.$router.push("/About");
  }

  async created() {
    if (localStorage.getItem("access_token")) {
      await MetaStore.getUser();
    }
  }

  get plan() {
    return planStore.watershedPlan;
  }

  get user() {
    return MetaStore.User;
  }

  goto(name: string, percentComplete: number) {
    if (
      this.$route.query.planid !== undefined &&
      this.plan.percentcompleted >= percentComplete &&
      (this.plan.createdby === this.user.id || this.plan.role === "Admin")
    ) {
      eventHub.$emit("goto", { name: name, query: this.$route.query });
      eventHub.$emit("goto-off");
    }
  }
}
</script>

<style lang="scss">
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.navLeft {
  a.router-link-active {
    color: #2a2937;
    font-size: 15px;
    font-weight: 500;
    &:hover {
      color: #0060ca;
    }
  }
}
.bold {
  font-weight: bold;
}
nav {
  justify-content: space-between;
  background-color: #0a4563;
    color: #ffffff;
}
.navCenter {
  margin: 0 auto;
  ul li {
    padding: 0px 15px;
    text-align: center;
    display: flex;
    vertical-align: middle;
    position: relative;
    &:nth-child(1) {
      &::after {
        content: "";
        position: relative;
        width: 80px;
        height: 2px;
        background-color: #dfdfdf;
        left: 14px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: #0060ca;
        left: 118px;
        z-index: 2;
      }
    }
    &:nth-child(2) {
      &::after {
        content: "";
        position: relative;
        width: 80px;
        height: 2px;
        background-color: #dfdfdf;
        left: 14px;
      }
    }
  }
  li {
    align-items: center;
    a {
      display: flex;
      i.icon-circle.sm {
        margin-right: 10px;
      }
    }
  }
  .icon-circle.sm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-style: normal;
  }
  .icon-circle {
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    background-color: white;
    color: #93cfff;
    border: 2px solid #93cfff;
    box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-weight: 500;
  }
  i.icon-circle.sm.filled {
    background-color: #0060ca;
    color: white;
  }
  span {
    color: #0060ca;
    font-size: 12px;
    font-weight: 500;
  }
  span.disabled {
    color: #929292;
  }
  i.icon-circle.sm.filled {
    &:hover {
      color: #0060ca;
      background-color: white;
    }
  }
}

.navRight img {
  width: 18px;
  vertical-align: text-top;
  padding-right: 9px;
}
.navRight ul li {
  align-items: center;
  padding-right: 20px;
  &:last-child {
    padding-right: 0px;
  }
  a {
    align-items: center;
    color: #2a2937;
    font-size: 13px;
    font-weight: 500;
  }
}
.navLeft {
  align-items: center;
}

    .textwhite{
        color: #ffffff;
    }

    .titleCenter{
        text-align: center;
    }
</style>
