@import '_mixin'

@-webkit-keyframes slide
    0%
        width: 0
    100%
        width: 100%
        transition: all 0.5s linear


@keyframes slide
    0%
        width: 0
    50%
        width: 100%
        transition: all 0.5s linear
