*
  margin: 0
  padding: 0

@import '_keyframes'
@import '_form'
@import 'mediaqueries'

body
  font-family: 'Roboto', sans-serif
  background-color: $color-body
  display: inline-block
  width: 100%
  height: 100%
  font-weight: 400
  line-height: 28px
  overflow-x: hidden
  // +smallDesktop
  //   background-color: red

a
  color: $color-theme-option
  text-decoration: none

a.notAllowed 
  cursor: not-allowed

a:hover, a:focus
  text-decoration: none
  outline: 0
  color: $color-theme

img
  max-width: 100%

.whiteBg
  background-color: #ffffff;

p
  line-height: 1.6 !important
  font-size: 13px
  padding-left: 0 !important
  margin-bottom: 0.70rem
  vertical-align: top

figure
  img
    width: 100%

strong
  color: inherit

sup
  color: red

iframe
  width: 100%
  height: 100%

hr
  margin: 10px 0
  width: 100%
  border: none
  border-top: 1px solid $color-border

button:focus,
select:focus,
.btn:focus
  outline: 0
  color: inherit
  +box-shadow(none)

option:selected 
  color: red

.gapBelow-20
  padding-bottom: 20px

.gapBelow-30
  padding-bottom: 30px

.gapBelow-10
  padding-bottom: 10px

.field
  .input,
  select
    padding: 5px 15px
    min-height: 40px
    width: 100%

  .select
    min-height: 55px
    width: 100%
    font-size: 1rem

table
  font-size: 12px
  td,th
    padding: 6px 10px !important
  th
    padding: 10px !important
    font-weight: 600
    min-width: 115px

.table
  margin-bottom: 0
  &-scrollX
    overflow-x: auto
    display: block

.field
  text-align: left
  margin-bottom: 1.20rem

.force-block
  display:block !important

.form-wrapper
  padding: 15px 20px
  background-color: $color-white
  
.form-control
  min-height: 45px
  
.border
  border-width: 1px
  border-style: solid
  border-color: $color-border
  +border-radius(4px)

.help.is-danger
  margin-top: 0

.spacebetween
  justify-content: space-between 

nav
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  background-color: #ffffff
  padding: 8px 25px
  +box-shadow(5px 3px 13px #D3D3D3)
  +smallDesktop
    .flex
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    .navRight
      display: none

//Alignment
.text
  &-right
    text-align: right

//list-style
ul
  li
    list-style: none
.order-list
  padding-left: 15px
.list-style
  padding-left: 4px
  li
    display: block
    .gutter-lt
      padding-left: 25px
  &.margin
    li
      &:not(:last-child)
        margin-bottom: 8px

.list-inline
  margin-left: 0
  li
    display: inline-block
    margin-right: 0
    padding: 0 2px
    &:last-child
      margin-right: 0

.list-style1
  li
    display: block

//font-style
.title-cm
  font-weight: 400

.title-bg
  padding: 18px
  margin: 0
  &.fixed
    position: absolute
    width: 100%
    border-bottom: 1px solid rgba($color-grey, 0.3)

.title-big
  font-size: 40px
  font-weight: 600

.inner-border-title
  color: $color-theme
  font-weight: 600
  border-bottom: 1px solid $color-light-grey

.title1
  font-size: 32px
  line-height: 41px
  font-weight: 300
  span
    display: block

.title3
  line-height: 35px
  font-size: 22px

.respFlex
  +smallDesktop
    display: flex
    flex-wrap: wrap

.title4
  font-size: 22px

.title5
  font-size: 19px

.title6
  font-size: 16px

.title7
  font-size: 14px

.title2, .title3, .title4, .title5,.title6, .title7
  font-weight: 400

.title-bold
  font-weight: 600

.title-wrapper
  margin-bottom: 0
  margin-top: 10px
  p
    max-width: 420px
    font-weight: 400

.title-up
  text-transform: uppercase

.title-up-bold
  text-transform: uppercase
  font-weight: 600

.font-sm
  color: $color-dark-grey
  font-size: 80%
  font-weight: 400
  letter-spacing: 0.1px

.color-grey
  color: $color-grey

.color-dark-grey
  color: $color-dark-grey

.color-light-grey
  color: $color-light-grey

.theme-bg
  background-color: $color-theme
  color: #ffffff

.theme-light
  background-color: rgba($color-grey, 0.3)

.title-head
  font-size: 20px
  line-height: 32px
  margin-bottom: 5px
  color: $color-black
  font-weight: 600

.title
  font-weight: 400
  line-height: 1.125

.sub-title
  font-weight: 400
  font-size: .750rem

//gutter
.gutter
  padding: 15px
  +desktop
    padding: 20px
.gutter1
  padding: 40px 0
  +fullhd
    padding: 50px 0

.gutter2
  padding: 15px

.gutter3
  padding: 20px 0 30px

.gutter-lt
  padding-left: 30px !important
  &-15
    padding-left: 15px !important
  &-sm
    +desktop
      padding-left: 20px

.gutter-rt
  padding-right: 0
  +desktop
    padding-right: 10px

.gutter-sd
  padding-left: 25px
  padding-right: 25px
  +smallDesktop
    padding-left: 0px

.gutter-ls-rt
  padding-right: 0

.gutter-ls-btm
  padding: 15px 15px 0

.gutter-ls-lt
  padding-left: 0

.gutter-ls-sd
  padding-left: 0
  padding-right: 0
  &:last-child
    +desktop
      padding-left: 15px

.gutter-ls
  padding: 0

.gutter-tp
  padding-top: 10px

.gutter-tp-btm
  padding-top: 15px
  padding-bottom: 15px

.gutter-ls-tp
  padding-top: 0

.gutter-ls-btm
  padding-bottom: 0

//margin
.margin-lg
  margin: 50px 0

.margin-top
  margin-top: 25px

.margin-lt
  margin-left: 20px

.margin-rt
  margin-right: 10px

.margin-btm
  margin: 0
  margin-bottom: 20px !important

.margin-rt-one
  &:not(:last-child)
    margin-right: 10px

//button
button[type="submit"]
  cursor: pointer !important

button
  background-color: transparent
  border: none
  
.button, .btn
  padding: 15px
  font-size: 14px
  border: none !important
  background-color: transparent
  +transition-smooth
  &:not(:last-child)
    margin-right: 6px
  &:hover
    opacity: 0.7
    +transition-smooth
  .fa
    padding-left: 5px

  &.btn-icon
    padding: 5px

.is-default
  padding: 5px 10px
  background-color: $color-grey

.is-outline
  background-color: transparent
  border-color: $color-grey
  padding: 5px 10px
  &:hover
    background-color: $color-theme
    border-color: transparent
    color: #ffffff
  &.theme
    border-color: $color-theme
    color: $color-theme
    &:hover
      color: $color-white

.is-primary
  background-color: $color-theme-hover
  color: #ffffff
  border: 1px solid transparent


//layout
.row-wrap
  margin: 0 -15px
  +desktop
    margin: 0 -5px

.scroll
  &-x
    overflow-x: auto
  &-y
    overflow-y: auto
  &-auto
    overflow: auto !important
    height: 100%
  &-between
    height: 85%
    margin-bottom: 16px
  &-child
    & > *
      &:last-child
        overflow-y: auto
        height: 90%

.col
  width: 100%
  a
    display: block

.relative-block
  position: relative
  height: 100%

.z-index
  position: relative
  z-index: 999

button.table-block.absolute-block.mid.left.button-rm
+smallDesktop
  display: none!important

.absolute-block
  position: absolute
  top: 0
  left: 0
  z-index: 999 !important
  &.mask
    &-scroll
      width: 7px
      right: 9px
      height: 100%
      top: 0
      left: auto
      background-color: $color-white
  &.right
    right: 0
    left: auto
    &.length
      right: 365px
    &-nxt
      right: -35px
      left: auto
  &.left
    left: 8px
    &.length
      left: 135px
    &-bfr
      left: -35px
  &.btm-left
    bottom: 10px
    left: 10px
    top: auto !important
  &.btm
    top: auto
    bottom: 0
  &.mid
    top: 50%
  & >
    .btm-right
      top: auto
      right: 7%
      bottom: 0
      background-color: #656565
      border-top-right-radius: 5px
      border-top-left-radius: 5px
      +box-shadow(0 -10px 20px rgba(0,0,0,0.3))
      +fullhd
          right: 6%
      span
        min-width: 115px
        padding: 10px 15px
        display: inline-block
        text-align: center

      &.up
        max-width: 320px
        left: auto
        background: white
        padding: 15px
        bottom: 6%
        border-radius: 10px
        right: 3%

.white-block
  background-color: $color-white

//link
.has-link
  color: $color-black
  &:after
    content: ""
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
  &:hover
    color: $color-theme

//icon block
.icon
  padding-right: 5px
  &-block
    margin-bottom: 5px
    &.theme &.theme-left
      .icon, icon-left
        width: 20px
        fill: $color-black
  &-circle, &-circle-left
    +border-radius(50%)
    height: 40px
    width: 20px
    vertical-align: middle
    background-color: $color-light-grey
    display: table-cell
    text-align: center
    color: $color-dark-grey
    border-width: 1px
    border-color: $color-grey
    border-style: solid
    margin-right: 5px
    &.sm
      font-size: 12px
      width: 25px
      height: 25px
    &.theme 
      width: 50px
      text-align: right
      padding: 8px
      color: $color-theme
      &.shadow-lt
         border: none
    &.theme-left
      width: 50px
      text-align: left
      padding: 8px
      color: $color-theme
      &.shadow-lt-left
      border: none

       
    &.half,  
      width: 10px
      height: 20px
      border-top-left-radius: 40px
      border-bottom-left-radius: 40px
    &.half-left
      
      color: black
      background-color: #00000017
      width: 10px
      height: 20px
      border-top-right-radius: 40px
      border-bottom-right-radius: 40px
      

.icon-border
  .list-inline
    margin-bottom: 0
    .icon
      background-color: rgba($color-theme, 0.7)
      +border-radius(2px)
      border: 1px solid transparent
      padding: 6px
      width: 30px
      height: 30px
      +transition-smooth
      &:hover
        border: 1px solid rgba($color-white, 0.7)
        background-color: rgba($color-theme, 1)

.icon-bar
  width: 65px
  .nav-tabs
    a
      opacity: 0.7
      line-height: 1.2
    .active
      a
        opacity: 1
  .icon
    fill: rgba($color-white, 0.7)

// Scrollbar
/* width */
::-webkit-scrollbar
  width: 10px

/* Track */
::-webkit-scrollbar-track 
  box-shadow: inset 0 0 5px $color-grey
  border-radius: 10px
 
/* Handle */
::-webkit-scrollbar-thumb 
  background: $color-grey
  border-radius: 10px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
  background: $color-grey

//nav-tabs

.absolute-tab
  .border-theme
    li
      a
        background-color: transparent
  .tab-hover-wrapper
    .tab-hover
      display: table
      background-color: transparent
      border: 1px solid $color-white
      color: $color-white
      padding: 6px 5px 4px
      +transition-smooth
      +border-radius(3px)
    .tab-item
      display: none
    .tab-hover-content
      display: none

    .icon-bar
      .icon
        fill: rgba($color-theme, 0.7)
      .nav-tabs
        li
          background-color: transparent
          border: 1px solid rgba($color-theme, 0.7)
          +border-radius(3px)
          &:hover
            // background-color: $color-theme
            +border-radius(1px)
            border: 1px solid transparent
          &:last-child
            display: none
    &:hover
      .tab-item
        display: block
      .tab-hover-content
        +flexbox
        height: auto
      .tab-hover
        border: 1px solid transparent
        background-color: $color-theme
        +border-radius(1px)
  .tab-hover-content
    .item
      img
        border: 2px solid transparent
      .active
        font-weight: 600
        img
          border: 2px solid $color-theme
.box
  &-wrapper
    margin-bottom: 15px
    padding: 15px
    border: 1px solid $color-light-grey
    +box-shadow(0 2px 10px rgba(0,0,0,0.05))
    .flexChildren
      min-width: 190px
  &-tab
    background-color: $color-light-grey
    .nav-tabs
      border-bottom: 1px solid #eaeaea
      li
        & >
          .active
            & >
              a
                background-color: $color-white
                color: $color-theme
    .tab-content
      padding: 25px
      border-color: #eaeaea
      border-width: 1px
      border-style: solid
      border-top: none
      background-color: $color-white
      .table
        th,td
          height: 40px

  .nav-tabs 
    border: none
    +box-shadow(0 0 23px rgba(0,0,0,0.10))
    & >
      li
        & >
          a
            padding: 22px 14px
            margin-right: 0
            font-size: 13px
            font-weight: 600
            color: $color-black
            border: none
            &:hover
              background-color: transparent
              border-color: transparent
        &.active
          & >
            a
              color: $color-red
              border: none
              &:hover, &:focus
                color: $color-red
                border: none

.full-block
  display: block
  width: 100% !important

.left-block
  +tablet
    float: left
    width: 50%
.right-block
  +tablet
    float: right
    width: 50%
.right
  float: right

.inline-absolute
  .left-block
    width: 100%
    +tablet
      width: 90%

  .absolute-block
    left: auto
.inline-block
  display: inline-block
  vertical-align: top
.full-block
  display: block
.overflow
  position: relative
  overflow: hidden
  .scroll
    &-auto
      height: 104% !important
      position: relative
      top: -7px
      & > div
        padding: 20px 15px 15px 20px

.image-block
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.is-fullWidth
  width: 100%
  input, select
    width: 100%

.is-fullheight
  +calc( height, '100vh - 70px')

//Max Height
.max
  &-height
    height: 100% !important
    &-ls
      height: 89%
      margin-bottom: 15px
    &-between
      height: 81%
      margin-bottom: 15px
 
.table
  &-block
    display: table
    .icon-circle, .icon-circle-left
      vertical-align: middle
      display: table-cell

.valign-middle
  display: table-cell
  vertical-align: middle
  text-align: center

.toEnd
  align-items: flex-end

.toStart
  align-items: flex-start
  
.is-sticky
  +webkit-sticky
  top: 0
  z-index: 10

//Flex css
.body-wrap
  +smallDesktop
    display: flex
  +calc( height, '100vh - 60px')
  width: 100%
  > *
    flex: 1 auto
    width: 75%
    +smallDesktop
      width: 75%
    &:first-child
      flex: 1
      width: 25%
      +smallDesktop
        width: 25%
    &:last-child
      flex: 1 auto
      width: 75%
      // +smallDesktop
      //   width: 75%
  +desktop
    +flexbox
    
.flex-box
  +flexbox
  & >
      .item
        margin: 0 5px
        width: 100%
        min-height: 40px
        figure
          background-color: $color-grey
        a
          display: block
  &.wrap
    margin: 0 -5px
  &-sm
    +desktop
      +flexbox
    & >
      *
        flex: 1
        overflow: hidden
        +cubic-slow
  &.around
    justify-content: space-around

  &.between
    justify-content: space-between

.flex
  display: flex
  align-items: center
  &-row
    +tablet
      +flexbox
      height: 100%
      flex-flow: column nowrap
      position: relative
      .flex-row-child
        height: 100%
      .flex-row-half
        height: 50%
  &-wrap
    display: flex
    flex-flow: row wrap
    & > *
      flex: 1
      &:last-child
        flex: 1 100%
        overflow: auto
      & > div
        margin-top: 10px
    .left-auto
      margin-left: auto
      flex: 0
  &-quarter
    & > *
      &:last-child
        height: 85% !important

  &-right
    flex: 1
    text-align: right

.flexColumn
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
      -ms-flex-direction: column
          flex-direction: column

.verticleCenter 
    align-items: center
    -webkit-box-align: center
        -ms-flex-align: center

.verticleTop
  align-items: flex-start
  
.is-active
  label
    color: $color-theme
    font-weight: 600

.hidden-block
  flex: 0
  opacity: 0
  &-bg
    background-image: none

//max heihgt/width
+desktop
  .sm-hidden
    display: none

+tablet
  .half-block
    +tablet
      width: 50%
      float: left

+tablet-max
  .sm-center
    text-align: center
    .navbar-right
      float: none !important

+mobile
  .xs-center
    text-align: center

.el-table__fixed-right::before, .el-table__fixed::before
  background-color: transparent