@import 'normalize'
@import 'scrollbar'

#app
	.modified-bg
		background-color: rgba($color-grey, 0.8)
		padding: 15px
		color: #ffffff

	.link-wrapper
		&:after
			content: ""
			position: absolute
			height: 100%
			width: 100%
			left: 0
			top: 0

	.border-box
		background-color: $color-white
		border: 1px solid $color-light-grey
		&:not(:last-child)
			margin-bottom: 10px

	.main-content
		+calc( min-height, '100vh - 50px')
	.col-layout
		#tab
			&-form, &-info
	.icon
		width: 25px
		height: 25px
		text-align: center
		display: inline-block
		fill: $color-white
		vertical-align: top

	.icon-absolute
		position: absolute
		display: table
		z-index: 100
		top: 10px
		left: 10px
		border: 1px solid $color-grey
		+border-radius(3px)
		min-width: 30px
		min-height: 15px
		height: auto
		width: auto

	.container
		width: 90%
		max-width: 1610px

	.preloader 
		position: fixed
		left: 0
		top: 0
		z-index: 10000
		width: 100%
		height: 100%
		overflow: visible
		background: rgba(255,255,255,0.97) url('/images/spinner2.gif') no-repeat center center;

	.paragraph-block
		margin-bottom: 25px
		p
			& + .title-bold
				margin-top: 3.5rem

	//header navigation
	.header-block
		width: 100%
		.navbar-nav
			& >
				li 
					padding: 9px 10px
					&:last-child
						padding-right: 0
					.btn
						padding: 5px 15px
						+border-radius(2px)
						&:hover
							opacity: 0.8
							color: $color-white
							border-style: solid
							border-width: 1px
							border-color: $color-white
					& >
						a
							color: $color-white
							padding: 5px 0
							+transition-smooth
							&:hover, &.active
								color: $color-theme-option
								background-color: transparent
							.fa
								font-size: 22px
									
								
			.navbar-brand
				height: auto
				width: 200px
				+transition-smooth

		&.sticky-header
			position: fixed
			background-color: $color-white
			color: #000000
			padding-top: 0
			z-index: 100
			display: inline-block
			left: 0
			top: -150px
			width: 100%
			+box-shadow(0 0px 10px rgba(0,0,0,0.2))
			left: 0
			.navbar-nav
				& >
					li >
						a
							color: rgba($color-black,0.6)
							+transition-smooth
							&:hover, &.active
								&:after
									border-color: $color-red
								
							

			.navbar-brand 
				width: 140px
				padding: 8px 0
				+transition-smooth

	// Switch Tab
	.switch-tab
		position: absolute
		z-index: 999
		left: 5px
		top: 5px
		border: none
		li
			z-index: 1000
			&.active
				display: none
			.fa
				background-color: rgba($color-theme, 0.8)
				border-radius: 50%
				font-size: 18px
				vertical-align: middle
				width: 35px
				height: 35px
				position: relative
				top: 0
				text-align: center
				padding: 7px 0
				color: $color-white
				border: 2px solid $color-white
				+box-shadow(-8px 5px 15px rgba(0,0,0,0.3))
				+transition-smooth
			a
				color: $color-white
				margin-right: 0
				text-shadow: 0 1px 8px rgba(0,0,0,0.5)
				font-weight: 600
				&:hover
					background-color: transparent
					border-color: transparent
				span
					position: relative
					left: 0
					font-size: 12px
					width: auto
					+transition-smooth
			&:hover
				.fa
					background-color: rgba($color-theme, 1)
					+box-shadow(-10px 9px 15px rgba(0,0,0,0.4))	
					top: -2px

				span
					position: relative
					font-size: 15px
					width: 0
					left: -2px

		.tab-content
			.tab-pane
				background-color: rgba($color-light-grey, 0.8)
				padding: 10px
				width: 0
				height: 0
				+transition-smooth
				+box-shadow(0 2px 10px rgba(0,0,0,0.1))
				&.active
					height: auto
					width: 265px
				.close-button
					font-size: 12px
					background-color: $color-theme
					color: $color-white
					line-height: 0
					width: 25px
					height: 25px
					opacity: 0.5
					position: absolute
					left: -10px
					bottom: -8px
					top: auto
		.nav-tabs
			background-color: $color-theme
			li
				width: 100%
				a
					color: $color-white !important
					border-radius: 0
					border: none
					padding: 10px 1px
					&:hover
						background-color: $color-theme-option	
				&.active
					background-color: $color-theme-option
					a, a:hover, a:focus
						background-color: $color-theme-option
						color: $color-white
						border: none
		.tab-hover-wrapper
			.icon-bar
				width: 40px
			.nav-tabs
				background-color: transparent
				li.active
					a
						background-color: transparent 
						margin: 0
						padding: 6px

	.mid-block
		li
			position: relative
			padding: 30px 6%
			.is-circle
				.icon
					svg
						height: 68px
			.title-bold
				opacity: 0.5

			& >
				a
					& +
						.popup_hover
							opacity: 0
							color: rgba($color-black, 0.8)
							position: absolute
							z-index: -1
							top: 70%
							left: 10%
							min-width: 300px
							background-color: $color-white
							+border-radius(10px)
							+box-shadow(0 20px 86px rgba($color-black,0.2))
							height: 0
							display: none
							+transition-slow
							+desktop
								min-width: 350px
							+fullhd
								min-width: 450px

							+desktop
								display: block

							.table-list
								thead 
									th
										text-align: left

					&:hover
						& +
							.popup_hover
								opacity: 1
								z-index: 1
								top: 67%
								height: auto

			&:nth-child(4n)
				a
					&:hover
						& +
							.popup_hover
								left: -50%

	.sidebar
		background-color: $color-light-grey
		+box-shadow(3px 2px 38px rgba(0,0,0,0.15))
		padding: 0
		+mobile
			opacity: 0
			height: 100%
			min-width: 0
			width: 0
			max-width: 250px
			+box-shadow(0 2px 20px rgba(0,0,0,0.2))
			z-index: 1000
			+transition-smooth
			position: absolute
			top: 0
			left: -50px
			.navbar-nav
				background-color: #1a1e1b
				margin: 0
			&.is-active
				opacity: 1
				max-width: 250px
				left: 0
				top: 0
				width: 240px
				+transition-smooth

		.max-scroll
			background-color: $color-light-grey
			display: flex
			position: relative
			height: 100%
			+tablet
				+calc( height, '100% - 100px')
			+desktop
				+calc( height, '100% - 18%')
			+fullhd
				+calc( height, '100% - 13%')
		
		.max-scroll2
			@extend .max-scroll
			+tablet
				+calc( height, '100% - 70px')
			+desktop
				+calc( height, '100% - 15%')
			+fullhd
				+calc( height, '100% - 9%')

	.centering
		text-align: center
		margin: 0 auto

	.centered-block
		transform: translate(-50%, -50%)
		position: absolute
		left: 50%
		top: 50%
		text-align: center
		width: 100%

	.centered-block-desktop
		.title-bold
			margin-bottom: 20px
		+fullhd
			transform: translate(-50%, -50%)
			position: absolute
			left: 50%
			top: 50%
			text-align: center
			width: 100%
			.title-bold
				margin-bottom: 50px

	.scrollbar
		display: inline-block
		position: relative
		width: 100%
		.accordion
			.panel-heading
				.panel-title
					padding: 0
		+desktop
			padding: 10px 12px
		+fullhd
			padding: 15px
		li
			line-height: 1.1
			.label-wrapper
				margin-bottom: 5px
				+fullhd
					margin-bottom: 10px


	//Leaflet
	.leaflet-control-layers, .leaflet-touch .leaflet-bar
		top: 80px

	//steppers

	.steppers
		.nav-tabs
			background-color: $color-grey
			+border('bottom', 3px, solid, $color-light-grey)
			position: relative
			margin-bottom: 0
			& > li 
				position: relative
				font-size: 13px
				flex: 1
				text-align: center
				+smallDesktop
				 font-size: 12px;
				& > *
					display: block
					font-weight: 600
					color: rgba($color-dark-grey, 0.7)
					cursor: pointer
				&.active
					background-color: $color-black
					color: $color-white
					position: relative
					& > *
						color: $color-white
						cursor: pointer
						border: none
						background-color: transparent
					&:after
						content: ""
						width: 0
						height: 0
						top: 0
						position: absolute
						right: -15px
						border-top: 13px solid transparent
						border-bottom: 15px solid transparent
						border-left: 15px solid #000000
						+smallDesktop
						 display: none
					&:last-child
						&:after
							display: none

	.tab
		&-2
			.el-tabs
				&__item
					text-align: center
				&__nav
					width: 100%
					& > *
						width: 50% !important

	.modal
		background-color: rgba($color-black, 0.6)
		&.btm-right
			background-color: transparent
			top: auto
			right: 0
			bottom: 48px
			left: auto
			.modal-dialog
				margin: 0 
				.modal-content
					border-radius: 0


		.modal-dialog
			top: 10%
			+desktop
				width: 620px
			+fullhd
				width: 700px
				
			.modal-header
				.modal-title
					.title
						margin: 0
			
			.close
				position: absolute
				top: 15px
				right: 15px

	//Footer

	.button
		&-close
			width: 30px
			height: 30px
			border-radius: 50%
			border: 2px solid $color-white
			text-align: center
			padding: 0
			font-size: 15px
			top: 10px
			cursor: pointer
			position: relative
			top: -10px
			+transition-smooth
			&:hover
				background-color: $color-white
				border-color: transparent
				color: $color-black !important
		&-rm
			cursor: pointer

	.btm-footer
		display: block

	.icon-footer
		border-bottom: 1px solid #ccc
		padding: 35px 0 40px
		a
			height: 60px
			position: relative
			top: 0
			padding: 0 35px
			display: inline-block
			+transition-smooth
			img
				height: 100%
				width: auto

			.img-ht
				height: 55%
				display: block

		.title-bold
			padding-bottom: 40px

		.icon-block
			position: relative
			&.right
				right: 30px

	.compare-block
		.map, .chart
			min-height: 380px

	+tablet
		.col-layout
			.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8
				padding-left: 5px
				padding-right: 5px

		.chart
			min-height: 260px

	+desktop
		.chart
			min-height: 205px
			height: 100%

	+fullhd
		.chart
			min-height: 250px

		.chart-right
		.chart
			min-height: 300px

	+widescreen
		.chart
			min-height: 100%

		.chart-right
			.chart
				min-height: 100%


	// Element UI
	.aside
		&.max-height
			.el-radio-group
				display: initial
			.el-aside
				width: auto !important
				max-height: 100%
	.el-select
		width: 100%

	.el-table
		th
			background-color: $color-light-grey
			padding: 5px !important
			color: $color-black

	.demo-input-label
		display: block;
		color: #636363;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;


	.el-textarea__inner, .el-input__inner
		border-width: 2px
		min-height: 30px

	.el-date-editor .el-range-input::placeholder, .el-input__inner::placeholder, .el-textarea__inner::placeholder
		color: $color-text

	//Element UI colors Override

	.el-button
		&--info
			background-color: rgba($color-black, 0.8)
			border-color: rgba($color-black, 0.8)
			&:hover, &:focus
				background-color: rgba($color-black, 0.5)
				border-color:rgba($color-black, 0.5)

	//Watershed
	.filterPlan
		> *
			width: 100%
			&:not(:last-child)
				margin-right: 15px 
	.flexList
		flex-flow: row wrap
		padding: 10px
		margin-bottom: 20px
		+desktop
			flex-flow: nowrap
		.flex
			min-width: 160px
			flex: 1
			+desktop
				flex: initial
				min-width: 180px
		.flexChildren
			.el-button
				width: 100% 
				+desktop
					width: auto
			&:last-child
				margin-left: auto
				margin-right: 0
				flex: 1 100%
				+desktop
					flex: initial
				& > *
					width: 100%
					+desktop
						width: auto
.el-collapse
	border-top: 0px

.overflow .scroll-auto > div 
    padding: 20px 15px 15px 20px

.el-collapse-item__header
	border-bottom: 0px

.el-collapse-item__header.is-active
	color: #0000ff

.innerPadding-15
	padding: 15px

.padBottom-20
	padding-bottom: 20px

.padBottom-15
	padding-bottom: 15px	

.padBottom-10
	padding-bottom: 10px	

.marLeft-20
	margin-left: 20px	

.marTop-15
	margin-top: 15px	

.marRight-10
	margin-right: 10px!important

.marTop-10
	margin-top: 10px

.marLeft-10
	margin-left: 10px!important

.marLeft-5
	margin-left: 5px

.marRight-5
	margin-left: 5px

.marBottom-20
	margin-bottom: 20px

.marBottom-10
	margin-bottom: 10px

.el-collapse
	border-bottom: 0px

.hideOverflow
	overflow: hidden

small.error
	color: red


.search
    .el-input__inner
      min-height: 0px !important

.settingsDialogBox
  .el-tabs__content 
    overflow-y: scroll
    overflow-x: hidden
    height: 50vh

  .el-dialog__footer
    text-align: left;

.el-collapse-item__content
	padding-bottom: 0px;

