<template>
  <div class="steppers">
    <ul class="nav-tabs flex-box around" v-if="activeView<4">
      <li :class="{'active':activeView===1}">
        <a
          to="#"
          @click="emitGoto('BioPhysical')"
          v-if="plan.percentcompleted >= 10"
        >Characterization</a>
        <a v-else class="cursor-not-allowed">Characterization</a>
      </li>
      <li :class="{'active':activeView===2}">
        <a
          @click="emitGoto('Problem List')"
          v-if="plan.percentcompleted >= 40"
          href="#"
        >Problem Analysis</a>
        <a v-else class="cursor-not-allowed">Problem Analysis</a>
      </li>
      <li :class="{'active':activeView===3}">
        <a
          @click="emitGoto('problem Rank')"
          v-if="plan.percentcompleted >= 50"
          href="#"
        >Ranking & Selection</a>
        <a v-else class="cursor-not-allowed">Ranking & Selection</a>
      </li>
    </ul>
    <ul class="nav-tabs flex-box around" v-if="activeView>=4 && activeView <=7">
      <li :class="{'active':activeView===4}">
        <a
          @click="emitGoto('additionalInfo')"
          v-if="plan.percentcompleted >= 60 && (plan.createdby === user.id || plan.role === 'Admin')"
          href="#"
        >Additional Information</a>
        <a v-else class="cursor-not-allowed">Additional Information</a>
      </li>
      <li :class="{'active':activeView===5}">
        <a
          @click="emitGoto('ActivityStakeholder')"
          v-if="plan.percentcompleted >= 70 && (plan.createdby === user.id || plan.role === 'Admin')"
          href="#"
        >Stakeholders/SOA</a>
        <a v-else class="cursor-not-allowed">Stakeholders/SOA</a>
      </li>
      <li :class="{'active':activeView===7}">
        <a @click="emitGoto('Overview')" href="#">Situation Overview</a>
      </li>
    </ul>
    <ul class="nav-tabs flex-box around" v-if="activeView>7 && activeView <=10">
      <li :class="{'active':activeView===8}">
        <a
          @click="emitGoto('WorkPlan')"
          v-if="plan.percentcompleted >= 90"
          href="#"
        >Work Plan Preparation</a>
        <a v-else class="cursor-not-allowed">Work Plan Preparation</a>
      </li>
      <li :class="{'active':activeView===9}">
        <a @click="emitGoto('Report')" v-if="plan.percentcompleted >= 100" href="#">Plan Report</a>
        <a v-else class="cursor-not-allowed">Plan Report</a>
      </li>
      <li :class="{'active':activeView===10}">
        <a
          @click="emitGoto('MonitoringActivityList')"
          v-if="plan.percentcompleted >= 100"
          href="#"
        >Monitoring & Evaluation</a>
        <a v-else class="cursor-not-allowed">Monitoring & Evaluation</a>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Button } from "element-ui";
import planStore from "@/store/modules/plan";
import metaModule from "@/store/modules/meta";

@Component({
  components: {
    Button
  }
})
export default class Innerrouting extends Vue {
  name = "Innerrouting";
  @Prop({ default: 1 })
  activeView!: number;

  get plan() {
    return planStore.watershedPlan;
  }

  get user() {
    return metaModule.User;
  }

  planid = 0;

  mounted() {
    // console.log(this.activeView);
  }

  async created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await planStore.getPlanByPlanId(this.planid);
    }
  }

  emitGoto(name: string) {
    let link: any = { name: name, query: this.$route.query };
    if (
      this.$route.name === "Overview" &&
      this.$route.query.problemid === undefined
    ) {
      link.name = "SelectedProblems";
    }
    this.$emit("goto", link);
  }
}
</script>

<style lang="sass" scoped>
.cursor-not-allowed
  cursor: not-allowed !important
</style>
