<template>
  <div class="Initial">
    <p>Plan History</p>
    <ul>
      <li v-for="plan in plans" :key="plan.id">
        Estimated Budget:{{plan.estimatedbudget }}
        Created By: {{plan.createdby}}
        From Year: {{plan.fromyear}}
        Name: {{plan.name}}
        To Year: {{plan.toyear}}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import userStore from "@/store/modules/User";
import planStore from "@/store/modules/plan";
import { UserInfo } from "@/store/models/userInfo";

@Component
export default class Initial extends Vue {
  created() {
    planStore.getPlanListing();
  }

  get plans() {
    return planStore.watershedPlanList;
  }

  get userInfo() {
    var user = userStore.userInfo as UserInfo;
    if (user === null) {
      user = { UserName: "" } as UserInfo;
    }
    return user;
  }
}
</script>
