<template>
  <div class="problemHead">
    <el-row>
      <el-col :xs="24" :sm="12">
        <div>
          <span class="demo-input-label">Plan Name</span>
          <p class="probTxt">{{plan.name}}</p>
        </div>
      </el-col>
      <span v-if="!detailed">
        <el-col :xs="24" :sm="12">
          <div>
            <span class="demo-input-label">Date</span>
            <p class="probTxt">from: {{plan.fromyear}} to: {{plan.toyear}}</p>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div>
            <span class="demo-input-label">Watershed</span>
            <p class="probTxt">{{plan.watershedname}}</p>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div>
            <span class="demo-input-label">Sub-Watershed</span>
            <p class="probTxt">{{plan.subwatershedname}}</p>
          </div>
        </el-col>
      </span>
      <!-- Detail Plan Header -->
      <span v-else>
        <el-col :xs="24" :sm="12">
          <div>
            <span class="demo-input-label">Problem</span>
            <p class="probTxt">{{problem.name}}</p>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div>
            <span class="demo-input-label">Program</span>
            <p class="probTxt">{{problem.programname}}</p>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div>
            <span class="demo-input-label">Activity</span>
            <p class="probTxt">{{problem.activityname}}</p>
          </div>
        </el-col>
      </span>
    </el-row>
    <hr>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";

@Component
export default class PlanHeader extends Vue {
  @Prop({ default: false })
  detailed!: boolean;
  planid = 0;
  problemid = 0;

  get plan() {
    return planStore.watershedPlan;
  }

  get problem() {
    // return problemStore.SelectedProblemList.filter(
    //   x => x.id === this.problemid
    // )[0];
    return problemStore.Problem;
  }

  async created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await planStore.getPlanByPlanId(this.planid);

      if (this.$route.query.problemid) {
        this.problemid = Number(this.$route.query.problemid);
        await problemStore.getProblemById({
          planId: this.planid,
          problemId: this.problemid
        });
      }
    }
  }
}
</script>

<style lang="sass">
.problemHead
  // padding: 20px 15px 0px 20px;
  // padding: 0px 0px 0px 0px;
  label
    color: #929292
    font-size: 10px
    font-weight: 500
    text-transform: uppercase

.probTxt
  color: #2A2937;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;

</style>

