<template>
  <el-upload
    action
    :auto-upload="false"
    :file-list="fileList"
    :before-remove="beforeRemove"
    :on-remove="handleAfterRemove"
    :on-change="handleAfterUpload"
    :multiple="false"
    list-type="picture"
  >
    <el-button slot="trigger" size="small" type="primary">Select file</el-button>
  </el-upload>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class UploadElement extends Vue {
  planid = 0;
  scopeid = 0;
  problemid = 0;
  activityid = 0;

  // fileList: any[] = [];
  @Prop({ default: [] as any[] })
  fileList!: any[];

  @Prop({ default: [] as File[] })
  file!: File[];

  handleAfterUpload(event: any) {
    this.file.push(event.raw);
    this.fileList.push(event);
  }

  beforeRemove(file: any, fileList: any) {
    return this.$confirm(`Do you want to delete ${file.name} ?`);
  }

  handleAfterRemove(file: any, fileList: any) {
    let index = this.fileList.findIndex(x => x.uid === file.uid);
    if (index !== -1) {
      if (this.fileList[index].id) {
        this.$emit("deleteFile", this.fileList[index].id);
      }
      this.fileList.splice(index, 1);
      this.file.splice(index, 1);
    }
  }
}
</script>

<style scoped>
</style>