<template>
  <div class="hello">
    {{name}}
    <div v-for="(item,i) in category" :key="i">
      <h1>
        {{item.name}}
        <button @click="addrow(i)">Add Row</button>
      </h1>

      <table class="table table-bordered">
        <tr>
          <th>Action</th>
          <th v-for="(header,ii) in category[i].meta" :key="ii">{{header.caption}}</th>
        </tr>
        <tr v-for="(body,j) in category[i].data" :key="j">
          <td>
            <button @click="deleterow(i,j)">Delete</button>
          </td>

          <td v-for="(row,k) in category[i].data[j]" :key="k">
            <div>
              {{category[i].data[j][k].value}}
              <input
                type="text"
                v-model="category[i].data[j][k].value"
                v-if="category[i].meta[k].type==='Text'"
              >
              
              <button
                v-else-if="category[i].meta[k].type==='Button'"
              >{{category[i].data[j][k].value}}</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import productStore from "@/store/modules/Characteristic";

@Component
export default class MyComponent extends Vue {
  public name: string = "test world";
  public category: (any)[] = [];

  created() {
    this.category = productStore.socioEconomics;
    // console.log(productStore.socioEconomics);
  }
  addrow(i: number) {
    var record = [];
    for (var j = 0; j < this.category[i].meta.length; j++) {
      var obj = { id: "", value: "" };
      record.push(obj);
    }
    this.category[i].data.push(record);
  }
  
  deleterow(i: number, j: number) {
    this.category[i].data.splice(j,1);
  }
}
</script>


<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
