<template>
  <div class="Initial max-height">
    <Innerrouting :activeView="1" v-on:goto="goto" />
    <div class="max-height">
      <div class="overflow scroll-between">
        <div class="scroll-auto">
          <div>
            <PlanHeader />
            <div class="flex spacebetween verticleCenter">
              <h3>Biophysical</h3>
              <el-button
                title="Biophysical Settings"
                type="text"
                icon="el-icon-setting"
                @click="setting()"
                style="font-size: 1.1em"
              ></el-button>
            </div>
            <el-collapse v-model="accordionActiveName" accordion>
              <el-collapse-item :name="i" :key="i" v-for="(bioItem,i) in bioPhysical">
                <template v-if="getError(bioItem.Name)" slot="title">
                  <span style="color: red;">{{bioItem.Name}}</span>
                </template>
                <template v-else slot="title">{{bioItem.Name}}</template>
<!--                <span v-if="bioItem.Id === 10">-->
<!--                  <BioPhysicalTable-->
<!--                    :meta="bioItem.Meta"-->
<!--                    :mainTitle="'Landuse class'"-->
<!--                    :rows=bioItem.Rows-->
<!--                    :colList=bioItem.Cols-->
<!--                  />-->
<!--                  <InstructionsViewDistrictInfo-->
<!--                    :meta="bioItem.Meta"-->
<!--                    :mainTitle="'Landuse class'"-->
<!--                    :rows=bioItem.Rows-->
<!--                    :colList=bioItem.Cols-->
<!--                  />-->
<!--                </span>-->
<!--                <span v-else-if="bioItem.Id === 8">-->
<!--                  <BioPhysicalTable-->
<!--                    :meta="bioItem.Meta"-->
<!--                    :mainTitle="'Temp in °C'"-->
<!--                    :colGroup="'Month'"-->
<!--                    :rows="['Min', 'Max' ]"-->
<!--                    :colList="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Average']"-->
<!--                  />-->
<!--                </span>-->
<!--                <span v-else-if="bioItem.Id === 11">-->
<!--                  <BioPhysicalTable-->
<!--                    :meta="bioItem.Meta"-->
<!--                    :mainTitle="'Description'"-->
<!--                    :colGroup="'Month'"-->
<!--                    :rows="['Rainfall(mm)', 'No. of Rainy Days' ]"-->
<!--                    :colList="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Annual',]"-->
<!--                  />-->
<!--                </span>-->
                <span>
                  <div v-for="(metaItem,j) in bioItem.Meta" :key="j">
                    <DynamicField
                      v-if="metaItem.defaultvisible"
                      :meta="metaItem"
                      :group="bioItem.Name"
                    ></DynamicField>
                  </div>
                </span>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
        <div class="absolute-block mask-scroll"></div>

<!--        <el-dialog-->
<!--          :visible.sync="dialogVisible"-->
<!--          title="Biophysical Settings"-->
<!--          width="55%"-->
<!--          top="5vh"-->
<!--          class="settingsDialogBox"-->
<!--        >-->
<!--          <el-tabs v-model="tabActiveName" class="tabs">-->
<!--            <el-tab-pane-->
<!--              :title="bioItem.Name"-->
<!--              :label="bioItem.Name"-->
<!--              :name="i + 'inner'"-->
<!--              :key="i + 'inner'"-->
<!--              v-for="(bioItem,i) in biophysicalSetting"-->
<!--            >-->
<!--              <el-table :data="bioItem.Meta">-->
<!--                <el-table-column prop="name" label="Name"></el-table-column>-->
<!--                <el-table-column prop="defaultvisible" label="Visible">-->
<!--                  <template slot-scope="scope">-->
<!--                    <el-checkbox v-model="scope.row.defaultvisible"></el-checkbox>-->
<!--                  </template>-->
<!--                </el-table-column>-->
<!--              </el-table>-->
<!--            </el-tab-pane>-->
<!--          </el-tabs>-->
<!--          <span slot="footer">-->
<!--            <el-button type="primary" @click="saveSetting()">Save</el-button>-->
<!--          </span>-->
<!--        </el-dialog>-->
      </div>
      <div class="gutter-sd text-right">
        <router-link :to="'/plan/CreatePlan?planid='+$route.query.planid">
          <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
        </router-link>
        <el-button type="primary" @click="setBioPhysical()">Save</el-button>
        <el-button type="primary" @click="saveAndContinue()">
          Save & Next
          <i class="el-icon-arrow-right"></i>
        </el-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Inject, Provide } from "vue-property-decorator";
import { Button } from "element-ui";
import planStore from "@/store/modules/plan";
import common from "@/store/modules/common";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import {
  WatershedPlan,
  BioPhysical,
  BioVariable
} from "@/store/models/plan/watershedPlan";
import DynamicField from "@/components/Dynamic/DynamicField.vue";
import mapStore from "@/store/modules/map";
import { Validator } from "vee-validate";
import BioPhysicalTable from "@/views/Plan/Step1/Component/BioPhysicalTable.vue";
import { eventHub } from "@/utils/eventHub";
// import InstructionsViewDistrictInfo from "@/views/Plan/Planlayout/InstructionsViewDistrictInfo.vue";
import InstructionsViewDistrictInfo from "@/views/DetailPlan/overviewComponent/InstructionsViewDistrictInfo.vue";

@Component({
  components: {
    InstructionsViewDistrictInfo,
    Button,
    DynamicField,
    Innerrouting,
    PlanHeader,
    BioPhysicalTable
  }
})
export default class Initial extends Vue {
  @Provide("validator") $validator: Validator = this.$validator;
  accordionActiveName = "";
  tabActiveName = "";
  dialogVisible: boolean = false;
  // bioPhysical: BioPhysical[] = [];
  get bioPhysical() {
    return planStore.bioPhysical;
  }
  set bioPhysical(bio: BioPhysical[]) {}

  getError(group: string) {
    for (let error of this.$validator.errors.items) {
      if (error.field.includes(group)) {
        return true;
      }
    }
    return false;
  }

  planId = 0;
  plan = {} as WatershedPlan;

  created() {
    common.setPlanPercent(4);
    planStore.getPlanListing();
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.loadBioPhysical(this.planId);
      mapStore.loadMapData({ planid: this.planId });
    } else {
      //return error page
    }
  }

  async loadBioPhysical(planId: number) {
    await planStore.storeBioPhysicalByPlanId(this.planId);

    let vars = planStore.bioPhysical.filter(x => {
      if (x.Id === 8 || x.Id === 10 || x.Id === 11) return x;
    });
    for (let vari of vars) {
      for (let meta of vari.Meta) {
        if (meta.data.value === "") {
          meta.data.id = 0;
          meta.data.value = "0";
        }
      }
    }
  }

  async setBioPhysical() {
    // let isValid = await this.$validator.validateAll();
    // if (isValid) {
      var ls = this.bioPhysical;
      common.showLoading();
      await planStore.saveBioPhysical({
        planId: this.planId,
        bio: this.bioPhysical
      });
      common.hideLoading();
      this.$snotify.success("Saved Successfully");
      planStore.updatePlanPercentage({
        planid: this.planId,
        percentCompleted: 10
      });
    // } else {
    //   this.$snotify.error("Please fill up the fields properly.");
    // }
    // return isValid;
  }

  async saveAndContinue() {
    let isValid = await this.setBioPhysical();
    // if (isValid) {
      this.$router.push("/plan/step1/SocioEconomic?planid=" + this.planId);
    // }
  }
  biophysicalSetting: BioPhysical[] = [];
  setting() {
    this.biophysicalSetting = JSON.parse(
      JSON.stringify(
        this.bioPhysical
          .filter(x => x.Id !== 8)
          .filter(x => x.Id !== 10)
          .filter(x => x.Id !== 11)
      )
    );
    this.tabActiveName = "0inner";
    this.dialogVisible = true;
  }
  saveSetting() {
    this.dialogVisible = false;
    var ls = this.bioPhysical;
    planStore.saveBioPhysicalSetting({
      planId: this.planId,
      bio: this.biophysicalSetting
    });
  }

  async goto(link: any) {
    let isValid = await this.setBioPhysical();
    // if (isValid) {
      this.$router.push(link);
    // }
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>


<style lang="sass">
.el-collapse-item__header
  font-weight: 600!important

</style>