<template>
  <div class="Initial max-height">
    <Innerrouting :activeView="1" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <el-dialog :title="singelData.Name" :visible.sync="dialogVisible" width="60%">
          <DynamicForm
            :meta="singelData.Meta"
            :data="socioData"
            :palikas="palikas"
            v-on:ok-button-clicked="onOKButtonClicked"
          ></DynamicForm>
        </el-dialog>
        <div class="relative-block">
          <PlanHeader />
          <div class="flex spacebetween verticleCenter">
            <h3>Socio Economic</h3>
            <el-button
              title="Socio Economic Settings"
              type="text"
              icon="el-icon-setting"
              @click="setting()"
              style="font-size: 1.1em"
            ></el-button>
          </div>
          <div
            v-for="(socioItem,i) in socioEconomics"
            :key="i"
            class="padBottom-15 flex-wrap verticleCenter"
          >
            <h5 class="title7 title-bold">{{socioItem.Name}}</h5>
            <el-button
              type="text"
              icon="el-icon-circle-plus"
              class="left-auto"
              @click="addRow(i)"
            >Add Row</el-button>
            <DynamicTable
              :data="socioEconomics[i].Data"
              :meta="socioEconomics[i].Meta"
              :dataIndex="i"
              v-on:edit-button-clicked="onDynamicEditButtonClicked"
              v-on:delete-button-clicked="onDynamicDeleteButtonClicked"
            ></DynamicTable>
          </div>
        </div>
      </div>
      <div class="absolute-block mask-scroll"></div>

      <el-dialog
        :visible.sync="settingDialogVisible"
        title="Socioeconomic Settings"
        width="55%"
        top="5vh"
        class="settingsDialogBox"
      >
        <el-tabs v-model="tabActiveName" class="tabs">
          <el-tab-pane
            :title="bioItem.Name"
            :label="bioItem.Name"
            :name="i + 'inner'"
            :key="i + 'inner'"
            v-for="(bioItem,i) in socioEconomicSettings"
          >
            <el-table :data="bioItem.Meta">
              <el-table-column prop="caption" label="Name"></el-table-column>
              <el-table-column prop="defaultvisible" label="Visible">
                <template slot-scope="scope">
                  <el-checkbox v-model="scope.row.defaultvisible"></el-checkbox>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
        <span slot="footer">
          <el-button class="marTop-15" type="primary" @click="saveSetting()">Save</el-button>
        </span>
      </el-dialog>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/plan/step1/BioPhysical?planid='+$route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>

      <el-button type="primary" @click="setSocioEconomics()">Save</el-button>

      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";
import planStore from "@/store/modules/plan";
import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta,
  SubWatershedDistrictPalika
} from "@/store/models/plan/watershedPlan";
import DynamicForm from "@/components/Dynamic/DynamicForm.vue";
import DynamicTable from "@/components/Dynamic/DynamicTable.vue";
import common from "@/store/modules/common";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Button,
    DynamicForm,
    DynamicTable,
    Select,
    Option,
    Innerrouting,
    PlanHeader
  }
})
export default class SocioEconomicView extends Vue {
  subwatershedDistrictPalika: SubWatershedDistrictPalika[] = [];
  socioData: SocioVariable[] = [];
  selectedIndex = -1;
  selectedDataIndex = -1;
  dialogVisible = false;
  settingDialogVisible = false;
  bioPhysical: BioPhysical[] = [];
  // socioEconomics: SocioEconomic[] = [];
  planId: number = 0;
  selectedPalika: { [id: number]: number[] } = {};

  created() {
    common.setPlanPercent(7);
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.loadCharacteristics(this.planId);
    } else {
      //return error page
    }
  }

  get socioEconomics() {
    return planStore.SocioList;
  }
  // set socioEconomics(information: SocioEconomic[]) {}

  get palikas() {
    return planStore.subWaterShedDistrictPalikas;
  }

  get singelData() {
    if (this.selectedIndex > -1) {
      this.socioData = [] as SocioVariable[];
      var dataLength = this.socioEconomics[this.selectedIndex].Data.length;
      var rowindex = 0;
      if (dataLength > 0) {
        if (
          this.selectedDataIndex < dataLength &&
          this.selectedDataIndex !== -1
        ) {
          rowindex = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][0].rowindex;
        } else {
          rowindex =
            this.socioEconomics[this.selectedIndex].Data[dataLength - 1][0]
              .rowindex + 1;
        }
      }
      for (
        var i = 0;
        i < this.socioEconomics[this.selectedIndex].Meta.length;
        i++
      ) {
        var me = this.socioEconomics[this.selectedIndex].Meta[i] as Meta;
        var variable = {} as SocioVariable;
        if (this.selectedDataIndex == -1) {
          variable.rowindex = rowindex;
          variable.value = "";
          variable.id = 0;
          variable.palikaid = 0;
        } else {
          variable = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][i];
        }

        var obj = {
          value: variable.value,
          id: variable.id,
          rowindex: variable.rowindex,
          variableid: me.id,
          palikaid: variable.palikaid,
          planid: this.planId
        } as SocioVariable;
        this.socioData.push(obj);
      }
      return this.socioEconomics[this.selectedIndex];
    }
    return [];
  }

  temp() {
    var meta = {
      controltype: "text",
      name: "abc",
      caption: "abc",
      validationregex: "",
      datatype: ""
    } as Meta;

    var socio = {
      Name: "abc",
      Meta: [meta] as Meta[],
      Data: [] as SocioVariable[][]
    } as SocioEconomic;
    this.socioEconomics.push(socio);
  }

  async loadCharacteristics(planId: number) {
    await planStore.getPlanByPlanId(planId);
    await planStore.getSocioEconomicByPlanId(planId);
    var subwatershedId = (planStore.watershedPlan as WatershedPlan)
      .subwatershedid;
    planStore.getSubWatershedById(subwatershedId);
    // console.log(this.subwatershedDistrictPalika);
    //this.temp();
  }

  addRow(i: number) {
    this.selectedDataIndex = -1;
    this.dialogVisible = true;
    this.selectedIndex = i;
  }

  deleteRow(i: number, j: number) {
    this.socioEconomics[i].Data.splice(j, 1);
    this.selectedPalika[i].splice(j, 1);
  }

  async setSocioEconomics() {
    common.showLoading();
    await planStore.saveSocioEconomics({
      planId: this.planId,
      socio: this.socioEconomics
    });
    common.hideLoading();
    this.$snotify.success("Saved Successfully");
    planStore.updatePlanPercentage({
      planid: this.planId,
      percentCompleted: 20
    });
  }

  async saveAndContinue() {
    await this.setSocioEconomics();
    this.$router.push("/plan/step1/Stakeholders?planid=" + this.planId);
  }

  ///-------DynamicForm Event
  onOKButtonClicked(e: any) {
    this.dialogVisible = false;
    if (this.selectedDataIndex == -1) {
      // this.socioEconomics[this.selectedIndex].Data.push(e);
      planStore.pushSocioEconomic({ data: e, index: this.selectedIndex });
    } else {
      //update inside dynamic table not fired so $set is used
      // this.$set(
      //   this.socioEconomics[this.selectedIndex].Data,
      //   this.selectedDataIndex,
      //   e
      // );
      planStore.updateSocioEconomic({
        data: e,
        index: this.selectedIndex,
        dataIndex: this.selectedDataIndex
      });
    }
    this.selectedDataIndex = -1;
  }

  ///------DynamicTable Event
  onDynamicEditButtonClicked(e: any) {
    this.selectedIndex = e.parentIndex;
    this.selectedDataIndex = e.dataIndex;
    this.dialogVisible = true;
  }
  async onDynamicDeleteButtonClicked(e: any) {
    let socioeconomicId = this.socioEconomics[e.parentIndex].SocioEconomicId;
    let socioeconomicName = this.socioEconomics[e.parentIndex].Name;
    let rowindex = this.socioEconomics[e.parentIndex].Data[e.dataIndex][0]
      .rowindex;

    this.$confirm(
      "This will permanently delete all the data of '" +
        socioeconomicName +
        "' in row '" +
        (rowindex + 1) +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await planStore.deleteSocioEconomic({
          planId: this.planId,
          socioeconomicId: socioeconomicId,
          rowindex: rowindex,
          data: e
        });
        // this.socioEconomics[e.parentIndex].Data.splice(e.dataIndex, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  socioEconomicSettings: SocioEconomic[] = [];
  tabActiveName = "0inner";
  setting() {
    this.socioEconomicSettings = JSON.parse(
      JSON.stringify(this.socioEconomics)
    );
    // console.log(this.socioEconomicSettings);
    this.tabActiveName = "0inner";
    this.settingDialogVisible = true;
  }
  async saveSetting() {
    this.settingDialogVisible = false;
    var ls = this.socioEconomics;

    await planStore.saveSocioEconomicSetting({
      planId: this.planId,
      socio: this.socioEconomicSettings
    });
  }

  async goto(link: any) {
    await this.setSocioEconomics();
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>