<template>
  <div class="max-height">
    <Innerrouting :activeView="1" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader />
          <div class="flex spacebetween padBottom-10">
            <h3>Potential Stakeholders</h3>
            <div>
              <el-button
                type="text"
                icon="el-icon-circle-plus"
                class="left-auto"
                @click="addRow"
              >Add Stakeholders</el-button>
            </div>
          </div>

          <el-dialog title="Stakeholders" :visible.sync="dialogVisible" width="60%">
            <div class="border-box gutter2 scroll-auto max-height-ls">
              <el-row :gutter="20">
                <el-col>
                  <span class="demo-input-label">Stakeholder</span>
                  <!-- <el-select v-model="planStakeholder.stakeholderid" placeholder="Select">
        <el-option
        v-for="(item, i) in stakeholders()"
        :key="i"
        :label="item.name"
        :value="item.id">
        </el-option>
                  </el-select>-->
                  <el-input
                    name="Stakeholder"
                    v-validate="'required'"
                    placeholder="Stakeholder"
                    v-model="planStakeholder.stakeholder"
                    clearable
                  ></el-input>
                  <small
                    class="error"
                    v-if="errors.has('Stakeholder')"
                  >{{ errors.first('Stakeholder') }}</small>
                </el-col>
                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Category</span>
                  <el-select
                    name="Category"
                    v-validate="'required'"
                    v-model="planStakeholder.categoryid"
                    placeholder="Select"
                  >
                    <el-option
                      v-for="(categ, i) in category"
                      :key="i"
                      :label="categ.name"
                      :value="categ.id"
                    ></el-option>
                  </el-select>
                  <small class="error" v-if="errors.has('Category')">{{ errors.first('Category') }}</small>
                </el-col>
                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Area of Engagement</span>
                  <el-input
                    name="AreaofEngagement"
                    v-validate="'required'"
                    placeholder="Area of Engagement"
                    v-model="planStakeholder.engagementarea"
                    clearable
                  ></el-input>
                  <small
                    class="error"
                    v-if="errors.has('AreaofEngagement')"
                  >{{ errors.first('AreaofEngagement') }}</small>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Contact Person</span>
                  <el-input
                    name="ContactPerson"
                    v-validate="'required'"
                    placeholder="Full name of contact person"
                    v-model="planStakeholder.contactperson"
                    clearable
                  ></el-input>
                  <small
                    class="error"
                    v-if="errors.has('ContactPerson')"
                  >{{ errors.first('ContactPerson') }}</small>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Contact Number</span>
                  <el-input
                    type="number"
                    name="ContactNumber"
                    v-validate="'required|numeric'"
                    placeholder="Phone No. of contact person"
                    v-model="planStakeholder.contactnumber"
                    clearable
                  ></el-input>
                  <small
                    class="error"
                    v-if="errors.has('ContactNumber')"
                  >{{ errors.first('ContactNumber') }}</small>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <span class="demo-input-label">Contact Address</span>
                  <el-input
                    name="ContactAddress"
                    v-validate="'required'"
                    placeholder="Address of contact person"
                    v-model="planStakeholder.contactaddress"
                    clearable
                  ></el-input>
                  <small
                    class="error"
                    v-if="errors.has('ContactAddress')"
                  >{{ errors.first('ContactAddress') }}</small>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <el-button class="marTop-10" type="primary" @click="submit()">Submit</el-button>
                </el-col>
              </el-row>
            </div>
          </el-dialog>
        </div>
        <StakeholderList @editPlanStakeholder="generateEditForm"></StakeholderList>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/plan/step1/SocioEconomic?planid='+$route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>
      <el-button type="primary" @click="setStakeholders()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { IdName } from "@/store/models/meta";
import { PlanStakeholderModel } from "@/store/models/plan/watershedPlan";
import metaStore from "@/store/modules/meta";
import planStore from "@/store/modules/plan";
import detailPlanStore from "@/store/modules/detailPlan";
import commonStore from "@/store/modules/common";
import StakeholderList from "@/views/Plan/Step1/Component/StakeholderList.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Innerrouting,
    StakeholderList,
    PlanHeader
  }
})
export default class Stakeholders extends Vue {
  dialogVisible: boolean = false;
  planId = 0;
  selectedIndexofStakeholder = -1;
  planStakeholder: PlanStakeholderModel = {
    stakeholder: "",
    categoryid: 0,
    engagementarea: "",
    planid: 0
  } as PlanStakeholderModel;

  created() {
    commonStore.setPlanPercent(9);
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.planStakeholder.planid = Number(this.$route.query.planid);
    } else {
      //return error page
    }
    planStore.getStakeholderListByPlanId(this.planId);
    detailPlanStore.getStakeholderCategory();
  }

  get model() {
    return planStore.PlanStakeholder;
  }

  get category() {
    return detailPlanStore.StakeholderCategory;
  }

  generateEditForm(i: number) {
    this.$validator.errors.clear();
    // this.planStakeholder = planStore.PlanStakeholder[i];
    this.planStakeholder = Object.assign({}, planStore.PlanStakeholder[i]);
    // this.planStakeholder = planStore.PlanStakeholder.slice(i, i + 1)[0];
    // this.planStakeholder = JSON.parse(
    //   JSON.stringify(planStore.PlanStakeholder[i])
    // );
    this.selectedIndexofStakeholder = i;
    this.dialogVisible = true;
  }

  addRow() {
    this.$validator.reset();
    this.$validator.errors.clear();
    this.planStakeholder = {
      planid: this.planId
    } as PlanStakeholderModel;
    this.selectedIndexofStakeholder = -1;
    this.dialogVisible = true;
  }

  async submit() {
    let isvalid = await this.$validator.validateAll();
    if (isvalid) {
      var category = this.category.filter(
        x => x.id === this.planStakeholder["categoryid"]
      );
      this.planStakeholder["categoryname"] = category[0]["name"];

      const i = this.selectedIndexofStakeholder;
      if (i > -1) {
        planStore.updatePlanStakeholder({
          planstakeholder: this.planStakeholder,
          index: i
        });
      } else {
        planStore.pushPlanStakeholder(this.planStakeholder);
      }
      this.dialogVisible = false;
    }
  }
  setStakeholders() {
    planStore.savePlanStakeholder(this.model);
    planStore.updatePlanPercentage({
      planid: this.planId,
      percentCompleted: 30
    });
  }

  async saveAndContinue() {
    await this.setStakeholders();
    this.$router.push("/Plan/Problem/List?planid=" + this.planId);
  }

  async goto(link: any) {
    await this.setStakeholders();
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>

<style>
</style>
