<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <el-dialog title="Activity" :visible.sync="dialogVisible" width="60%">
          <div class="border-box gutter2 scroll-auto max-height-ls">
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Program</span>
                <el-select
                  name="Program"
                  v-model="data.programid"
                  placeholder="Select"
                  v-validate="'required'"
                >
                  <el-option
                    v-for="item in programs"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
                <small class="error" v-if="errors.has('Program')">{{ errors.first('Program') }}</small>
              </el-col>
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Activity</span>
                <el-input name="Activity" v-model="data.name"></el-input>
                <small class="error" v-if="errors.has('Activity')">{{ errors.first('Activity') }}</small>
              </el-col>
            </el-row>
          </div>
          <div>
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <el-button type="primary" @click="submit()">Submit</el-button>
              </el-col>
            </el-row>
          </div>
        </el-dialog>

        <div>
          <div class="flex spacebetween padBottom-10">
            <span class="demo-input-label">
              <h3>Activity List</h3>
            </span>
            <span @keyup.enter="search">
              <el-input
                @input="searchClear"
                class="search"
                v-model="searchString"
                placeholder="Enter to search"
                suffix-icon="el-icon-search"
                clearable
              ></el-input>
            </span>
            <div>
              <el-button
                type="text"
                icon="el-icon-circle-plus"
                class="left-auto"
                @click="addUser"
              >Add Activity</el-button>
            </div>
          </div>
          <el-table :data="dataList" style="width: 100%">
            <el-table-column label width="85" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-delete"
                  title="Delete"
                  @click="onDeleteClick(scope.$index)"
                ></el-button>
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  title="Edit"
                  @click="editForm(scope.$index)"
                ></el-button>
              </template>
            </el-table-column>
            <el-table-column prop="programid" label="Program" min-width="150">
              <template slot-scope="scope">{{getProgramById(scope.row.programid)}}</template>
            </el-table-column>
            <el-table-column prop="name" label="Activity" min-width="150"></el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="gutter-sd flex spacebetween">
      <el-pagination
        @current-change="handlePrevNextClick"
        :page-count="page.total_pages"
        background
        layout="prev, pager, next"
      ></el-pagination>
      <div class="text-right">
        <router-link :to="'/Admin/Settings'">
          <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
        </router-link>
        <el-button type="primary" @click="saveActivities()">Save</el-button>
        <!-- <el-button type="primary" @click="saveAndContinue()">
      Save & Next
      <i class="el-icon-arrow-right"></i>
        </el-button>-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import MetaStore from "@/store/modules/meta";
import JWTStore from "@/store/modules/jwt";
import { Activity } from "@/store/models/meta";

@Component
export default class roleList extends Vue {
  dialogVisible: boolean = false;
  selectedIndex = -1;
  data: Activity = {} as Activity;
  isValid: boolean = false;
  saveList: Activity[] = [];
  searchString: any = "";

  get programs() {
    return MetaStore.Programs;
  }

  get programFilter() {
    let list = [];
    for (let program of this.programs) {
      list.push({ text: program.name, value: program.id });
    }
    return list;
  }

  get dataList() {
    return MetaStore.Activities;
  }

  get page() {
    return MetaStore.Page;
  }

  getProgramById(id: number) {
    if (this.programs.length > 0) {
      return this.programs.filter(x => x.id === id)[0].name;
    }
  }
  filterHandler(value: any, row: any, column: any) {
    const property = column["property"];
    return row[property] === value;
  }

  onDeleteClick(index: number) {
    this.$confirm(
      "This will permanently delete this activity. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await MetaStore.deleteObjective(this.dataList[index].id);
        this.dataList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  addUser() {
    this.$validator.errors.clear();
    this.dialogVisible = true;
    this.selectedIndex = -1;
    this.data = {} as Activity;
  }

  editForm(index: number) {
    this.$validator.errors.clear();
    this.dialogVisible = true;
    this.selectedIndex = index;
    this.data = Object.assign({}, this.dataList[index]);
  }

  async submit() {
    this.isValid = await this.$validator.validateAll();
    if (this.isValid) {
      if (this.selectedIndex === -1) {
        await MetaStore.pushActivity(this.data);
        this.saveList.push(this.data);
      } else {
        await MetaStore.updateActivityList({
          activity: this.data,
          index: this.selectedIndex
        });
        this.saveList.splice(this.selectedIndex, 1, this.data);
      }
    }
    // MetaStore.saveLayerGroups(MetaStore.LayerGroupList);
    this.dialogVisible = false;
  }

  async saveActivities() {
    var filtered = this.saveList.filter(function(el) {
      return el != null;
    });
    await MetaStore.saveActivities(filtered);
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  search() {
    var filtered = this.saveList.filter(function(el) {
      return el != null;
    });
    MetaStore.searchActivities({
      activities: filtered,
      searchString: this.searchString,
      page: 1
    });
  }

  async handlePrevNextClick(val: any) {
    var filtered = this.saveList.filter(function(el) {
      return el != null;
    });
    await MetaStore.searchActivities({
      activities: filtered,
      searchString: this.searchString,
      page: val
    });
    this.saveList = [];
  }

  created() {
    MetaStore.loadPrograms(true);
    // MetaStore.loadActivities(true);
    MetaStore.searchActivities({
      activities: [],
      searchString: this.searchString,
      page: 1
    });
    this.saveList.length = MetaStore.Activities.length;
  }
}
</script>
