<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <el-tabs v-model="tab">
          <el-tab-pane ref="groupTab" name="groupTab" label="Layer Groups">
            <LayerGroup></LayerGroup>
          </el-tab-pane>
          <el-tab-pane ref="sourceTab" name="sourceTab" label="Layer Source">
            <LayerSource></LayerSource>
          </el-tab-pane>
          <el-tab-pane ref="layerTab" name="layerTab" label="Layer">
            <Layer></Layer>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <div class="gutter-sd flex spacebetween padBottom-10">
      <span>
        <el-pagination
          v-if="tab=='groupTab'"
          @current-change="handleGroupPageChange"
          :page-count="groupPage.total_pages"
          background
          layout="prev, pager, next"
        ></el-pagination>

        <el-pagination
          v-else-if="tab=='sourceTab'"
          @current-change="handleSourcePageChange"
          :page-count="sourcePage.total_pages"
          background
          layout="prev, pager, next"
        ></el-pagination>

        <el-pagination
          v-else-if="tab=='layerTab'"
          @current-change="handleLayerPageChange"
          :page-count="layerPage.total_pages"
          background
          layout="prev, pager, next"
        ></el-pagination>
      </span>
      <span class="text-right">
        <router-link to="/Admin/Settings">
          <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
        </router-link>
        <el-button type="primary" @click="save()">Save</el-button>
        <!-- <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
        </el-button>-->
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { eventHub } from "@/utils/eventHub";
import { Vue, Component } from "vue-property-decorator";
import mapStore from "@/store/modules/map";
import { Layers, Source } from "@/store/models/map";
import LayerGroup from "@/views/Admin/component/layerGroup.vue";
import LayerSource from "@/views/Admin/component/layerSource.vue";
import Layer from "@/views/Admin/component/layers.vue";

@Component({
  components: {
    LayerGroup,
    LayerSource,
    Layer
  }
})
export default class roleList extends Vue {
  tab = "groupTab";

  get groupPage() {
    return mapStore.groupPage;
  }

  get sourcePage() {
    return mapStore.sourcePage;
  }

  get layerPage() {
    return mapStore.layerPage;
  }

  async save() {
    // console.log(mapStore.LayerList);
    // console.log(mapStore.LayerGroupList);
    // console.log(mapStore.LayerSourceList);
    await mapStore.saveLayerGroups(mapStore.LayerGroupList);
    await mapStore.saveLayerSource(mapStore.LayerSourceList);
    await mapStore.saveLayers(mapStore.LayerList);
  }

  handleGroupPageChange(val: number) {
    eventHub.$emit("change-group-page", val);
  }

  handleSourcePageChange(val: number) {
    eventHub.$emit("change-source-page", val);
  }

  handleLayerPageChange(val: number) {
    eventHub.$emit("change-layer-page", val);
  }

  created() {
    // mapStore.loadLayers();
  }
}
</script>