<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <el-dialog title="Program" :visible.sync="dialogVisible" width="60%">
          <div class="border-box gutter2 scroll-auto max-height-ls">
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Program</span>
                <el-input name="Program" v-model="data.name"></el-input>
                <small class="error" v-if="errors.has('Program')">{{ errors.first('Program') }}</small>
              </el-col>
            </el-row>
          </div>
          <div>
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <el-button type="primary" @click="submit()">Submit</el-button>
              </el-col>
            </el-row>
          </div>
        </el-dialog>

        <div>
          <div class="flex spacebetween padBottom-10">
            <span class="demo-input-label">
              <h3>Program List</h3>
            </span>

            <span @keyup.enter="search">
              <el-input
                @input="searchClear"
                class="search"
                v-model="searchString"
                placeholder="Enter to search"
                suffix-icon="el-icon-search"
                clearable
              ></el-input>
            </span>
            <div>
              <el-button
                type="text"
                icon="el-icon-circle-plus"
                class="left-auto"
                @click="addUser"
              >Add Program</el-button>
            </div>
          </div>
          <el-table :data="dataList" style="width: 100%">
            <el-table-column label width="85" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-delete"
                  title="Delete"
                  @click="onDeleteClick(scope.$index)"
                ></el-button>
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  title="Edit"
                  @click="editForm(scope.$index)"
                ></el-button>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="Program" min-width="150"></el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="gutter-sd flex spacebetween">
      <el-pagination
        @current-change="handlePrevNextClick"
        :page-count="page.total_pages"
        background
        layout="prev, pager, next"
      ></el-pagination>
      <div class="text-right">
        <router-link :to="'/Admin/Settings'">
          <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
        </router-link>
        <el-button type="primary" @click="savePrograms()">Save</el-button>
        <!-- <el-button type="primary" @click="saveAndContinue()">
      Save & Next
      <i class="el-icon-arrow-right"></i>
        </el-button>-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import MetaStore from "@/store/modules/meta";
import JWTStore from "@/store/modules/jwt";
import { IdName } from "@/store/models/meta";
import { userCreate } from "@/store/models/jwt";

@Component
export default class roleList extends Vue {
  dialogVisible: boolean = false;
  selectedIndex = -1;
  data: IdName = {} as IdName;
  isValid: boolean = false;
  saveList: IdName[] = [];
  searchString: any = "";

  get dataList() {
    return MetaStore.Programs;
  }

  get page() {
    return MetaStore.Page;
  }

  onDeleteClick(index: number) {
    const problemName = this.dataList[index].name;
    this.$confirm(
      "This will permanently delete the program '" +
        problemName +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        await MetaStore.deleteProgram(this.dataList[index].id);
        this.dataList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  addUser() {
    this.$validator.errors.clear();
    this.dialogVisible = true;
    this.selectedIndex = -1;
    this.data = {} as IdName;
  }

  editForm(index: number) {
    this.$validator.errors.clear();
    this.dialogVisible = true;
    this.selectedIndex = index;
    this.data = Object.assign({}, this.dataList[index]);
  }

  async submit() {
    this.isValid = await this.$validator.validateAll();
    if (this.isValid) {
      if (this.selectedIndex === -1) {
        await MetaStore.pushPrograms(this.data);
        this.saveList.push(this.data);
      } else {
        await MetaStore.updateProgramList({
          program: this.data,
          index: this.selectedIndex
        });
        this.saveList.splice(this.selectedIndex, 1, this.data);
      }
    }
    // MetaStore.saveLayerGroups(MetaStore.LayerGroupList);
    this.dialogVisible = false;
  }

  async savePrograms() {
    var filtered = this.saveList.filter(function(el) {
      return el != null;
    });
    await MetaStore.savePrograms(filtered);
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  search() {
    var filtered = this.saveList.filter(function(el) {
      return el != null;
    });
    MetaStore.searchPrograms({
      programs: filtered,
      searchString: this.searchString,
      page: 1
    });
  }

  async handlePrevNextClick(val: any) {
    var filtered = this.saveList.filter(function(el) {
      return el != null;
    });
    await MetaStore.searchPrograms({
      programs: filtered,
      searchString: this.searchString,
      page: val
    });
    this.saveList = [];
  }

  async created() {
    await MetaStore.searchPrograms({
      programs: [],
      searchString: this.searchString,
      page: 1
    });
    this.saveList.length = MetaStore.Programs.length;
  }
}
</script>