<template>
  <div class="max-height">
    <div style="padding:20px;">
      <el-row :gutter="20">
        <el-col :xs="24" class="margin-btm centering">
          <h3>Add User</h3>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div class="gapBottom">
            <span class="demo-input-label">First Name</span>
            <el-input
              name="FirstName"
              placeholder="Please input firstname"
              v-model="payload.first_name"
              v-validate="'required'"
            ></el-input>
            <small class="error" v-if="errors.has('FirstName')">{{ errors.first('FirstName') }}</small>
          </div>
          <div class="gapBottom">
            <span class="demo-input-label">Last Name</span>
            <el-input
              name="LastName"
              placeholder="Please input lastname"
              v-model="payload.last_name"
              v-validate="'required'"
            ></el-input>
            <small class="error" v-if="errors.has('LastName')">{{ errors.first('LastName') }}</small>
          </div>
          <div class="gapBottom">
            <span class="demo-input-label">Email</span>
            <el-input
              name="Email"
              placeholder="Please input email address"
              v-model="payload.email"
              type="email"
              v-validate="'required|email'"
            ></el-input>
            <small class="error" v-if="errors.has('Email')">{{ errors.first('Email') }}</small>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div class="gapBottom">
            <span class="demo-input-label">Password</span>
            <el-input
              v-validate="'required'"
              placeholder="Please enter password"
              name="password"
              v-model="payload.password"
              :show-password="false"
              type="password"
              ref="password"
            ></el-input>
            <small class="error" v-if="errors.has('password')">{{ errors.first('password') }}</small>
          </div>
          <div>
            <span class="demo-input-label">Repeat Password</span>
            <el-input
              v-validate="'required|confirmed:password'"
              placeholder="Please re-enter password"
              name="password_confirmation"
              v-model="payload.repeatpassword"
              :show-password="false"
              type="password"
              data-vv-as="password"
            ></el-input>
            <small
              class="error"
              v-if="errors.has('password_confirmation')"
            >{{ errors.first('password_confirmation') }}</small>
          </div>
          <!-- <div v-show="errors.any()">
              <small class="error" v-if="errors.has('password')">{{ errors.first('password') }}</small>
              <small
                class="error"
                v-if="errors.has('password_confirmation')"
              >{{ errors.first('password_confirmation') }}</small>
          </div>-->
        </el-col>
        <!-- </el-row> -->
        <!-- <el-row> -->
        <div>
          <el-button type="primary" @click="register">Create Account</el-button>
        </div>
        <span class="centering">
          Already Have an Account?
          <router-link to="/role">Add Role</router-link>
        </span>
        <span class="centering">
          Go to
          <router-link to="/plan/list">Plan List</router-link>
        </span>
        <!-- <span class="centering">
              Already Have an Account?
              <router-link to="/">Login</router-link>
        </span>-->
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Input } from "element-ui";
import JWTStore from "@/store/modules/jwt";
import { userCreate, userInfo } from "@/store/models/jwt";

@Component({
  components: {
    Input
  }
})
export default class Login extends Vue {
  payload: userCreate = {
    username: "",
    first_name: "",
    last_name: "",
    email: "",
    password: "",
    designation: "",
    repeatpassword: ""
  };

  async register(e: any) {
    let isValid = await this.$validator.validateAll();

    if (isValid) {
      this.payload.username = this.payload.email;
      // console.log(this.payload);
      await JWTStore.register(this.payload);
      // console.log(this.payload);
      // this.$router.push("/");
    }
  }
}
</script>

<style lang="sass" scoped>
@import 'stylesheets/sass/normalize'

.loginWrapper
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex: 0 0 auto

.loginBox
  max-width: 720px
  padding: 50px 145px
  background-color: $color-white
  +box-shadow(2px 2px 13px rgba(216,216,216,50))

  > div
    min-width: 430px

h2
  padding-bottom: 45px

.el-button
  width: 100%
  padding: 18px 0px
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  border: none;
  background-color: #0060CA
  margin: 30px 0px

span
  display: block

.gapBottom
  margin-bottom: 15px

</style>
