<template>
  <div class="max-height">
<!--    <div class="overflow scroll-between">-->
<!--      <div class="scroll-auto">-->
<!--        <div>-->
<!--          <div class="flex spacebetween padBottom-10">-->
<!--            <span class="demo-input-label">-->
<!--              <h2>Settings</h2>-->
<!--            </span>-->
<!--          </div>-->
<!--          <div>-->
<!--            <el-row>-->
<!--              <el-col :span="5">-->
<!--                <router-link to="/Admin/UserList">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-user" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>User Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--              <el-col :span="5" :push="1">-->
<!--                <router-link to="/Admin/Layer">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-copy-document" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>Layer Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--              <el-col :span="5" :push="2">-->
<!--                <router-link to="/Admin/Role">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-s-custom" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>Role Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--              &lt;!&ndash; <el-col :span="5" :push="3">-->
<!--              <router-link to="/Admin/UnitRate">-->
<!--                <el-card class="centering">-->
<!--                  <i class="el-icon-s-custom" style="font-size: 5em;"></i>-->
<!--                  <div style="padding: 10px 0px;">-->
<!--                    <span>Unit & Rate Management</span>-->
<!--                  </div>-->
<!--                </el-card>-->
<!--              </router-link>-->
<!--              </el-col>&ndash;&gt;-->
<!--            </el-row>-->
<!--          </div>-->
<!--          <br />-->
<!--          <div>-->
<!--            <el-row>-->
<!--              <el-col :span="5">-->
<!--                <router-link to="/Admin/Program">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-files" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>Program Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--              <el-col :span="5" :push="1">-->
<!--                <router-link to="/Admin/Activity">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-reading" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>Activity Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--              <el-col :span="5" :push="2">-->
<!--                <router-link to="/Admin/Objective">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-document-remove" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>Objective Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--              <el-col :span="5" :push="3">-->
<!--                <router-link to="/Admin/SOA">-->
<!--                  <el-card class="centering">-->
<!--                    <i class="el-icon-tickets" style="font-size: 5em;"></i>-->
<!--                    <div style="padding: 10px 0px;">-->
<!--                      <span>Scope Of Activity Management</span>-->
<!--                    </div>-->
<!--                  </el-card>-->
<!--                </router-link>-->
<!--              </el-col>-->
<!--            </el-row>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <InitialPlanList></InitialPlanList>
    <div class="gutter-sd text-right">
      <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left" @click="back()">Back</el-button>
      <!-- <el-button type="primary" @click="save()">Save</el-button> -->
      <!-- <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>-->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import commonStore from "@/store/modules/common";
import router from "@/router";
import InitialPlanList from "@/views/Plan/Beforestep/InitialPlanList.vue";


@Component({
  components: {
    InitialPlanList
  }
})

export default class roleList extends Vue {
  back() {
    router.push(commonStore.beforeAdminSetting);
  }
}
</script>

