<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <el-dialog title="User" :visible.sync="dialogVisible" top="0" width="60%">
          <div class="border-box gutter2 scroll-auto max-height-ls">
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Username/Email</span>
                <el-input name="Email" v-model="data.username" v-validate="'required|email'"></el-input>
                <small class="error" v-if="errors.has('Email')">{{ errors.first('Email') }}</small>
              </el-col>
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">First Name</span>
                <el-input name="First Name" v-model="data.firstname" v-validate="'required'"></el-input>
                <small
                  class="error"
                  v-if="errors.has('First Name')"
                >{{ errors.first('First Name') }}</small>
              </el-col>
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Last Name</span>
                <el-input name="Last Name" v-model="data.lastname" v-validate="'required'"></el-input>
                <small class="error" v-if="errors.has('Last Name')">{{ errors.first('Last Name') }}</small>
              </el-col>
              <el-col :xs="24" :sm="24">
                <span class="demo-input-label">Designation</span>
                <el-input name="Designation" v-model="data.designation" v-validate="'required'"></el-input>
                <small
                  class="error"
                  v-if="errors.has('Designation')"
                >{{ errors.first('Designation') }}</small>
              </el-col>
              <el-col :xs="24" :sm="24">
                <span v-if="selectedIndex != -1">
                  <span class="demo-input-label">New Password</span>
                  <el-input name="Password" ref="password" type="password" v-model="data.password"></el-input>
                </span>
                <span v-else>
                  <span class="demo-input-label">Password</span>
                  <el-input
                    name="Password"
                    ref="password"
                    type="password"
                    v-model="data.password"
                    v-validate="'required'"
                  ></el-input>
                </span>
                <small class="error" v-if="errors.has('Password')">{{ errors.first('Password') }}</small>
              </el-col>
              <el-col :xs="24" :sm="24">
                <span v-if="selectedIndex != -1" class="demo-input-label">Repeat New Password</span>
                <span v-else class="demo-input-label">Repeat Password</span>
                <span
                  v-if="data.password != '' && data.password != null && data.password != undefined"
                >
                  <el-input
                    name="Repeat Password"
                    type="password"
                    v-model="data.repeatpassword"
                    v-validate="'required|confirmed:password'"
                  ></el-input>
                  <small
                    class="error"
                    v-if="errors.has('Repeat Password')"
                  >{{ errors.first('Repeat Password') }}</small>
                </span>
                <span v-else>
                  <el-input type="password" v-model="data.repeatpassword"></el-input>
                </span>
              </el-col>
            </el-row>
          </div>
          <div>
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24">
                <el-button type="primary" @click="submit()">Submit</el-button>
              </el-col>
            </el-row>
          </div>
          <el-dialog width="30%" title="Add Role?" :visible.sync="innerVisible" append-to-body>
            <div>Assign role to this user?</div>
            <span slot="footer">
              <el-button type="primary" @click="$router.push('/Admin/Role/?addRole=true')">Yes</el-button>
              <el-button type="primary" @click="innerVisible=false;dialogVisible=false">No</el-button>
            </span>
          </el-dialog>
        </el-dialog>

        <div>
          <div class="flex spacebetween padBottom-10">
            <span class="demo-input-label">
              <h3>User List</h3>
            </span>

            <span @keyup.enter="search">
              <el-input
                @input="searchClear"
                class="search"
                v-model="searchString"
                placeholder="Enter to search"
                suffix-icon="el-icon-search"
                clearable
              ></el-input>
            </span>

            <div>
              <el-button
                type="text"
                icon="el-icon-circle-plus"
                class="left-auto"
                @click="addUser"
              >Add User</el-button>
            </div>
          </div>
          <el-table :data="dataList" style="width: 100%">
            <el-table-column label width="85" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-delete"
                  title="Delete"
                  @click="onDeleteClick(scope.$index, scope.row.id)"
                ></el-button>
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  title="Edit"
                  @click="editForm(scope.$index)"
                ></el-button>
              </template>
            </el-table-column>
            <el-table-column prop="username" label="Username/Email" min-width="150"></el-table-column>
            <el-table-column prop="firstname" label="First Name" min-width="150"></el-table-column>
            <el-table-column prop="lastname" label="Last Name" min-width="150"></el-table-column>
            <el-table-column prop="designation" label="Designation" min-width="150"></el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="gutter-sd flex spacebetween">
      <el-pagination
        @current-change="handlePrevNextClick"
        :page-count="page.total_pages"
        background
        layout="prev, pager, next"
      ></el-pagination>
      <div class="text-right">
        <router-link :to="'/Admin/Settings'">
          <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
        </router-link>
        <el-button type="primary" @click="saveUsers()">Save</el-button>
        <!-- <el-button type="primary" @click="saveAndContinue()">
      Save & Next
      <i class="el-icon-arrow-right"></i>
        </el-button>-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import MetaStore from "@/store/modules/meta";
import JWTStore from "@/store/modules/jwt";
import { User } from "@/store/models/meta";
import { userCreate } from "@/store/models/jwt";

@Component
export default class roleList extends Vue {
  dialogVisible: boolean = false;
  innerVisible: boolean = false;
  selectedIndex = -1;
  data: User = {} as User;
  isValid: boolean = false;
  searchString: any = "";

  get dataList() {
    return MetaStore.Users;
  }

  get page() {
    return MetaStore.Page;
  }

  async onDeleteClick(index: number, id: number) {
    let user = this.dataList[index].email;
    this.$confirm(
      "This will permanently delete the user " +
        user +
        " if he has not created any plans. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        let deleted = await MetaStore.deleteCustomUser({
          id: id,
          index: index
        });
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  addUser() {
    this.$validator.errors.clear();
    this.dialogVisible = true;
    this.selectedIndex = -1;
    this.data = {} as User;
  }

  editForm(index: number) {
    this.$validator.errors.clear();
    this.dialogVisible = true;
    this.selectedIndex = index;
    this.data = Object.assign({}, this.dataList[index]);
  }

  async submit() {
    this.data.email = this.data.username;
    this.isValid = await this.$validator.validateAll();
    if (this.isValid) {
      if (this.selectedIndex === -1) {
        let data: userCreate = {
          username: this.data.username,
          first_name: this.data.firstname,
          last_name: this.data.lastname,
          email: this.data.email,
          designation: this.data.designation,
          password: this.data.password as string,
          repeatpassword: this.data.repeatpassword as string
        };
        await JWTStore.register(data);
        await MetaStore.loadUsers(true);
        this.innerVisible = true;
      } else {
        await MetaStore.updateUserList({
          user: this.data,
          index: this.selectedIndex
        });
      }
      // MetaStore.saveLayerGroups(MetaStore.LayerGroupList);
      this.dialogVisible = false;
    }
  }

  async saveUsers() {
    await MetaStore.saveUsers(this.dataList);
  }

  searchClear(event: any) {
    if (event == "") {
      this.search();
    }
  }

  search() {
    // var filtered = this.saveList.filter(function(el) {
    //   return el != null;
    // });
    MetaStore.searchUsers({
      users: this.dataList,
      searchString: this.searchString,
      page: 1
    });
  }

  async handlePrevNextClick(val: any) {
    // var filtered = this.saveList.filter(function(el) {
    //   return el != null;
    // });
    await MetaStore.searchUsers({
      users: this.dataList,
      searchString: this.searchString,
      page: val
    });
    // this.saveList = [];
  }

  created() {
    MetaStore.searchUsers({
      users: this.dataList,
      searchString: this.searchString,
      page: 1
    });
  }
}
</script>