<template>
  <div>
    <el-table :data="dataList" style="width: 100%">
      <el-table-column label width="85" fixed="left">
        <template slot-scope="scope">
          <el-button
            type="text"
            icon="el-icon-delete"
            title="Delete"
            @click="onDeleteClick(scope.$index)"
          ></el-button>
          <el-button type="text" icon="el-icon-edit" title="Edit" @click="editForm(scope.$index)"></el-button>
        </template>
      </el-table-column>
      <el-table-column prop="stakeholdername" label="Stakeholder" min-width="150"></el-table-column>

      <el-table-column label="Operational" min-width="150">
        <template slot-scope="scope">
          <p v-if="scope.row.operational">YES</p>
          <p v-else>NO</p>
        </template>
      </el-table-column>

      <el-table-column prop="possibleimpact" label="Possible Impact" min-width="150"></el-table-column>
      <el-table-column prop="contributionname" label="Possible Contribution" min-width="150"></el-table-column>
    </el-table>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import problemStore from "@/store/modules/problem";
import detailPlanStore from "@/store/modules/detailPlan";
import { ActivityStakeholderModel } from "@/store/models/DetailPlan/detailPlan";
import problem from "@/store/modules/problem";
import ActivityStakeholder from "../ActivityStakeholder.vue";

@Component
export default class ActivityStakeholderList extends Vue {
  get dataList() {
    return detailPlanStore.ActivityStakeholder;
  }

  editForm(i: number) {
    this.$emit("editScopeOfActivityDetail", i);
  }

  onDeleteClick(index: number) {
    const stakeholderName = this.dataList[index].stakeholdername;
    this.$confirm(
      "This will permanently delete the stakeholder '" +
        stakeholderName +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        console.log(this.dataList[index]);
        if (this.dataList[index].id) {
          await detailPlanStore.deleteStakeholderDetail(
            this.dataList[index].id
          );
        }
        detailPlanStore.ActivityStakeholder.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }
}
</script>
