<template>
  <div class="max-height">
    <div class="border-box gutter2 scroll-auto max-height-ls">
      <el-row :gutter="20">
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Activity</span>
          <el-select v-model="selectedActivity" placeholder="Select">
            <el-option v-for="(activity, i) in activities" :key="i" :label="activity" :value="activity"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Municipality</span>
          <el-select v-model="selectedMunicipality" placeholder="Select">
            <el-option v-for="(mun, i) in municipality" :key="i" :label="mun" :value="mun"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Ward</span>
          <el-select v-model="selectedWard" placeholder="Select">
            <el-option v-for="(ward, i) in wards" :key="i" :label="ward" :value="ward"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Settlement</span>
          <el-input placeholder="Settlement" v-model="settlement" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Beneficiary Population(Male)</span>
          <el-input placeholder="Beneficiary Population(Male)" v-model="beneficiaryMalePopulation" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Beneficiary Population(Female)</span>
          <el-input placeholder="Beneficiary Population(Female)" v-model="beneficiaryFemalePopulation" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Beneficiary Households(Dalit)</span>
          <el-input placeholder="Beneficiary Households(Dalit)" v-model="beneficiaryDalitHouseHolds" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Beneficiary Households(Janajati)</span>
          <el-input placeholder="Beneficiary Households(janajati)" v-model="beneficiaryJanajatiHouseHolds" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Beneficiary Households(Women Headed)</span>
          <el-input placeholder="Beneficiary Households(Women Headed)" v-model="beneficiaryWomenHeadedHouseHolds" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Other Beneficiaries</span>
          <el-input placeholder="Other Beneficiaries" v-model="OtherBeneficiaries" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Literacy Rate(Male)</span>
          <el-input placeholder="Literacy Rate(Male)" v-model="maleLiteracyRate" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Literacy Rate(Female)</span>
          <el-input placeholder="Literacy Rate(Female)" v-model="femaleLiteracyRate" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Economically Active Population(Agriculture)</span>
          <el-input placeholder="Economically Active Population(Agriculture)" v-model="economicallyActivePopulationInAgriculture" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Economically Active Population(Business)</span>
          <el-input placeholder="Economically Active Population(Business)" v-model="economicallyActivePopulationInBusiness" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Economically Active Population(Service in Nepal)</span>
          <el-input placeholder="Economically Active Population(Service in Nepal)" v-model="economicallyActivePopulationInServiceInNepal" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Economically Active Population(Service outside Nepal)</span>
          <el-input placeholder="Economically Active Population(Service outside Nepal)" v-model="economicallyActivePopulationInServiceOutsideNepal" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Economically Active Population(Labor)</span>
          <el-input placeholder="Economically Active Population(Labor)" v-model="economicallyActivePopulationInLabor" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Economically Active Population(Other Sectors)</span>
          <el-input placeholder="Economically Active Population(Other Sectors)" v-model="economicallyActivePopulationInOtherSectors" clearable></el-input>
        </el-col>
        

        <el-col :xs="24" :sm="24">
          <el-button type="primary" @click="submit()">Submit</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
  }
})
export default class BeneficiariesData extends Vue {
activities: string[] = ["Activity1", "Activity2", "Activity3", "Activity4", "Activity5"]
selectedActivity = "";
municipality: string[] = ["municipality1", "municipality2", "municipality3", "municipality4", "municipality5"]
selectedMunicipality = "";
wards: string[] = ["1", "2", "3", "4", "5"]
selectedWard = "";
settlement: string = ""
beneficiaryMalePopulation: number = 0;
beneficiaryFemalePopulation: number = 0;
beneficiaryDalitHouseHolds: number = 0;
beneficiaryJanajatiHouseHolds: number = 0;
beneficiaryWomenHeadedHouseHolds: number = 0;
OtherBeneficiaries: number = 0;
maleLiteracyRate: number = 0;
femaleLiteracyRate: number = 0;
economicallyActivePopulationInAgriculture: number = 0;
economicallyActivePopulationInBusiness: number = 0;
economicallyActivePopulationInServiceInNepal: number = 0;
economicallyActivePopulationInServiceOutsideNepal: number = 0;
economicallyActivePopulationInLabor: number = 0;
economicallyActivePopulationInOtherSectors: number = 0;

submit() {
    console.log("submitted")
}

}
</script>

<style>

</style>
