<template>
  <div class="max-height">
    <div class="border-box gutter2 scroll-auto max-height-ls">
      <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Activity</span>
          <el-select v-model="selectedActivity" placeholder="Select">
            <el-option v-for="(activity, i) in activities" :key="i" :label="activity" :value="activity"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Crop</span>
          <el-input placeholder="Crop" v-model="crop" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Area</span>
          <el-input placeholder="Area" v-model="area" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Production</span>
          <el-input placeholder="Production" v-model="production" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Irrigated Land</span>
          <el-input placeholder="Irrigated Land" v-model="irrigatedLand" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Planting Month</span>
          <el-input placeholder="Planting Month" v-model="plantingMonth" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Harvesting Month</span>
          <el-input placeholder="Harvesting Month" v-model="harvestingMonth" clearable></el-input>
        </el-col>
        

        <el-col :xs="24" :sm="24">
          <el-button type="primary" @click="submit()">Submit</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
  }
})
export default class BeneficiariesData extends Vue {
activities: string[] = ["Activity1", "Activity2", "Activity3", "Activity4", "Activity5"]
selectedActivity = "";
crop: string = "";
area: string = "";
production: string = "";
irrigatedLand: string = "";
plantingMonth: string = "";
harvestingMonth: string = "";

submit() {
    console.log("submitted")
}

}
</script>

<style>

</style>
