<template>
  <div class="max-height">
    <div class="border-box gutter2 scroll-auto max-height-ls">
      <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Activity</span>
          <el-select v-model="selectedActivity" placeholder="Select">
            <el-option v-for="(activity, i) in activities" :key="i" :label="activity" :value="activity"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">12 Months</span>
          <el-input placeholder="12 Months" v-model="twelveMonths" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">9 Months</span>
          <el-input placeholder="9 Months" v-model="nineMonths" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">6 Months</span>
          <el-input placeholder="6 Months" v-model="sixMonths" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">3 Months</span>
          <el-input placeholder="3 Months" v-model="threeMonths" clearable></el-input>
        </el-col>

        <el-col :xs="24" :sm="24">
          <el-button type="primary" @click="submit()">Submit</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
  }
})
export default class BeneficiariesData extends Vue {
activities: string[] = ["Activity1", "Activity2", "Activity3", "Activity4", "Activity5"]
selectedActivity = "";
twelveMonths: number = 0;
nineMonths: number = 0;
sixMonths: number = 0;
threeMonths: number = 0;

submit() {
    console.log("submitted")
}

}
</script>

<style>

</style>
