<template>
  <div class="max-height">
    <div class="border-box gutter2 scroll-auto max-height-ls">
      <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Activity</span>
          <el-select v-model="selectedActivity" placeholder="Select">
            <el-option v-for="(activity, i) in activities" :key="i" :label="activity" :value="activity"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Name of Infrastructure</span>
          <el-input placeholder="Name of Infrastructure" v-model="infrastructureName" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Type</span>
          <el-input placeholder="Type" v-model="type" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Latitude</span>
          <el-input placeholder="Latitude" v-model="latitude" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Longitude</span>
          <el-input placeholder="Longitude" v-model="longitude" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Condition</span>
          <el-input placeholder="Condition" v-model="condition" clearable></el-input>
        </el-col>
        

        <el-col :xs="24" :sm="24">
          <el-button type="primary" @click="submit()">Submit</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
  }
})
export default class BeneficiariesData extends Vue {
activities: string[] = ["Activity1", "Activity2", "Activity3", "Activity4", "Activity5"]
selectedActivity = "";
infrastructureName: string = "";
type: string = "";
latitude: string = "";
longitude: string = "";
condition: string = "";

submit() {
    console.log("submitted")
}

}
</script>

<style>

</style>
