<template>
  <div class="max-height">
    <div class="border-box gutter2 scroll-auto max-height-ls">
      <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Activity</span>
          <el-select v-model="selectedActivity" placeholder="Select">
            <el-option v-for="(activity, i) in activities" :key="i" :label="activity" :value="activity"></el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Cattle</span>
          <el-input placeholder="Cattle" v-model="cattle" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Goat</span>
          <el-input placeholder="Goat" v-model="goat" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Sheep</span>
          <el-input placeholder="Sheep" v-model="sheep" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Avian(bird)</span>
          <el-input placeholder="Bird" v-model="bird" clearable></el-input>
        </el-col>
        <el-col :xs="24" :sm="24">
          <span class="demo-input-label">Others</span>
          <el-input placeholder="Others" v-model="others" clearable></el-input>
        </el-col>

        <el-col :xs="24" :sm="24">
          <el-button type="primary" @click="submit()">Submit</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";

@Component({
  components: {
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col,
  }
})
export default class BeneficiariesData extends Vue {
activities: string[] = ["Activity1", "Activity2", "Activity3", "Activity4", "Activity5"]
selectedActivity = "";
cattle: number = 0;
goat: number = 0;
sheep: number = 0;
bird: number = 0;
others: number = 0;

submit() {
    console.log("submitted")
}

}
</script>

<style>

</style>
