<template>
  <div class="max-height">
    <Innerrouting :activeView="5" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader :detailed="true" />
          <div class="flex spacebetween padBottom-10">
            <div class="demo-input-label">
              <h3>List Of Scope of Activities</h3>
            </div>
            <div>
              <el-button
                type="text"
                icon="el-icon-circle-plus"
                class="left-auto"
                @click="addRow()"
              >Add Scope of Activity</el-button>
            </div>
          </div>
          <div>
            <el-table :data="dataList" style="width: 100%">
              <el-table-column label width="85" fixed="left">
                <template slot-scope="scope">
                  <el-button
                    type="text"
                    icon="el-icon-delete"
                    title="Delete"
                    @click="onDeleteClick(scope.$index)"
                  ></el-button>
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    title="Edit"
                    @click="editForm(scope.row.id)"
                  ></el-button>
                </template>
              </el-table-column>
              <el-table-column prop="scopeofactivityname" label="Scope of Activity" min-width="150"></el-table-column>
              <el-table-column prop="quantity" label="Quantity" min-width="150"></el-table-column>
              <el-table-column prop="unit" label="Unit" min-width="100"></el-table-column>
              <el-table-column
                prop="implementationyear"
                label="Year of Implementation"
                min-width="150"
              ></el-table-column>
              <el-table-column prop="cost" label="Cost" min-width="150"></el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <el-button type="primary" icon="el-icon-arrow-left" @click="goBack">Back</el-button>
      <el-button type="primary" @click="next">
        Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Select, Radio, Button, Form, FormItem, Row, Col } from "element-ui";
import detailPlanStore from "@/store/modules/detailPlan";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";
import commonStore from "@/store/modules/common";
import { ScopeOfActivityDetailModel } from "@/store/models/DetailPlan/detailPlan";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";

@Component({
  components: {
    Innerrouting,
    PlanHeader,
    Select,
    Radio,
    Button,
    Form,
    FormItem,
    Row,
    Col
  }
})
export default class ScopeOfActivityDetailList extends Vue {
  planid = 0;
  problemid = 0;
  activityid = 0;
  scopeofactivityid = 0;
  problemId: number = 0;
  activityId: number = 0;

  created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      planStore.getPlanByPlanId(this.planid);
    }

    if (this.$route.query.problemid) {
      this.problemid = Number(this.$route.query.problemid);
      problemStore.getSelectedProblemsByPlanId(this.planid);
    }

    if (this.$route.query.activityid) {
      this.activityid = Number(this.$route.query.activityid);
    }

    detailPlanStore.getScopeOfActivityDetailListbyActivityId({
      problemId: this.problemid,
      activityId: this.activityid
    });
  }

  get dataList() {
    return detailPlanStore.ScopeOfActivityDetail;
  }

  get plan() {
    // console.log(planStore.watershedPlan);
    return planStore.watershedPlan;
  }

  get problem() {
    let y = problemStore.SelectedProblemList.filter(
      x => x.id === this.problemid
    )[0];
    if (y === undefined) {
      return {};
    }
    return y;
  }

  onDeleteClick(index: number) {
    // this.dataList.splice(index, 1);
    const scopeOfActivityName = this.dataList[index].scopeofactivityname;
    this.$confirm(
      "This will permanently delete the scope of activity '" +
        scopeOfActivityName +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        // console.log(this.dataList[index]);
        if (this.dataList[index].id) {
          await detailPlanStore.deleteScopeOfActivityDetail(
            this.dataList[index].id
          );
        }
        this.dataList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }

  editForm(scopeofactivityID: number) {
    this.$router.push(
      "/Detail/ScopeOfActivityDetail?planid=" +
        this.planid +
        "&problemid=" +
        this.problemid +
        "&activityid=" +
        this.activityid +
        "&scopeofactivityid=" +
        scopeofactivityID +
        "&previous=stakeholder"
    );
  }

  addRow() {
    this.$router.push(
      "/Detail/ScopeOfActivityDetail?planid=" +
        this.planid +
        "&problemid=" +
        this.problemid +
        "&activityid=" +
        this.activityid +
        "&previous=stakeholder"
    );
  }

  mounted() {
    if (this.$route.query.previous) {
      let previous = this.$route.query.previous;
      let Previous = "";
      if (previous == "detaillist") {
        Previous = "/Detail/SelectedProblems?planid=" + this.planid;
        commonStore.setBeforeScopeOfActivityPath(Previous);
      } else if (previous == "stakeholder") {
        Previous =
          "/Detail/ActivityStakeholder?planid=" +
          this.planid +
          "&problemid=" +
          this.problemid +
          "&activityid=" +
          this.activityid;
        commonStore.setBeforeScopeOfActivityPath(Previous);
      }
    }
  }

  goBack() {
    if (commonStore.beforeScopeOfActivityPath === "") {
      commonStore.setBeforeScopeOfActivityPath(
        "/Detail/SelectedProblems?planid=" + this.planid
      );
    }
    this.$router.push(commonStore.beforeScopeOfActivityPath);
  }

  next() {
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 60
    });
    this.$router.push("/Detail/SelectedProblems?planid=" + this.planid);
  }

  async goto(link: any) {
    this.$router.push(link);
  }
}
</script>