<template>
  <div class="overflow">
    <div class="scroll-auto max-height">
    <div>
      <form class="ui form" @submit.prevent="onSubmit">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24">
            <div class="field" :class="{error: errors.has('email')}">
              <label>Email</label>
              <el-input type="email" name="email" placeholder="Email" v-validate="'required|email'" v-model="email"></el-input>
              <span class="error" v-if="errors.has('email')">{{errors.first('email')}}</span>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12">
            <label class="demo-input-label">Select Watershed</label>
            <el-select v-model="formSelect" placeholder="please select your zone">
              <el-option label="Zone one" value="shanghai"></el-option>
              <el-option label="Zone two" value="beijing"></el-option>
            </el-select>
          </el-col>
          <el-col :xs="12" :sm="12">
            <div class="field" :class="{error: errors.has('number')}">
              <label>Phone Number</label>
              <el-input type="number" name="phone" v-model="phone" v-validate="'required|numeric'" placeholder="Phone"></el-input>
              <span v-if="errors.has('phone')" class="error">{{ errors.first('phone') }}</span>
            </div>
          </el-col>
          <el-col :xs="24">
             <el-button type="submit">Submit</el-button>
          </el-col>
        </el-row>
      </form>
    </div>  
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Select, Button, Input } from "element-ui";

@Component({
  components: {
    Button,
    Select,
    Input
  }
})
export default class App extends Vue {
  public email = '';
  public phone =  '';
  public formSelect: string = '';
  createPlan() {
   // this.$router.push("/Initial");
  }
  onSubmit() {
    const dictionary = {
      en: {
        messages: {
          confirmed: function () { 
            return "Your password is not confirmed"
          },
          email: function () { 
            return "I really dont like your email"
          }
        }
      }
    };

    this.$validator.validateAll().then((result) => {
      if (result) {
        // eslint-disable-next-line
        alert('Form Submitted!');
        return;
      }
      alert('Correct them errors!');
    });
  }
}
</script>




