<template>
  <div
    id="instruction"
    class="border-box scroll-auto max-height marRight-10"
    style="padding: 5px 15px"
    v-loading="isLoading"
  >
    <span v-if="this.$route.path.toLowerCase() === '/plan/step1/biophysical'">
      <span v-for="(feature, index) in features" :key="index">
        <div class="flex heading spacebetween">
          <div>
            <h3>Information Resources</h3>
          </div>
          <div>
            <el-button
              type="primary"
              plain
              icon="el-icon-document-copy"
              v-if="feature.name==='Biophysical'"
              @click="copyBiophysical"
            >Copy Biophysical</el-button>
          </div>
        </div>
        <span v-for="(property, index) in feature.properties" :key="index">
          <h5 slot="title">{{property.caption|capitalize}}</h5>
          <table style="width: 100%" max-height="320">
            <tr v-for="(item, index) in property.data" :key="index">
              <td style="width: 100px !important">{{item.property}}</td>
              <td style="width: 100px !important">{{item.value}}</td>
            </tr>
          </table>
        </span>
      </span>
    </span>
    <span v-else-if="this.$route.path.toLowerCase() === '/detail/additionalinfo'">
      <odkData
        :planid="this.$route.query.planid"
        :problemId="this.$route.query.problemid"
        :activityId="this.$route.query.activityid"
      />
    </span>
    <span v-else-if="this.$route.path.toLowerCase() === '/detail/selectedproblems'">
      <odkInstructions />
    </span>
    <!-- <span v-else-if="this.$route.path.toLowerCase() === '/plan/step1/socioeconomic'">
      <socioeconomicData :planid="this.$route.query.planid"/>
    </span>-->
    <span v-else>
      <h3>Instructions</h3>
      <img
        class="image-responsive"
        src="@/assets/Pyramid.jpg"
        style="display: block; margin-left: auto; margin-right: auto; width: 90%;"
      />
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import mapStore from "@/store/modules/map";
import planStore from "@/store/modules/plan";
import { eventHub } from "@/utils/eventHub";
import odkData from "@/views/Plan/Planlayout/components/odkData.vue";
import odkInstructions from "@/views/Plan/Planlayout/components/odkInstructions.vue";
import socioeconomicData from "@/views/Plan/Planlayout/components/socioeconomicData.vue";

@Component({
  components: { odkData, socioeconomicData, odkInstructions },
  filters: {
    capitalize(value: string) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
})
export default class Instructions extends Vue {
  value: string = "";
  public isCollapse = false;

  public handleOpen(key: string, keyPath: string) {
    // console.log(key, keyPath);
  }

  public handleClose(key: string, keyPath: string) {
    // console.log(key, keyPath);
  }

  get features() {
    if (this.$route.path.toLowerCase() === "/plan/step1/biophysical")
      return mapStore.Features;
    return [];
  }

  get isLoading() {
    return mapStore.isLoadingMap;
  }

  makeData() {
    let raw_data = this.features;
    // console.log(raw_data);
  }

  copyBiophysical() {
    for (const feature of this.features) {
      for (const property of feature.properties) {
        for (const data of property.data) {
          planStore.updateBioPhysical({
            value: data.value,
            variableid: data.variableid
          });
        }
      }
    }
  }

  // created() {
  //   mapStore.loadMapData({ subwatershedid: 222 });
  // }
}
</script>

<style lang="scss" scoped>
.heading {
  padding: 10px 0px 5px 0px;
}
</style>
