<template>
  <div
    id="instruction"
    class="border-box scroll-auto max-height marRight-10"
    style="padding: 5px 15px"
  >
    <el-row>
      <el-col :xs="8" :sm="8">
        <h5 style="padding-top: 10px">Select admin level:</h5>
      </el-col>
      <el-col :xs="7" :sm="7" style="margin-right: 20px">
        <el-select v-model="statevalue" placeholder="Select" @input="stateChange()">
          <el-option v-for="item in state" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-col>
      <el-col :xs="7" :sm="7">
        <el-select v-model="districtvalue" placeholder="Select" @change="districtprofile()">
          <el-option v-for="item in district" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-col>
    </el-row>

    <!--    <div v-loading="bioPhysicalLoading">-->
    <!--        <h3 style="padding-top: 20px;">District Agriculture Profile</h3>-->
    <!--          <span-->
    <!--            :title="bioItem.Name"-->
    <!--            :name="i"-->
    <!--            :key="i"-->
    <!--            v-for="(bioItem,i) in bioPhysical"-->
    <!--          >-->
    <!--              <span v-if="bioItem.Meta.length !== 0">-->
    <!--              {{ bioItem.Name }}-->
    <!--              <span v-if="bioItem.Id == 1">-->
    <!--                <el-table-->
    <!--                  style="width: 100%"-->
    <!--                  :data="bioItem.Meta"-->
    <!--                >-->
    <!--                  <el-table-column-->
    <!--                    prop="name"-->
    <!--                    width="180"-->
    <!--                  label="Name">-->
    <!--                  </el-table-column>-->
    <!--                  <el-table-column prop="value" label="Value"></el-table-column>-->
    <!--                </el-table>-->
    <!--              </span>-->

    <!--              <span>-->
    <!--                  <BioPhysicalTable-->
    <!--                    :mainTitle="bioItem.Name"-->
    <!--                    :meta="bioItem.Meta"-->
    <!--                    :rows=bioItem.Rows-->
    <!--                    :colList=bioItem.Cols-->
    <!--                  />-->
    <!--              </span>-->
    <!--              <br/>-->
    <!--          </span>-->
    <!--              </span>-->
    <!--      </div>-->

    <div v-loading="bioPhysicalLoading">
      <h4 style="padding-top: 20px;">District Agriculture Profile</h4>

      <div v-if="bioPhysicalLoading" style="height: 100%; background-color: red"></div>
      <div v-if="!bioPhysicalLoading">
        <el-collapse>
          <span :title="bioItem.Name" :name="i" :key="i" v-for="(bioItem,i) in bioPhysical">
            <span v-if="bioItem.Meta.length !== 0">
              <el-collapse-item :title="bioItem.Name" :name="i">
                <span v-if="bioItem.Id == 1">
                  <el-table style="width: 100%" :data="bioItem.Meta">
                    <el-table-column prop="name"></el-table-column>
                    <el-table-column prop="value"></el-table-column>
                  </el-table>
                </span>

                <span>
                  <BioPhysicalTable
                    :mainTitle="bioItem.Name"
                    :meta="bioItem.Meta"
                    :rows="bioItem.Rows"
                    :colList="bioItem.Cols"
                  />
                </span>
                <br />
              </el-collapse-item>
            </span>
          </span>
        </el-collapse>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import mapStore from "@/store/modules/map";
import odkData from "@/views/Plan/Planlayout/components/odkData.vue";
import odkInstructions from "@/views/Plan/Planlayout/components/odkInstructions.vue";
import socioeconomicData from "@/views/Plan/Planlayout/components/socioeconomicData.vue";
import { BioPhysical, Meta } from "@/store/models/plan/watershedPlan";
import { District } from "@/store/models/Variable";
import BioPhysicalTable from "@/views/Plan/Step1/Component/BioPhysicalTable.vue";
import planStore from "@/store/modules/plan";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    BioPhysicalTable
  }
})
export default class InstructionsViewDistrictInfo extends Vue {
  planId = 0;
  isLoading = false;
  accordionActiveName = "";
  bioPhysicalLoading: boolean = false;
  state = [
    {
      id: "1",
      name: "Andhra Pradesh",
      extent: [
        76.7569885253907,
        12.6118402481078,
        84.7610168457032,
        19.916088104248
      ]
    },
    {
      id: "2",
      name: "Maharashtra",
      extent: [
        72.6506958007813,
        15.6045999526979,
        80.8921585083008,
        22.0309982299805
      ]
    }
  ];
  statevalue = "1";
  districtList = [
    {
      planid: 237,
      id: "1",
      stateid: "1",
      name: "Kurnool",
      extent: [76.92, 14.8, 78.9, 16.2131],
      fid: 32,
      layerName: "AndhraPradesh"
    },
    {
      planid: 238,
      id: "2",
      stateid: "2",
      name: "Osmanabad",
      extent: [75.25, 17.8, 76.9, 18.77],
      fid: 307,
      layerName: "Maharashtra"
    }
  ];
  districtvalue = "1";

  get bioPhysical() {
    return planStore.bioPhysical;
    console.log(planStore.bioPhysical);
  }

  get district() {
    let districtList = this.districtList;
    if (this.statevalue) {
      districtList = districtList.filter(x => x.stateid == this.statevalue);
    }
    return districtList;
  }

  async stateChange() {
    this.bioPhysicalLoading = true;
    let states = this.state.filter(x => x.id == this.statevalue);
    if (states.length > 0) {
      let extent = states[0].extent as [number, number, number, number];
      mapStore.focusExtent(extent);
    }
    this.districtvalue = this.district[0].id;
    this.bioPhysicalLoading = false;
    this.districtprofile();
    this.$router.replace({
      name: this.$route.name,
      query: { state: this.statevalue, district: this.districtvalue }
    });
    eventHub.$emit("statechange", "state change");
  }

  async districtprofile() {
    this.bioPhysicalLoading = true;
    this.$emit("districtselect", this.districtvalue);
    this.$router.replace({
      name: this.$route.name,
      query: { state: this.statevalue, district: this.districtvalue }
    });

    let districts = this.district.filter(x => x.id == this.districtvalue);
    if (districts.length > 0) {
      let district = districts[0];
      let extent = district.extent as [number, number, number, number];
      let fid = district.fid;
      let layerName = district.layerName;
      mapStore.focusDistrict({
        extent: extent,
        fid: fid,
        layerName: layerName
      });
      await planStore.storeBioPhysicalByPlanId(district.planid);
      await planStore.getScenario({
        district: Number(this.districtvalue),
        crop: "crop"
      });
    }
    this.bioPhysicalLoading = false;
  }

  async created() {
    if (this.$route.query.state){
      this.statevalue = String(this.$route.query.state)
    }
    if (this.$route.query.district){
      this.districtvalue = String(this.$route.query.district)
    }

    if (this.statevalue === "" && this.districtvalue === "") {
      this.$router.replace({ name: this.$route.name });
    }
    this.$router.replace({
      name: this.$route.name,
      query: { state: this.statevalue, district: this.districtvalue }
    });
    await planStore.storeBioPhysicalByPlanId(237);
    await planStore.getScenario({
      district: Number(this.districtvalue),
      crop: "crop"
    });
    // if (this.$route.query.planid) {
    //   this.planId = Number(this.$route.query.planid);
    //   this.bioPhysicalLoading = true;
    //   await planStore.storeBioPhysicalByPlanId(this.planId);
    //   this.bioPhysicalLoading = false;
    // } else {
    //   //return error page
    // }
  }

  // @Prop({ default: [] as Meta[] })
  // meta!: Meta[];
  //
  // @Prop({ default: [] as string[] })
  // rows!: string[];
  //
  // @Prop({ default: [] as string[] })
  // colList!: string[];
  //
  // @Prop({ default: "" })
  // mainTitle!: string;
  //
  // @Prop({ default: "" })
  // colGroup!: string;
  // }
  // @Component({
  //   components: { odkData, socioeconomicData, odkInstructions },
  //   filters: {
  //     capitalize(value: string) {
  //       if (!value) return "";
  //       value = value.toString();
  //       return value.charAt(0).toUpperCase() + value.slice(1);
  //     }
  //   }
  // })

  // export default class Instructions extends Vue {
  value: string = "";
  public isCollapse = false;
  //
  // public handleOpen(key: string, keyPath: string) {
  //   // console.log(key, keyPath);
  // }
  //
  // public handleClose(key: string, keyPath: string) {
  //   // console.log(key, keyPath);
  // }
  //
  // get features() {
  //   if (this.$route.path.toLowerCase() === "/plan/step1/biophysical")
  //     return mapStore.Features;
  //   return [];
  // }
  //
  // get isLoading() {
  //   return mapStore.isLoadingMap;
  // }
  //
  // makeData() {
  //   let raw_data = this.features;
  //   // console.log(raw_data);
  // }
  //
  // copyBiophysical() {
  //   for (const feature of this.features) {
  //     for (const property of feature.properties) {
  //       for (const data of property.data) {
  //         planStore.updateBioPhysical({
  //           value: data.value,
  //           variableid: data.variableid
  //         });
  //       }
  //     }
  //   }
  // }

  // created() {
  //   mapStore.loadMapData({ subwatershedid: 222 });
  // }
}
</script>

<style lang="sass" scoped>
.heading 
  padding: 10px 0px 5px 0px;


</style>
