<template>
  <div id="map" class="marRight-10 marBottom-10">
    <div id="mapTarget" class="max-height overflow" v-loading="isLoading">
      <!-- Map is drawn here -->
      <!-- <el-button @click="exportPng">Export</el-button> -->
      <el-dialog :visible.sync="drawDialogVisible" title="Select Problem Type">
        <el-select v-model="drawType" @change="addDraw">
          <el-option value="Point">Point</el-option>
          <el-option value="LineString">LineString</el-option>
          <el-option value="Polygon">Polygon</el-option>
        </el-select>
      </el-dialog>

      <div id="drawTool" v-if="drawingToolVisible">
        <div>
          <h4 class="centering">Draw Tool</h4>
          <el-radio-group v-model="drawType" @change="addDraw">
            <el-radio label="Point"></el-radio>
            <el-radio label="LineString"></el-radio>
            <el-radio label="Polygon"></el-radio>
          </el-radio-group>
        </div>
      </div>

      <div
        id="layer-switcher"
        @click="toggleLayerSwitcher"
        class="ol-unselectable ol-control"
      >
        <button type="button" title="Layers">
          <img src="@/assets/layers.svg" style="height: 20px; width: 20px;" />
        </button>
      </div>
      <div id="layer" v-if="layerSwitcherVisible">
        <div>
          <h4 class="centering">Base Maps</h4>
          <el-radio-group v-model="osmMap" @change="switchMap">
            <el-radio label="None"></el-radio>
            <el-radio label="OSM"></el-radio>
            <el-radio label="BingMap">Satellite</el-radio>
          </el-radio-group>
        </div>
        <div>
          <h4 class="centering">Layers</h4>
          <span v-for="(layer, index) in vectorLayers" :key="index">
            <div>
              <el-checkbox
                :value="layer.values_.visible"
                @change="updateVisibility($event, layer.get('id'))"
                >{{ layer.get("title") }}</el-checkbox
              >
            </div>
          </span>
        </div>
      </div>

      <div
        id="focusSubwatershed"
        class="ol-unselectable ol-control ol-zoom-extent"
      >
        <button type="button" title="Zoom to District" @click="focusDistrict()">
          D
        </button>
      </div>

      <div
        id="addDraw"
        class="ol-unselectable ol-control"
        v-if="this.$route.path.toLowerCase() == '/plan/problem'"
      >
        <button type="button" title="Draw" @click="toggleDrawingTool">
          <i class="el-icon-edit"></i>
        </button>
        <button type="button" title="Clear" @click="clear">
          <i class="el-icon-delete"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import "ol/ol.css";
import { Vue, Component } from "vue-property-decorator";
import View from "ol/View";
import Map from "ol/Map";
import Image from "ol/layer/Image";
import ImageWMS from "ol/source/ImageWMS";
import Tile from "ol/layer/Tile";
import TileWMS from "ol/source/TileWMS";
import OSM from "ol/source/OSM";
import BingMaps from "ol/source/BingMaps";
import Projection from "ol/proj/Projection";

import ZoomToExtent from "ol/control/ZoomToExtent";
import ScaleLine from "ol/control/ScaleLine";
import control from "ol/control";
import MousePosition from "ol/control/MousePosition";
import coordinate from "ol/coordinate";

import { Input, Select } from "element-ui";
import mapStore from "@/store/modules/map";

import API from "@/store/API/map";
import { Focus } from "@/store/models/map";
import { Action } from "@/store/actionType";

@Component({
  components: {
    Input
  }
})
export default class MyComponent extends Vue {
  tileLayerList: Tile[] = [];

  osmMap: string = "None";
  layerSwitcherVisible: boolean = false;
  drawingToolVisible: boolean = false;

  map = new Map({});
  projection = new Projection({
    code: "EPSG:4326",
    units: "degrees",
    axisOrientation: "neu"
  });
  bounds: [number, number, number, number] = [
    72.6506958007813,
    12.6118402481078,
    84.7610168457032,
    22.0309982299805
  ];
  zoomToExtentControl = new ZoomToExtent({
    extent: this.bounds
  });

  createStringXY(fraction = 4): any {
    return (coordinate: any) => {
      if (coordinate) {
        let template = "{x}, {y}";
        return template
          .replace("{x}", coordinate[0].toFixed(fraction))
          .replace("{y}", coordinate[1].toFixed(fraction));
      }
    };
  }

  mousePositionControl = new MousePosition({
    coordinateFormat: this.createStringXY(),
    projection: "EPSG:4326"
  });

  //-----------------get methods here
  get isLoading() {
    return mapStore.isLoadingMap;
  }

  get drawDialogVisible() {
    return mapStore.drawDialogVisible;
  }
  get drawType() {
    return mapStore.drawType;
  }

  get vectorLayers() {
    return mapStore.vectorLayerList;
  }

  set drawDialogVisible(value: boolean) {
    mapStore.setDrawDialogVisible(value);
  }

  set drawType(drawT: string | null) {
    mapStore.setDrawType(drawT);
  }

  //-----------------end get methods

  addDraw(drawType: string) {
    this.drawingToolVisible = false;
    mapStore.addDraw(drawType);
    mapStore.setDrawDialogVisible(false);
    mapStore.setDrawType(null);
  }

  updateVisibility(visible: boolean, layerId: string) {
    mapStore.updateVisibility({ layerId: layerId, visible: visible });
  }

  getVisibility(layerId: string) {
    return mapStore.getVisibility(layerId);
  }

  async setLayers() {
    await mapStore.loadLayers();
    const layerList = await mapStore.LayerList;
    let osm = new Tile({
      visible: false,
      source: new OSM()
    });
    osm.set("id", "OSM");
    this.tileLayerList.push(osm);
    let bing = new Tile({
      visible: false,
      source: new BingMaps({
        key: "As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5",
        imagerySet: "AerialWithLabels"
      })
    });
    bing.set("id", "BingMap");
    this.tileLayerList.push(bing);

    let i = layerList.length - 1;
    for (i; i >= 0; i--) {
      let tile = new Tile({
        visible: layerList[i]["visible"],
        source: new TileWMS({
          url:
            Action.Base.replace("/api", "/proxy/") +
            layerList[i]["source_data"]["url"],
          crossOrigin: "anonymous",
          hidpi: false,
          params: {
            VERSION: "1.1.1",
            LAYERS: layerList[i]["source_data"]["layers"]
          },
          serverType: layerList[i]["source_data"]["serverType"]
          // projection: "EPSG:4326"
        })
      });
      tile.set("title", layerList[i]["title"]);
      tile.set("id", layerList[i]["layer_id"]);
      this.tileLayerList.push(tile);
    }

    mapStore.setTileLayers(this.tileLayerList);
  }

  async setMap() {
    // await mapStore.setTileLayers();
    await this.setLayers();
    await mapStore.initializeVectorLayer();
    this.map = new Map({
      view: new View({
        center: [78.70585632324224, 17.32141923904415],
        zoom: 5,
        maxZoom: 19,
        minZoom: 2,
        projection: this.projection
      }),
      target: "mapTarget"
    });
    this.map.addControl(this.zoomToExtentControl);
    this.map.addControl(new ScaleLine());
    this.map.addControl(this.mousePositionControl);
    await mapStore.loadGroupedLayers();
    for (const layer of this.tileLayerList) {
      this.map.addLayer(layer);
    }
    for (const layer of mapStore.vectorLayerList) {
      this.map.addLayer(layer);
    }
    let map = this.map;

    // this.map.on("singleclick", function(evt: any) {
    //   let view = map.getView();
    //   let viewResolution = view.getResolution();
    //   let urlList = [];
    //   const tileLayer = map.getLayers().getArray() as Tile[];
    //   for (let i = 1; i < tileLayer.length; i++) {
    //     let source: any = tileLayer[i].getSource();
    //     let url = source.getGetFeatureInfoUrl(
    //       evt.coordinate,
    //       viewResolution,
    //       view.getProjection(),
    //       { INFO_FORMAT: "application/json", FEATURE_COUNT: 50 }
    //     );
    //     if (url) {
    //       urlList.push(url);
    //     }
    //   }
    //   mapStore.updateFeatures(urlList);
    // });
    // this.setDraw();
    await mapStore.loadMap(this.map);
    await mapStore.setMapLoaded();
  }

  public focusDistrict() {
    let district = this.$route.query.district;
    let extent = [
      76.7569885253907,
      12.6118402481078,
      84.7610168457032,
      19.916088104248
    ] as [number, number, number, number];
    let fid = 32;
    let layerName = "AndhraPradesh";
    if (district == "1") {
      extent = [76.92, 14.8, 78.9, 16.2131] as [number, number, number, number];
      fid = 32;
      layerName = "AndhraPradesh";
    }
    if (district == "2") {
      extent = [75.25, 17.8, 76.9, 18.77] as [number, number, number, number];
      fid = 307;
      layerName = "Maharashtra";
    }
    mapStore.focusDistrict({
      extent: extent,
      fid: fid,
      layerName: layerName
    });
  }

  public async switchMap(layer: string) {
    const osm = (await mapStore.getLayer("OSM")) as Tile;
    if (osm) {
      osm.setVisible(false);
    }
    const bing = (await mapStore.getLayer("BingMap")) as Tile;
    if (bing) {
      bing.setVisible(false);
    }
    if (layer != "None") {
      const mapLayer = (await mapStore.getLayer(layer)) as Tile;
      if (mapLayer != null) {
        mapLayer.setVisible(true);
      }
    }
  }

  toggleLayerSwitcher() {
    this.layerSwitcherVisible = !this.layerSwitcherVisible;
    if (this.layerSwitcherVisible) {
      this.drawingToolVisible = false;
    }
  }

  toggleDrawingTool() {
    this.drawingToolVisible = !this.drawingToolVisible;
    if (this.drawingToolVisible) {
      this.layerSwitcherVisible = false;
    }
  }

  async exportPng() {
    await this.switchMap("None");
    await mapStore.focusProvince(
      "?provinceid=true&planid=" + this.$route.query.planid
    );
    await mapStore.exportPng({
      planid: Number(this.$route.query.planid),
      picture: "location_map"
    });

    await mapStore.focusSubWatershed("?planid=" + this.$route.query.planid);
    await mapStore.exportPng({
      planid: Number(this.$route.query.planid),
      picture: "sw_detail_map"
    });
  }

  draw() {
    mapStore.setDrawDialogVisible(true);
  }

  clear() {
    mapStore.clearDraw();
  }

  created() {
    // this.setLayers();
    // alert("created");
  }

  async mounted() {
    // alert("mounted");
    await this.setMap();
    // await mapStore.setDraw();
  }
}
</script>

<style lang="sass">
@import './stylesheets/sass/mediaqueries'

#map
  position: relative
  height: 100%
  overflow: hidden;

  #focusSubwatershed
    z-index: 1
    position: absolute
    top: 7em
    left: 0.5em
    +smallDesktop
      top: 8em

  // input.el-input__inner
  //   min-height: 25px !important


  // .el-input__inner
  //   height: 25px


  // .el-input__icon
  //   line-height: 20px


#mapTarget
  background-color: #f0f3f3
  border: 0.1px solid rgba($color: #000000, $alpha: 0.1)


#layer-switcher
  position: absolute
  z-index: 1
  top: 2.5em
  right: 0.5em

#layer
  position: absolute
  right: 2.5em
  z-index: 1
  top: 0.5em
  background-color: #fff
  padding: 10px
  border-radius: 5px

#drawTool-switcher
  position: absolute
  z-index: 1
  top: 4.5em
  right: 0.5em

#drawTool
  position: absolute
  right: 2.5em
  z-index: 1
  top: 0.5em
  background-color: #fff
  padding: 10px
  border-radius: 5px

#addDraw
  position: absolute
  right: 0.5em
  z-index: 1
  top: 5em

.ol-mouse-position
  position: absolute
  text-align: center
  width: 100%
  top: 90%

.tooltip
  position: relative
  background: rgba(0, 0, 0, 0.5)
  border-radius: 4px
  color: white
  padding: 4px 8px
  opacity: 0.7
  white-space: nowrap

.tooltip-static
  background-color: #ffcc33
  color: black
  border: 1px solid white
</style>
