<template>
  <div>
    <div class="el-table el-table--scrollable-x" style="display:block;width: 100%;overflow-x:auto;">
      <span v-if="colList && colList !== null">
        <table
          cellspacing="0"
          cellpadding="0"
          border="0"
          class="el-table__header"
          :class="colList.length<5? 'full-width': ''"
        >
          <col name="main_title" />

          <span v-for="col in colList" :key="col">
            <col :name="'column_' + col" />
          </span>
          <!--          <span v-if="colList && colList !== null">-->

          <thead class="has-gutter">
            <tr class>
              <th colspan="1" rowspan="2" class="main_title is-leaf">
                <div class="cell">{{mainTitle}}</div>
              </th>

              <!--            <th :colspan="colList.length" rowspan="1" class="is-leaf">-->
              <!--              <div class="cell" style="text-align:center">{{colGroup}}</div>-->
              <!--            </th>-->
            </tr>
            <tr>
              <th
                colspan="1"
                rowspan="1"
                :class="'column_' + col"
                class="is-leaf"
                v-for="col in colList"
                :key="col"
              >
                <div class="cell">{{col}}</div>
              </th>
            </tr>
          </thead>

          <tbody class="el-table__body">
            <colgroup>
              <col name="main_title" width="100" />
              <span v-for="col in colList" :key="col">
                <col :name="'column_' + col" width="50" />
              </span>
            </colgroup>
            <tr class="el-table__row" v-for="row in rows" :key="row">
              <td rowspan="1" colspan="1" class="main_title" style="min-width:120px">
                <div class="cell">{{row}}</div>
              </td>
              <td
                rowspan="1"
                colspan="1"
                v-for="col in colList"
                :key="col"
                :class="'column_' + col"
                style="min-width:100px"
              >
                <!--              <div class="cell">-->
                <!--                <el-input-->
                <!--                  type="number"-->
                <!--                  style="width:90px;"-->
                <!--                  v-if="meta-->
                <!--                      .filter(x => x.name.toLowerCase().includes(row.toLowerCase()))-->
                <!--                      .filter(x => x.name.toLowerCase().includes(col.toLowerCase()))[0]"-->
                <!--                  v-model="meta-->
                <!--                      .filter(x => x.name.toLowerCase().includes(row.toLowerCase()))-->
                <!--                      .filter(x => x.name.toLowerCase().includes(col.toLowerCase()))[0].data.value"-->
                <!--                ></el-input>-->
                <!--              </div>-->

                <div class="cell">
                  <!--                this is it-->
                  <span
                    v-if="meta
                      .filter(x => x.name.toLowerCase().includes(row.toLowerCase()))
                      .filter(x => x.name.toLowerCase().includes(col.toLowerCase()))[0]"
                  >{{ meta.filter(x => x.name.toLowerCase().includes(row.toLowerCase())).filter(x => x.name.toLowerCase().includes(col.toLowerCase()))[0].data.value}}</span>
                  <span v-else>
                    {{ row.toLowerCase() }}
                    {{ col.toLowerCase() }}
                  </span>
                  <!--                <el-input-->
                  <!--                  type="number"-->
                  <!--                  style="width:90px;"-->
                  <!--                  v-if="meta-->
                  <!--                      .filter(x => x.name.toLowerCase().includes(row.toLowerCase()))-->
                  <!--                      .filter(x => x.name.toLowerCase().includes(col.toLowerCase()))[0]"-->
                  <!--                  v-model="meta-->
                  <!--                      .filter(x => x.name.toLowerCase().includes(row.toLowerCase()))-->
                  <!--                      .filter(x => x.name.toLowerCase().includes(col.toLowerCase()))[0].data.value"-->
                  <!--                ></el-input>-->
                </div>
              </td>
            </tr>
          </tbody>
          <!--          </span>-->
        </table>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { BioPhysical, Meta } from "@/store/models/plan/watershedPlan";

@Component
export default class BioPhysicalTable extends Vue {
  @Prop({ default: [] as Meta[] })
  meta!: Meta[];

  @Prop({ default: [] as string[] })
  rows!: string[];

  @Prop({ default: [] as string[] })
  colList!: string[];

  @Prop({ default: "" })
  mainTitle!: string;

  @Prop({ default: "" })
  colGroup!: string;
}
</script>

<style lang="sass" scoped>
.full-width 
  width: 100%;
</style>

