<template>
  <div>
    <el-table :data="dataList" style="width: 100%">
      <el-table-column label width="85" fixed="left">
        <template slot-scope="scope">
          <el-button
            type="text"
            icon="el-icon-delete"
            title="Delete"
            @click="deleteRow(scope.$index)"
          ></el-button>
          <el-button type="text" icon="el-icon-edit" title="Edit" @click="editForm(scope.$index)"></el-button>
        </template>
      </el-table-column>
      <el-table-column prop="stakeholder" label="Stakeholder" min-width="150"></el-table-column>
      <el-table-column prop="categoryname" label="Category" min-width="150"></el-table-column>
      <el-table-column prop="engagementarea" label="Area of Engagement" min-width="150"></el-table-column>
    </el-table>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import planStore from "@/store/modules/plan";

@Component
export default class StakeholderList extends Vue {
  get dataList() {
    return planStore.PlanStakeholder;
  }

  editForm(i: number) {
    this.$emit("editPlanStakeholder", i);
  }

  deleteRow(index: number) {
    // this.dataList.splice(index, 1);
    // console.log("Delete in backend");

    const stakeholderName = this.dataList[index].stakeholder;
    this.$confirm(
      "This will permanently delete the stakeholder '" +
        stakeholderName +
        "'. Continue?",
      "Warning",
      {
        confirmButtonText: "Delete",
        confirmButtonClass: "el-button--danger",
        cancelButtonText: "Cancel",
        showClose: false,
        type: "warning"
      }
    )
      .then(async () => {
        if (this.dataList[index].id || this.dataList[index].id !== 0) {
          await planStore.deleteStakeholder(this.dataList[index].id);
        }
        this.dataList.splice(index, 1);
        this.$snotify.success("Deleted Successfully");
      })
      .catch(() => {
        // this.$message({
        //   type: "info",
        //   message: "Delete canceled"
        // });
      });
  }
}
</script>
