<template>
  <div>
    <header>
      <h2>
        Watershed Management Planning System
        <sub style="font-size:.5em;color:red;">beta</sub>
      </h2>
      <h4>Building Climate Resilience of Watershed in Mountain Eco-Regions (BCRWME)</h4>
    </header>
    <el-container>
      <div class="landingWrapper">
        <el-row :gutter="50">
          <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
            <h3>Introduction and Instructions</h3>
            <div style="text-align: justify">
              The goal of this module is to introduce a flexible framework for sub-watershed planning and point out key factors that help make planning successful.
              Local planning processes generally address problems or may seek to protect or improve quality of life. Watershed planning is no different. Some watershed planning groups convene to address chronic problems like degrading livestock and grazing land, while others seek to address acute problems like contaminated mine drainage or heavy erosion along streambanks. Other planning efforts may bring together citizen groups, local agencies and states to work together on plans for community and environmental improvements. The degree of success achieved in watershed planning often depends on having people that can devote substantial time to the effort.
            </div>
            <br />
            <h3>10 Steps to Sub-Watershed Planning</h3>
            <div
              style="text-align: justify"
            >These are the general steps you would take to improve management of a watershed for any number of purposes (Figure in right). Your goals could be flood protection, restoring wetlands and other critical habitats, or managing stormwater.</div>
            <ul>
              <li>Preliminary Survey</li>
              <li>
                Detail Survey and Assessment
                <odkInstructions :header="false" style="padding-left:20px" />
              </li>
              <li>Planning, Monitoring and Reporting</li>
              <!-- <li>Initial Plan</li>
              <li>
                Detail Plan
                <odkInstructions :header="false" style="padding-left:20px" />
              </li>
              <li>Reporting and Monitoring</li>-->
            </ul>
          </el-col>
          <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
            <img
              class="image-responsive"
              src="@/assets/Pyramid.jpg"
              style="display: block; margin: auto;"
            />
            <router-link to="/plan/list">
              <el-button type="primary">Start Plan</el-button>
            </router-link>
          </el-col>
        </el-row>
      </div>
    </el-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Button } from "element-ui";
import odkInstructions from "@/views/Plan/Planlayout/components/odkInstructions.vue";

@Component({
  components: {
    Button,
    odkInstructions
  }
})
export default class Landingscreen extends Vue {}
</script>

<style lang="sass" scoped>
@import './stylesheets/sass/mediaqueries'

h4
  font-weight: 400
  padding-top: 10px

p
  font-size: 15px

.landingWrapper
  max-width: 1300px
  margin: 0 auto
  display: flex
  align-items: center
  +smallDesktop
    max-width: 800px;    

  ul li
    font-size: 13px
    font-weight: bold
    list-style: disc
    list-style-position: inside

  h3
    padding-bottom: 20px

header
  text-align: center
  padding: 50px 0px

.landingScreen
  max-width: 660px
  
  img
    width: 100%

button
  margin-top: 30px
  width: 100%
</style>
