<template>
  <div class="max-height">
    <Innerrouting :activeView="10" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <PlanHeader />
          <div class="flex spacebetween padBottom-20">
            <h3>Activity List</h3>
            <!-- ({{planName}}) -->
          </div>
          <el-table
            :data="dataList"
            style="width: 100%"
            @cell-mouse-enter="highlightProblem"
            @cell-mouse-leave="unhighlightProblem"
          >
            <el-table-column prop="selected" label="Action" width="70" fixed="left">
              <template slot-scope="scope">
                <el-button type="text" @click="ActivityProfile(scope.row.id, scope.row.activityid)">
                  <el-tooltip class="item" effect="dark" content="Activity Profile" placement="top">
                    <i class="el-icon-news"></i>
                  </el-tooltip>
                </el-button>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="Problem Name" width="200"></el-table-column>
            <el-table-column prop="programname" label="Program/Issue" width="250"></el-table-column>
            <el-table-column prop="activityname" label="Activity" width="250"></el-table-column>
            <!-- <el-table-column prop="problemserialdetail" label="Problem Code" min-width="150">
              <template slot-scope="scope">
                <strong>{{scope.row.problemserialdetail}}</strong>
              </template>
            </el-table-column>-->
            <el-table-column prop="problemtype" label="Problem Type" width="130"></el-table-column>
            <el-table-column prop="severity" label="Severity" width="100"></el-table-column>
          </el-table>
        </div>
      </div>
      <div class="absolute-block mask-scroll"></div>
    </div>
    <div class="gutter-sd text-right">
      <!-- <el-button type="primary" :disabled="dataList.length<2" @click="next">Next</el-button> -->
      <el-button type="primary" @click="goBack" icon="el-icon-arrow-left">Back</el-button>

      <el-button type="primary" @click="overview(planid)">
        Evaluation
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { ProblemModel } from "@/store/models/Problem/Problem";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";
import { Button } from "element-ui";
import mapStore from "@/store/modules/map";
import commonStore from "@/store/modules/common";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Button,
    Innerrouting,
    PlanHeader
  }
})
export default class ProblemList extends Vue {
  planid = 0;
  // dataList: ProblemModel[] = [];

  get planName() {
    return planStore.watershedPlan.name;
  }

  get dataList() {
    return problemStore.SelectedProblemList;
  }

  highlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem(row.map);
  }

  unhighlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem("");
  }

  async created() {
    commonStore.setPlanPercent(30);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      await planStore.getPlanByPlanId(this.planid);
      await problemStore.getSelectedProblemsByPlanId(this.planid);
      // Draws selected problem in map
      await mapStore.focusSubWatershed("?planid=" + this.planid);
      await mapStore.addProblem(problemStore.SelectedProblemList);
    }
  }

  mounted() {
    if (this.$route.query.previous) {
      let previous = this.$route.query.previous;
      let DetailPrevious = "";
      if (previous == "planlist") {
        DetailPrevious = "/Plan/List";
        commonStore.setBeforeActivityList(DetailPrevious);
      } else if (previous == "report") {
        DetailPrevious = "/Reporting/Report?planid=" + this.planid;
        commonStore.setBeforeActivityList(DetailPrevious);
      }
    }
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  ActivityProfile(problemId: number, activityId: number) {
    mapStore.highlightProblem("");
    this.$router.push(
      "/Reporting/ActivityProfile?planid=" +
        this.planid +
        "&problemid=" +
        problemId +
        "&activityid=" +
        activityId
    );
  }

  goBack() {
    this.$router.push(commonStore.beforeActivityList);
  }

  overview(planid: number) {
    this.$router.push("/Reporting/Evaluation?planid=" + planid);
  }

  async goto(link: any) {
    this.$router.push(link);
  }
}
</script>

<style lang="sass" scoped>
i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 15px;
</style>
