<template>
  <div class="max-height">
    <Innerrouting :activeView="10" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <div class="flex spacebetween padBottom-20">
            <div>
              <h3>Activity Profile</h3>
            </div>
          </div>
          <div>
            <div>
              <el-row :gutter="10">
                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">
                      Name of Activity :
                      <strong>{{activityprofile.activityname}}</strong>
                    </span>
                    <!--                      <el-input placeholder="Please Name" clearable></el-input>-->
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Budget Responsible Index</span>
                    <el-input
                      name="Budget Responsible Index"
                      type="number"
                      v-model="activityprofile.budget"
                      placeholder="Budget"
                      clearable
                      v-validate="'required'"
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Budget Responsible Index')"
                    >{{errors.first('Budget Responsible Index')}}</small>
                  </div>
                </el-col>

                <!--                <el-col :xs="24" class="margin-btm">-->
                <!--                    <h4>Location</h4>-->
                <!--                </el-col>-->
                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Location</span>
                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">
                          Palika :
                          <strong>{{activityprofile.vdc}}</strong>
                        </span>
                        <!--                              <el-input placeholder="VDC" clearable></el-input>-->
                      </div>
                    </el-col>

                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">
                          Ward :
                          <strong>{{activityprofile.ward}}</strong>
                        </span>
                        <!--                              <el-input placeholder="Ward" clearable></el-input>-->
                      </div>
                    </el-col>

                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">
                          Settlement :
                          <strong>{{activityprofile.settlement}}</strong>
                        </span>
                        <!--                              <el-input placeholder="Settlement" clearable></el-input>-->
                      </div>
                    </el-col>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Problem Background :</span>
                    <el-input
                      name="Problem Background"
                      type="textarea"
                      v-model="activityprofile.problembackground"
                      placeholder="Problem Background"
                      clearable
                      v-validate="'required'"
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Problem Background')"
                    >{{errors.first('Problem Background')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Cost Estimated</span>
                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">
                          Total :
                          <strong>{{activityprofile.estimatedcost}}</strong>
                        </span>
                        <!--                              <el-input placeholder="Total" clearable></el-input>-->
                      </div>
                    </el-col>

                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">
                          DSCO :
                          <strong>{{dscocost}}</strong>
                        </span>
                        <!--                              <el-input placeholder="DSCO" clearable></el-input>-->
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">
                          User :
                          <strong>{{activityprofile.usercost}}</strong>
                        </span>
                        <!--                              <el-input placeholder="User" clearable></el-input>-->
                      </div>
                    </el-col>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Actual Expenditure</span>
                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Total</span>
                        <span class="demo-input-label">
                          <strong>{{totalexpenditure}}</strong>
                        </span>
                        <!-- <el-input
                          type="number"
                          v-model="activityprofile.actualexpendituretotal"
                          placeholder="Total"
                          clearable
                          disabled
                        ></el-input>-->
                      </div>
                    </el-col>

                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">DSCO</span>
                        <el-input
                          name="Actual DSCO expenditure"
                          type="number"
                          v-model="activityprofile.actualexpendituredsco"
                          placeholder="DSCO"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Actual DSCO expenditure')"
                        >{{errors.first('Actual DSCO expenditure')}}</small>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="8">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">User</span>
                        <el-input
                          name="Actual user expenditure"
                          type="number"
                          v-model="activityprofile.actualexpenditureuser"
                          placeholder="User"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Actual user expenditure')"
                        >{{errors.first('Actual user expenditure')}}</small>
                      </div>
                    </el-col>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">
                      Objectives :
                      <ol>
                        <li v-for="(objective, index) in activityprofile.objectives" :key="index">
                          <strong>{{objective}}</strong>
                        </li>
                      </ol>
                    </span>
                    <!--                      <el-input type="textarea" placeholder="Objectives" clearable></el-input>-->
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Conservation Measure/ Technique applied :</span>
                    <el-input
                      name="Conservation Measure"
                      type="textarea"
                      v-model="activityprofile.conservationmeasure"
                      placeholder="Conservation Measure"
                      clearable
                      v-validate="'required'"
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Conservation Measure')"
                    >{{errors.first('Conservation Measure')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">
                      Implementation process :
                      <ol>
                        <li
                          v-for="(scopeofactivity, index) in activityprofile.scopeofactivity"
                          :key="index"
                        >
                          <strong>{{scopeofactivity}}</strong>
                        </li>
                      </ol>
                    </span>
                    <!--                      <el-input type="textarea" placeholder="Objectives" clearable></el-input>-->
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Gender/ social consideration :</span>
                    <el-input
                      name="Gender Consideration"
                      type="textarea"
                      v-model="activityprofile.genderconsideration"
                      placeholder="Gender/ social consideration"
                      clearable
                      v-validate="'required'"
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Gender Consideration')"
                    >{{errors.first('Gender Consideration')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Effects :</span>
                    <el-input
                      name="Effects"
                      type="textarea"
                      v-model="activityprofile.effects"
                      placeholder="Effects"
                      clearable
                      v-validate="'required'"
                    ></el-input>
                    <small class="error" v-if="errors.has('Effects')">{{errors.first('Effects')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Benifited Household</span>
                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Total</span>
                        <span class="demo-input-label">
                          <strong>{{totalbenifitedhousehold}}</strong>
                        </span>
                        <!-- <el-input
                          type="number"
                          v-model="activityprofile.benefitedhouseholdtotal"
                          placeholder="Total"
                          clearable
                        ></el-input>-->
                      </div>
                    </el-col>

                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Dalit</span>
                        <el-input
                          name="Benefitted Household Dalit"
                          type="number"
                          v-model="activityprofile.benefitedhouseholddalit"
                          placeholder="Dalit"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Benefitted Household Dalit')"
                        >{{errors.first('Benefitted Household Dalit')}}</small>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Janjati</span>
                        <el-input
                          name="Benifited Household Janjati"
                          type="number"
                          v-model="activityprofile.benefitedhouseholdjanjati"
                          placeholder="Janjati"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Benifited Household Janjati')"
                        >{{errors.first('Benifited Household Janjati')}}</small>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Others</span>
                        <el-input
                          name="Benifited Household Others"
                          type="number"
                          v-model="activityprofile.benefitedhouseholdothers"
                          placeholder="Others"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Benifited Household Others')"
                        >{{errors.first('Benifited Household Others')}}</small>
                      </div>
                    </el-col>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Employment Generated</span>
                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Total</span>
                        <span class="demo-input-label">
                          <strong>{{totalemploymentgenerated}}</strong>
                        </span>
                        <!-- <el-input
                          type="number"
                          v-model="activityprofile.employmentgeneratedtotal"
                          placeholder="Total"
                          clearable
                        ></el-input>-->
                      </div>
                    </el-col>

                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Dalit</span>
                        <el-input
                          name="Employment Generated Dalit"
                          type="number"
                          v-model="activityprofile.employmentgenerateddalit"
                          placeholder="Dalit"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Employment Generated Dalit')"
                        >{{errors.first('Employment Generated Dalit')}}</small>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Janjati</span>
                        <el-input
                          name="Employment Generated Janjati"
                          type="number"
                          v-model="activityprofile.employmentgeneratedjanjati"
                          placeholder="Janjati"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Employment Generated Janjati')"
                        >{{errors.first('Employment Generated Janjati')}}</small>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="6">
                      <div class="gapBelow-20">
                        <span class="demo-input-label">Others</span>
                        <el-input
                          name="Employment Generated Others"
                          type="number"
                          v-model="activityprofile.employmentgeneratedothers"
                          placeholder="Others"
                          clearable
                          v-validate="'required'"
                        ></el-input>
                        <small
                          class="error"
                          v-if="errors.has('Employment Generated Others')"
                        >{{errors.first('Employment Generated Others')}}</small>
                      </div>
                    </el-col>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="8">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Length</span>
                    <el-input
                      name="Length"
                      type="number"
                      placeholder="Length"
                      v-model="activityprofile.length"
                      clearable
                    ></el-input>
                    <small class="error" v-if="errors.has('Length')">{{errors.first('Length')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="8">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Area</span>
                    <el-input
                      name="Area"
                      type="number"
                      placeholder="Area"
                      v-model="activityprofile.area"
                      clearable
                    ></el-input>
                    <small class="error" v-if="errors.has('Area')">{{errors.first('Area')}}</small>
                  </div>
                </el-col>
                <el-col :xs="24" :sm="8">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Number</span>
                    <el-input
                      name="Number"
                      type="number"
                      placeholder="Number"
                      v-model="activityprofile.number"
                      clearable
                    ></el-input>
                    <small class="error" v-if="errors.has('Number')">{{errors.first('Number')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Problem/ obstacles faced</span>
                    <el-input
                      name="Problem Faced"
                      type="textarea"
                      v-model="activityprofile.problemfaced"
                      placeholder="Problem/ obstacles faced"
                      clearable
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Problem Faced')"
                    >{{errors.first('Problem Faced')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Maintainance / Sustainability</span>
                    <el-input
                      name="Maintenance"
                      type="textarea"
                      v-model="activityprofile.maintenance"
                      placeholder="Maintainance / Sustainability"
                      clearable
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Maintenance')"
                    >{{errors.first('Maintenance')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Lesson Learned</span>
                    <el-input
                      name="Lesson Learned"
                      type="textarea"
                      v-model="activityprofile.lesson"
                      placeholder="Lesson Learned"
                      clearable
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Lesson Learned')"
                    >{{errors.first('Lesson Learned')}}</small>
                  </div>
                </el-col>

                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    <span class="demo-input-label">Other Detail</span>
                    <el-input
                      name="Other Detail"
                      type="textarea"
                      v-model="activityprofile.otherdetail"
                      placeholder="Other Detail"
                      clearable
                    ></el-input>
                    <small
                      class="error"
                      v-if="errors.has('Other Detail')"
                    >{{errors.first('Other Detail')}}</small>
                  </div>
                </el-col>
                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    Before:
                    <UploadElement
                      :fileList="fileBeforeList"
                      :file="fileBefore"
                      @deleteFile="handleAfterRemove"
                    />
                  </div>
                </el-col>
                <el-col :xs="24" :sm="24">
                  <div class="gapBelow-20">
                    After:
                    <UploadElement
                      :fileList="fileAfterList"
                      :file="fileAfter"
                      @deleteFile="handleAfterRemove"
                    />
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/Reporting/ActivityList?planid=' + planid">
        <el-button class="marRight-10" type="primary" icon="el-icon-arrow-left">Back</el-button>
      </router-link>

      <el-button type="primary" @click="submitActivity()">Save</el-button>
      <el-button
        v-if="activityprofile.document"
        type="primary"
        @click="downloadReport()"
      >Download Report</el-button>

      <!-- <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>-->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import UploadElement from "@/components/SubComponents/UploadElement.vue";
import overviewStore from "@/store/modules/overview";
import { Profile } from "@/store/models/overview";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: { UploadElement, Innerrouting }
})
export default class ActivityProfile extends Vue {
  planid = 0;
  scopeid = 0;
  problemid = 0;
  activityid = 0;
  activityprofile: Profile = {} as Profile;
  fileBeforeList: any[] = [];
  fileBefore: File[] = [] as File[];
  fileAfterList: any[] = [];
  fileAfter: File[] = [] as File[];

  handleAfterRemove(id: number) {
    overviewStore.deleteActivityProfilePicture(id);
  }

  get dscocost() {
    let sum =
      overviewStore.ActivityProfile.estimatedcost -
      overviewStore.ActivityProfile.usercost;
    if (sum > 0) {
      return sum;
    }
    return 0;
  }

  NumberOrZero(value: any) {
    value = Number(value);
    if (isNaN(value)) {
      return 0;
    }
    return value;
  }

  get totalbenifitedhousehold() {
    overviewStore.ActivityProfile.benefitedhouseholdtotal =
      this.NumberOrZero(overviewStore.ActivityProfile.benefitedhouseholddalit) +
      this.NumberOrZero(
        overviewStore.ActivityProfile.benefitedhouseholdothers
      ) +
      this.NumberOrZero(
        overviewStore.ActivityProfile.benefitedhouseholdjanjati
      );
    return overviewStore.ActivityProfile.benefitedhouseholdtotal;
  }

  get totalexpenditure() {
    overviewStore.ActivityProfile.actualexpendituretotal =
      this.NumberOrZero(overviewStore.ActivityProfile.actualexpendituredsco) +
      this.NumberOrZero(overviewStore.ActivityProfile.actualexpenditureuser);
    return overviewStore.ActivityProfile.actualexpendituretotal;
  }

  get totalemploymentgenerated() {
    overviewStore.ActivityProfile.employmentgeneratedtotal =
      this.NumberOrZero(
        overviewStore.ActivityProfile.employmentgenerateddalit
      ) +
      this.NumberOrZero(
        overviewStore.ActivityProfile.employmentgeneratedjanjati
      ) +
      this.NumberOrZero(
        overviewStore.ActivityProfile.employmentgeneratedothers
      );
    return overviewStore.ActivityProfile.employmentgeneratedtotal;
  }

  async submitBeforeFiles(id: number) {
    for (const file of this.fileBefore) {
      let data = new FormData();
      data.append("file", file);
      data.append("category", "before");
      data.append("picture", file);
      data.append("activityprofileid", String(id));
      await overviewStore.saveActivityProfilePicture(data);
    }
    this.fileBeforeList = [];
    this.fileBefore = [] as File[];
    if (overviewStore.ActivityProfile) {
      this.activityprofile = overviewStore.ActivityProfile;
      if (this.activityprofile.beforepictures) {
        this.fileBeforeList = this.activityprofile.beforepictures;
      }
    }
  }

  async submitAfterFiles(id: number) {
    for (const file of this.fileAfter) {
      let data = new FormData();
      data.append("picture", file);
      data.append("category", "after");
      data.append("activityprofileid", String(id));
      await overviewStore.saveActivityProfilePicture(data);
    }
    this.fileAfterList = [];
    this.fileAfter = [] as File[];
    if (overviewStore.ActivityProfile) {
      this.activityprofile = overviewStore.ActivityProfile;
      if (this.activityprofile.afterpictures) {
        this.fileAfterList = this.activityprofile.afterpictures;
      }
    }
  }

  async submitActivity() {
    let isvalid = await this.$validator.validateAll();
    if (isvalid) {
      this.activityprofile.planid = this.planid;
      this.activityprofile.problemid = this.problemid;
      this.activityprofile.activityid = this.activityid;
      await overviewStore.saveActivityProfile(this.activityprofile);
      if (overviewStore.ActivityProfile) {
        this.activityprofile = overviewStore.ActivityProfile;
        await this.submitAfterFiles(this.activityprofile.id);
        await this.submitBeforeFiles(this.activityprofile.id);
      }
      this.$snotify.success("Saved Successfully");
    } else {
      // console.log("invalid");
      this.$snotify.error("Invalid form");
    }
    return isvalid;
  }

  async downloadReport() {
    let isValid = await this.submitActivity();
    if (isValid && overviewStore.ActivityProfile) {
      this.activityprofile = overviewStore.ActivityProfile;

      if (this.activityprofile.document !== undefined) {
        var link = document.createElement("a");
        link.setAttribute("href", this.activityprofile.document);
        link.click();
      }
    }
  }

  async loadActivity(planId: number, problemid: number, activityid: number) {
    await overviewStore.getActivityProfile({
      planid: planId,
      problemid: problemid,
      activityid: activityid
    });
    if (overviewStore.ActivityProfile) {
      this.activityprofile = overviewStore.ActivityProfile;
      this.fileAfterList = this.activityprofile.afterpictures;
      this.fileBeforeList = this.activityprofile.beforepictures;
      // console.log(this.fileAfterList);
    }
  }

  created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      this.problemid = Number(this.$route.query.problemid);
      this.activityid = Number(this.$route.query.activityid);
      this.loadActivity(this.planid, this.problemid, this.activityid);
    }
  }

  async goto(link: any) {
    let isValid = await this.submitActivity();
    if (isValid) {
      this.$router.push(link);
    }
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>

<style scoped>
</style>