<template>
  <div class="max-height">
    <Innerrouting :activeView="10" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <div class="flex spacebetween padBottom-20">
            <div>
              <h3>Activity Monitoring & Evaluation Report</h3>
            </div>
          </div>
          <div>
            <div>
              <strong>Sub-watershed:</strong>
              {{plan.subwatershedname}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <strong>Project Year:&nbsp;</strong>
              <!-- {{plan.fromyear}} - {{plan.toyear}} -->
              <el-select v-model="planyear" style="width: 70px;">
                <el-option v-for="x in plan.total_plan_year" :key="x" :value="x"></el-option>
              </el-select>
            </div>
            <el-table :data="filteredData">
              <!-- <el-table :data="dataList"> -->

              <el-table-column
                prop="scopeofactivitydetail.scopeofactivityname"
                label="Scope Of Activities"
                width="290"
              ></el-table-column>

              <el-table-column
                prop="scopeofactivitydetail.implementationyear"
                label="Target Year"
                width="95"
              ></el-table-column>

              <el-table-column label="Physical Target">
                <el-table-column prop="scopeofactivitydetail.quantity" label="Qty." width="90"></el-table-column>
                <el-table-column prop="scopeofactivitydetail.unit" label="Unit" width="80"></el-table-column>
              </el-table-column>

              <!--               <el-table-column label="Completion Status" width="135">-->
              <!--                <template slot-scope="scope">-->
              <!--                  <el-input v-model="scope.row.completionstatus"></el-input>-->
              <!--                </template>-->
              <!--                </el-table-column>-->

              <el-table-column label="Completion Status" width="160">
                <template slot-scope="scope" class="yes">
                  <!--                  <el-checkbox name="completionstatus" v-model="scope.row.completionstatus">-->
                  <!--                  </el-checkbox>-->
                  <el-select
                    v-model="scope.row.completionstatus"
                    placeholder="Select"
                    class="font-select"
                    @change="updateCompletion($event, scope.row.scopeofactivitydetail.id, scope.row.scopeofactivitydetail.problemid)"
                  >
                    <el-option value="Not Started" class="font-select"></el-option>
                    <el-option value="Ongoing" class="font-select"></el-option>
                    <el-option value="Completed" class="font-select"></el-option>
                  </el-select>
                </template>
              </el-table-column>

              <el-table-column label="Progress %" width="125">
                <template slot-scope="scope">
                  <el-input type="number" v-model="scope.row.progress"></el-input>
                </template>
              </el-table-column>

              <el-table-column label="Remarks" width="198">
                <template slot-scope="scope">
                  <el-input type="textarea" v-model="scope.row.remarks"></el-input>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/Reporting/ActivityList?planid='+$route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>

      <el-button
        class="el-icon-download"
        type="primary"
        @click="downloadCSV({ filename: 'Monitoring And Evaluation Report for Year ' + String(planyear)+'.csv' })"
        :title="'Download Report for year ' + planyear"
      >
        Download
        <!-- Report for year {{planyear}} -->
      </el-button>
      <el-button type="primary" @click="save()">Save</el-button>
      <!-- <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>-->
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import overviewStore from "@/store/modules/overview";
import planStore from "@/store/modules/plan";
import commonStore from "@/store/modules/common";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Innerrouting
  }
})
export default class WorkPlan extends Vue {
  planid = 0;
  planyear = 1;

  get plan() {
    return planStore.watershedPlan;
  }

  get dataList() {
    return overviewStore.Evaluation;
  }

  get filteredData() {
    return this.dataList.filter(x => x.year == this.planyear);
  }

  async save() {
    let saveData: any[] = [] as any;
    for (const ev of overviewStore.Evaluation) {
      let temp = {
        id: ev.id,
        planid: this.planid,
        scopeofactivitydetailid: ev.scopeofactivitydetail.id,
        completionstatus: ev.completionstatus,
        progress: ev.progress,
        remarks: ev.remarks,
        year: ev.year
      };
      saveData.push(temp);
    }
    await overviewStore.saveEvaluation(saveData);
    this.$snotify.success("Saved Successfully");
  }

  async saveAndContinue() {
    await this.save();
    alert("Router Push Next");
  }

  created() {
    commonStore.setPlanPercent(80);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
    }
    planStore.getPlanByPlanId(this.planid);
    overviewStore.getWorkPlan(this.planid);
    overviewStore.getEvaluation(this.planid);
  }

  async goto(link: any) {
    this.save();
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  convertArrayOfObjectsToCSV(args: any) {
    let result: any;
    let ctr: any;
    let keys: any;
    let columnDelimiter: any;
    let lineDelimiter: any;
    let data: any;

    data = args.data || null;
    if (data == null || !data.length) {
      return null;
    }

    columnDelimiter = args.columnDelimiter || ",";
    lineDelimiter = args.lineDelimiter || "\n";

    keys = Object.keys(data[0]).sort(function(a, b) {
      return a.length - b.length;
    });
    let keys_name: any = {
      scopeofactivityname: "Scope Of Activities",
      implementationyear: "Target Year",
      quantity: "Quantity",
      unit: "Unit",
      completionstatus: "Completion Status",
      progress: "Progress",
      remarks: "Remarks"
    };

    let header = [];
    let manual_keys: any[] = [];
    for (let key of Object.keys(keys_name)) {
      if (keys.includes(key)) {
        header.push(keys_name[key]);
        manual_keys.push(key);
      }
    }
    // for (let key of keys) {
    //   if (keys_name[key] !== undefined) {
    //     header.push(keys_name[key]);
    //   } else {
    //     header.push(key);
    //   }
    // }

    result = "";
    result += header.join(columnDelimiter);
    result += lineDelimiter;

    data.forEach(function(item: any) {
      ctr = 0;
      manual_keys.forEach(function(key: any) {
        if (ctr > 0) result += columnDelimiter;
        if (item[key] !== undefined && item[key] !== null) {
          result +=
            '"' +
            String(item[key]).replace(new RegExp("\r?\n", "g"), " ") +
            '"';
        } else {
          result += '""';
        }
        ctr++;
      });
      result += lineDelimiter;
    });

    return result;
  }

  async downloadCSV(args: { filename: string }) {
    await this.save();
    let filteredProblem = [];
    let slicedProblemData: any[] = this.filteredData.slice(0);

    for (let slide of slicedProblemData) {
      for (let key of Object.entries(slide.scopeofactivitydetail)) {
        slide[key[0]] = key[1];
      }
    }

    for (var i = 0; i < slicedProblemData.length; i++) {
      const {
        id,
        activityid,
        problemid,
        planid,
        year,
        cost,
        scopeofactivityid,
        scopeofactivitydetailid,
        scopeofactivitydetail,
        ...result
      } = slicedProblemData[i];

      filteredProblem.push(result);
    }

    var csv = this.convertArrayOfObjectsToCSV({
      data: filteredProblem
    });
    if (csv == null) return;

    var filename = args.filename || "export.csv";

    if (!csv.match(/^data:text\/csv/i)) {
      csv = "data:text/csv;charset=utf-8," + csv;
    }
    var data = encodeURI(csv);

    var link = document.createElement("a");
    link.setAttribute("href", data);
    link.setAttribute("download", filename);
    link.click();
  }

  updateCompletion(event: any, soadId: number, problemId: number) {
    let data = this.dataList.filter(
      x =>
        x.scopeofactivitydetail.id == soadId &&
        x.scopeofactivitydetail.problemid == problemId &&
        x.year > this.planyear
    );
    let currentData = this.dataList.filter(
      x =>
        x.scopeofactivitydetail.id == soadId &&
        x.scopeofactivitydetail.problemid == problemId &&
        x.year == this.planyear
    )[0];
    if (event == "Completed") {
      for (let d of data) {
        d.completionstatus = currentData.completionstatus;
        d.progress = currentData.progress;
        d.remarks = currentData.remarks;
      }
    } else {
      for (let d of data) {
        d.completionstatus = "";
        d.progress = currentData.progress;
      }
    }
  }
}
</script>
<style lang="scss">
.font-select {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.font-select .el-input__inner {
  font-size: 12px;
}
</style>

