<template>
  <div class="max-height">
    <Innerrouting :activeView="9" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <div class="flex spacebetween">
            <div>
              <h3>Plan Report</h3>
            </div>
            <div>
              <el-button
                type="text"
                @click="genDoc(true)"
                icon="el-icon-refresh"
              >Regenerate Document</el-button>
            </div>
          </div>
          <PlanHeader />

          <div v-if="isGeneratingDocs" style="width: 100%; text-align: center">
            <h3>{{doc}}</h3>
            <h5>It might take some minutes.</h5>
            <br />
          </div>
          <div
            v-loading="isGeneratingDocs"
            v-if="isGeneratingDocs"
            style="width: 50%; margin: auto;"
          >
            <br />
          </div>
          <div v-if="!isGeneratingDocs" style="width: 100%; text-align: center">
            <el-row :gutter="30">
              <el-col :md="12">
                <div
                  class="marBottom-10"
                  v-for="documentLink in documentLinkFirst"
                  :key="documentLink.name"
                >
                  <a :href="documentLink.link" target="_blank">
                    <el-button class="fullWidth" :disabled="isGeneratingDocs" type="primary">
                      <i class="el-icon-download" />
                      {{documentLink.name}}
                    </el-button>
                  </a>
                </div>
              </el-col>
              <el-col :md="12">
                <div
                  class="marBottom-10"
                  v-for="documentLink in documentLinkSecond"
                  :key="documentLink.name"
                >
                  <a :href="documentLink.link" target="_blank">
                    <el-button class="fullWidth" :disabled="isGeneratingDocs" type="primary">
                      <i class="el-icon-download" />
                      {{documentLink.name}}
                    </el-button>
                  </a>
                </div>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <el-button class="marRight-10" type="primary" @click="goBack" icon="el-icon-arrow-left">Back</el-button>
      <router-link :to="'/Reporting/ActivityList?planid='+$route.query.planid + '&previous=report'">
        <el-button type="primary">
          Next
          <i class="el-icon-arrow-right"></i>
        </el-button>
      </router-link>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import PlanHeader from "@/components/SubComponents/PlanHeader.vue";

import overviewStore from "@/store/modules/overview";
import planStore from "@/store/modules/plan";
import commonStore from "@/store/modules/common";
import mapStore from "@/store/modules/map";
import problemStore from "@/store/modules/problem";

import Tile from "ol/layer/Tile";

import { Action } from "@/store/actionType";
import { eventHub } from "@/utils/eventHub";

export interface docInterface {
  id: number;
  zipped: string;
  file: string;
  location_map: string;
  sw_detail_map: string;
  problem_map: string;
  climate_zone_map: string;
  topography_map: string;
  landuse_map: string;
  slope_map: string;
  landslide_map: string;
  flood_map: string;
  soil_erosion_map: string;
  plan: number;
  map_error?: string;
}

@Component({
  components: {
    Innerrouting,
    PlanHeader
  }
})
export default class WorkPlan extends Vue {
  planid = 0;
  fileLink = "";
  doc = "Generating Document! Please Wait!!!";
  document: docInterface = {} as any;
  documentLinks: any[] = [];
  documentLinkFirst: any[] = [];
  documentLinkSecond: any[] = [];
  half_length = 0;
  pictureTaken: boolean = false;

  get isGeneratingDocs() {
    return overviewStore.isGeneratingDocs;
  }

  get plan() {
    return planStore.watershedPlan;
  }

  getDocumentLinks() {
    this.documentLinks = [];
    if (this.document.file) {
      this.documentLinks.push({
        name: "Document",
        link: this.document.file
      });
    }
    if (this.document.location_map) {
      this.documentLinks.push({
        name: "Location Map",
        link: this.document.location_map
      });
    }
    if (this.document.sw_detail_map) {
      this.documentLinks.push({
        name: "Detail Map",
        link: this.document.sw_detail_map
      });
    }
    if (this.document.problem_map) {
      this.documentLinks.push({
        name: "Problem & Issue Map",
        link: this.document.problem_map
      });
    }
    if (this.document.climate_zone_map) {
      this.documentLinks.push({
        name: "Climate Zone Map",
        link: this.document.climate_zone_map
      });
    }
    if (this.document.topography_map) {
      this.documentLinks.push({
        name: "Topography Map",
        link: this.document.topography_map
      });
    }
    if (this.document.landuse_map) {
      this.documentLinks.push({
        name: "Land Use Map",
        link: this.document.landuse_map
      });
    }
    if (this.document.slope_map) {
      this.documentLinks.push({
        name: "Slope Map",
        link: this.document.slope_map
      });
    }
    if (this.document.landslide_map) {
      this.documentLinks.push({
        name: "Landslide Susceptibility Map",
        link: this.document.landslide_map
      });
    }
    if (this.document.flood_map) {
      this.documentLinks.push({
        name: "Flooding Susceptibility Map",
        link: this.document.flood_map
      });
    }
    if (this.document.soil_erosion_map) {
      this.documentLinks.push({
        name: "Soil Erosion Susceptibility Map",
        link: this.document.soil_erosion_map
      });
    }
    if (this.document.zipped) {
      this.documentLinks.push({
        name: "Download All",
        link: this.document.zipped
      });
    }

    // Split into two arrays
    let half_length = Math.ceil(this.documentLinks.length / 2);
    this.documentLinkFirst = this.documentLinks.slice(0, half_length);
    this.documentLinkSecond = this.documentLinks.slice(
      half_length,
      this.documentLinks.length
    );
  }

  async genDoc(forced: boolean = false) {
    this.doc = "Generating Document! Please Wait!!!";
    let response = (await overviewStore.genDoc({
      planId: this.planid,
      forced: forced
    })) as any;
    this.document = response as docInterface;
    if (this.document.map_error) {
      this.$snotify.error(
        "Some maps may not be re/generated correctly",
        "error"
      );
    }
    // let base = Action.Base.replace("/api", "");
    // this.fileLink = base + response.file;
    this.doc = "";
    this.getDocumentLinks();
  }

  public async switchMap(layer: string) {
    const osm = (await mapStore.getLayer("OSM")) as Tile;
    if (osm) {
      osm.setVisible(false);
    }
    const bing = (await mapStore.getLayer("BingMap")) as Tile;
    if (bing) {
      bing.setVisible(false);
    }
    if (layer != "None") {
      const mapLayer = (await mapStore.getLayer(layer)) as Tile;
      if (mapLayer != null) {
        mapLayer.setVisible(true);
      }
    }
  }

  async hideall() {
    let layers = await mapStore.getMap.getLayers().getArray();
    for (let layer of layers) {
      await mapStore.updateVisibility({
        layerId: layer.get("id"),
        visible: false
      });
    }
  }

  async showLayers(layers: any[]) {
    for (let layer of layers) {
      console.log("showing " + layer);
      await mapStore.updateVisibility({ layerId: layer, visible: true });
    }
    await new Promise(resolve => setTimeout(resolve, 500));
  }

  async hideLayers(layers: any[]) {
    for (let layer of layers) {
      console.log("hiding " + layer);
      await mapStore.updateVisibility({ layerId: layer, visible: false });
    }
    await new Promise(resolve => setTimeout(resolve, 500));
  }

  async takePicture(
    pictureId: string,
    force: boolean = false,
    layers: any[] = [],
    province: boolean = false
  ) {
    let document = this.document as any;
    if (
      force ||
      document[pictureId] == "" ||
      document[pictureId] == null ||
      document[pictureId] == undefined
    ) {
      await commonStore.setIsActive(false);
      await new Promise(resolve => setTimeout(resolve, 500));
      await mapStore.setFullscreenMapSize(true);
      await mapStore.map.updateSize();
      if (province == true) {
        await mapStore.focusProvince(
          "?provinceid=true&planid=" + this.$route.query.planid
        );
      } else {
        let planid = Number(this.$route.query.planid);

        await mapStore.focusSubWatershed("?planid=" + planid);
      }
      await this.showLayers(layers);
      this.$notify({
        title: "Taking Picture!!!",
        message: "Please do not use map",
        type: "warning"
      });
      // await mapStore.exportPng({
      //   planid: Number(this.$route.query.planid),
      //   picture: pictureId
      // });
      this.pictureTaken = true;
      await this.hideLayers(layers);
    }
  }

  async exportPng(force: boolean = false) {
    let planid = Number(this.$route.query.planid);
    let plan = this.$route.query.planid;

    await this.switchMap("None");

    await this.hideall();
    await this.showLayers(["subwatershed", "state"]);

    // await mapStore.setFullscreenMapSize(true);
    // await mapStore.map.updateSize();

    // Map Location
    // await mapStore.focusProvince(
    //   "?provinceid=true&planid=" + this.$route.query.planid
    // );
    await this.takePicture("location_map", force, [], true);

    // await mapStore.focusSubWatershed("?planid=" + planid);

    // Detail Map
    await problemStore.getSelectedProblemsByPlanId(planid);
    await mapStore.addProblem(problemStore.SelectedProblemList);
    await this.takePicture("sw_detail_map", force, ["draw", "problem"]);

    // Elevation Map
    await this.takePicture("elevation_map", force, ["dem"]);

    // Slop Map
    await this.takePicture("slope_map", force, ["slope"]);

    // River System Map
    await this.takePicture("river_map", force, ["river"]);

    // Landuse Map
    await this.takePicture("landuse_map", force, ["lusetopo"]);

    // Landform/Landcover Map
    await this.takePicture("landform_map", force, ["landcover2010"]);
    await this.takePicture("gwr_map", force, ["gwpotential"]);

    await mapStore.setFullscreenMapSize(false);
    await mapStore.map.updateSize();
    mapStore.focusSubWatershed("?planid=" + planid);

    this.doc = "";
    if (this.pictureTaken || force) {
      this.genDoc();
    }
  }

  async created() {
    commonStore.setPlanPercent(80);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      planStore.getPlanByPlanId(this.planid);
    }
    // this.document = (await overviewStore.genDoc(this.planid)) as docInterface;
    await this.genDoc();
    // await this.exportPng();
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 100
    });
  }

  mounted() {
    if (this.$route.query.previous) {
      let previous = this.$route.query.previous;
      let PreviousPath = "";
      if (previous == "planlist") {
        PreviousPath = "/Plan/List";
        commonStore.setBeforeReport(PreviousPath);
      } else if (previous == "workplan") {
        PreviousPath = "/Reporting/WorkPlan?planid=" + this.planid;
        commonStore.setBeforeReport(PreviousPath);
      }
    }
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  goBack() {
    this.$router.push(commonStore.beforeReport);
  }

  async goto(link: any) {
    this.$router.push(link);
  }
}
</script>

<style scoped>
.fullWidth {
  width: 100%;
}
</style>