<template>
  <div class="max-height">
    <Innerrouting :activeView="8" v-on:goto="goto" />
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div>
          <div class="flex spacebetween padBottom-20">
            <div>
              <h3>Work Plan Preparation</h3>
            </div>
          </div>
          <div>
            <div>
              <strong>Sub-watershed:</strong>
              {{plan.subwatershedname}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <strong>Project Period:</strong>
              {{plan.fromyear}} - {{plan.toyear}}
            </div>
            <el-table :data="dataList">
              <el-table-column prop="program" label="Program" width="200"></el-table-column>
              <el-table-column prop="activity" label="Activity" width="200"></el-table-column>
              <el-table-column label="Scope Of Activities" width="200">
                <template slot-scope="scope">{{scope.row.scopeOfActivities.scopeofactivityname}}</template>
              </el-table-column>

              <el-table-column label="Estimated Cost(Rs.)" width="150">
                <template slot-scope="scope">{{scope.row.scopeOfActivities.cost}}</template>
              </el-table-column>

              <!-- <el-table-column label="Total Cost(Rs.)" width="100">
                <template slot-scope="scope">{{sum(scope.row.dsco, scope.row.stakeholders)}}</template>
              </el-table-column>-->

              <el-table-column label="Contribution">
                <el-table-column prop="dsco" label="DSCO's Contribution(Rs.)" width="150">
                  <template slot-scope="scope">
                    <!--                    call the diff function two times to get the error value-->
                    <span v-if="diff(scope.row.scopeOfActivities, scope.row.stakeholders)"></span>
                    <p
                      :class="[{ error: scope.row.scopeOfActivities.error}]"
                    >{{diff(scope.row.scopeOfActivities, scope.row.stakeholders)}}</p>
                  </template>
                </el-table-column>
                <el-table-column prop="stakeholders" label="Stakeholder's Contribution" width="450">
                  <template slot-scope="scope">
                    <el-table :data="scope.row.stakeholders">
                      <el-table-column prop="stakeholdername" label="Name"></el-table-column>
                      <el-table-column prop="contributionname" label="Contribution"></el-table-column>
                      <el-table-column prop="contribution" label="Amount (Rs.)">
                        <template slot-scope="scop">
                          <el-input v-model="scop.row.budget"></el-input>
                        </template>
                      </el-table-column>
                    </el-table>
                  </template>
                </el-table-column>
              </el-table-column>

              <el-table-column label="Year" width="80">
                <template slot-scope="scope">{{scope.row.scopeOfActivities.implementationyear}}</template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-sd text-right">
      <router-link :to="'/Detail/Overview?planid='+$route.query.planid">
        <el-button type="primary" class="marRight-10" icon="el-icon-arrow-left">Back</el-button>
      </router-link>
      <el-button type="primary" @click="save()">Save</el-button>
      <el-button type="primary" @click="saveAndContinue()">
        Save & Next
        <i class="el-icon-arrow-right"></i>
      </el-button>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import overviewStore from "@/store/modules/overview";
import planStore from "@/store/modules/plan";
import commonStore from "@/store/modules/common";
import { eventHub } from "@/utils/eventHub";

@Component({
  components: {
    Innerrouting
  }
})
export default class WorkPlan extends Vue {
  planid = 0;
  sum(dsco: any, stakeholders: any) {
    let total = 0;
    dsco = parseFloat(dsco);
    if (!isNaN(dsco)) {
      total += dsco;
    }
    for (const stakeholder of stakeholders) {
      const contrib = parseFloat(stakeholder.budget);
      if (!isNaN(contrib)) {
        total += contrib;
      }
    }
    return total;
  }

  diff(soa: any, stakeholders: any) {
    let stkTotal = 0;
    for (const stakeholder of stakeholders) {
      const contrib = parseFloat(stakeholder.budget);
      if (!isNaN(contrib)) {
        stkTotal += contrib;
      }
    }
    let soa_cost = parseFloat(soa.cost);
    let dsco = soa_cost - stkTotal;
    if (dsco < 0) {
      soa.error = true;
      // console.log(soa);
      let error =
        "sum of stakeholder contribution shouldnot be greater than estimated cost";
      return error;
    } else {
      soa.error = false;
      return dsco;
    }

    // if (isNaN(total)) {
    //   total = 0;
    // } else {
    //   total -= stkTotal;
    //   if (total < 0) {
    //     total = 0;
    //   }
    // }
    // return dsco;
  }

  get plan() {
    return planStore.watershedPlan;
  }

  // get dataList() {
  //   return overviewStore.WorkPlan;
  // }
  dataList: any[] = [];

  async loadWorkPlan() {
    await overviewStore.getWorkPlan(this.planid);
    const res = await overviewStore.WorkPlan;
    // console.log(res);
    this.dataList = res;
  }

  save() {
    let saveData: any[] = [] as any;
    for (const soa of this.dataList) {
      for (const stakeholder of soa.stakeholders) {
        let id = 0;
        if (stakeholder.budgetid) {
          id = stakeholder.budgetid;
        }
        let budget = 0;
        if (stakeholder.budget) {
          budget = stakeholder.budget;
        }
        let temp = {
          id: id,
          planid: this.planid,
          scopeofactivitydetailid: soa.scopeOfActivities.id,
          stakeholderid: stakeholder.id,
          budget: budget
        };
        saveData.push(temp);
      }
    }
    overviewStore.saveWorkPlan(saveData);
    this.$snotify.success("Saved Successfully");
    planStore.updatePlanPercentage({
      planid: this.planid,
      percentCompleted: 90
    });
  }

  saveAndContinue() {
    this.save();
    this.$router.push(
      "/Reporting/Report/?planid=" + this.planid + "&previous=workplan"
    );
  }

  created() {
    commonStore.setPlanPercent(70);
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
    }
    planStore.getPlanByPlanId(this.planid);
    this.loadWorkPlan();
  }

  async goto(link: any) {
    await this.save();
    this.$router.push(link);
  }

  gotoOff() {
    eventHub.$off("goto", this.goto);
  }

  async mounted() {
    eventHub.$on("goto-off", this.gotoOff);
    eventHub.$emit("goto-off");
    eventHub.$on("goto", this.goto);
  }
}
</script>
<style lang="sass">
    .error
        color: red
</style>

