<template>
  <div>
    <el-table :data="dataList" style="width: 100%">
      <el-table-column prop="stakeholdername" label="Stakeholder" min-width="150"></el-table-column>
      <!-- <el-table-column prop="categoryname" label="Category" min-width="150"></el-table-column> -->
      <el-table-column label="Operational" min-width="150">
        <template slot-scope="scope">
          <p v-if="scope.row.operational">YES</p>
          <p v-else>NO</p>
        </template>
      </el-table-column>

      <el-table-column prop="possibleimpact" label="Possible Impact" min-width="150"></el-table-column>
      <el-table-column prop="contributionname" label="Possible Contribution" min-width="150"></el-table-column>
    </el-table>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import problemStore from "@/store/modules/problem";
import detailPlanStore from "@/store/modules/detailPlan";
import { ActivityStakeholderModel } from "@/store/models/DetailPlan/detailPlan";
import problem from "@/store/modules/problem";
import ActivityStakeholder from "../ActivityStakeholder.vue";

@Component
export default class ActivityStakeholderList extends Vue {
  @Prop({ default: 0 })
  planid!: number;

  @Prop({ default: 0 })
  problemid!: number;

  @Prop({ default: 0 })
  activityid!: number;

  dataList: ActivityStakeholderModel[] = [] as ActivityStakeholderModel[];

  async created() {
    this.dataList = await detailPlanStore.loadActivityStakeholderListbyActivityId(
      {
        problemId: this.problemid,
        activityId: this.activityid
      }
    );
  }
}
</script>
