<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div class="relative-block">
          <div v-for="(socioItem,i) in socioEconomics" :key="i">
            <div
              class="padBottom-15 flex-wrap verticleCenter"
              v-if="socioEconomics[i].Data.length > 0"
            >
              <h5 class="title7 title-bold">{{socioItem.Name}}</h5>
              <DynamicTable
                :data="socioEconomics[i].Data"
                :meta="socioEconomics[i].Meta"
                :dataIndex="i"
                :action="false"
              ></DynamicTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";

import detailPlanStore from "@/store/modules/detailPlan";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";

import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta,
  SubWatershedDistrictPalika
} from "@/store/models/plan/watershedPlan";
import DynamicForm from "@/components/Dynamic/DynamicForm.vue";
import DynamicTable from "@/components/Dynamic/DynamicTable.vue";
import common from "@/store/modules/common";
import {
  Activity,
  ActivityVariable
} from "@/store/models/DetailPlan/detailPlan";

@Component({
  components: {
    Button,
    DynamicForm,
    DynamicTable,
    Select,
    Option
  }
})
export default class AdditionalInformationView extends Vue {
  @Prop({ default: 0 })
  planid!: number;

  @Prop({ default: 0 })
  problemId!: number;

  @Prop({ default: 0 })
  activityId!: number;

  subwatershedDistrictPalika: SubWatershedDistrictPalika[] = [];
  socioData: SocioVariable[] = [];
  selectedIndex = -1;
  selectedDataIndex = -1;
  dialogVisible = false;
  socioEconomics: Activity[] = [];
  selectedPalika: { [id: number]: number[] } = {};

  get plan() {
    return planStore.watershedPlan;
  }

  get problem() {
    return problemStore.SelectedProblemList.filter(
      x => x.id === this.problemId
    )[0];
  }

  created() {
    this.loadData(this.planid, this.problemId, this.activityId);
    planStore.getPlanByPlanId(this.planid);
    problemStore.getSelectedProblemsByPlanId(this.planid);
  }

  async loadData(planid: number, problemId: number, activityId: number) {
    //detailPlanStore.getPlanByPlanId(planid);
    this.socioEconomics = await detailPlanStore.getActivityDetailInformation({
      planId: planid,
      problemId: problemId,
      activityId: activityId
    });
  }

  async saveAdditionalInformation() {
    common.showLoading();
    await detailPlanStore.saveAdditionalInformation({
      planid: this.planid,
      problemId: this.problemId,
      activityId: this.activityId,
      socio: this.socioEconomics
    });
    common.hideLoading();
    this.$snotify.success("Saved Successfully");
  }
}
</script>
