<template>
  <div class="overflow max-height">
    <div class="scroll-auto">
      <div v-loading="bioPhysicalLoading">
        <h3>Bio Physical</h3>
        <el-collapse v-model="accordionActiveName" accordion>
          <el-collapse-item
            :title="bioItem.Name"
            :name="i"
            :key="i"
            v-for="(bioItem,i) in bioPhysical"
          >
            <div v-for="(metaItem,j) in bioItem.Meta" :key="j">
              <div v-if="metaItem.data.value !== ''">
                <p v-if="metaItem.defaultvisible">{{metaItem.name}}: {{metaItem.data.value}}</p>
              </div>
            </div>
          </el-collapse-item>
        </el-collapse>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { WatershedPlan, BioPhysical } from "@/store/models/plan/watershedPlan";
import planStore from "@/store/modules/plan";
import DynamicField from "@/components/Dynamic/DynamicField.vue";
import mapStore from "@/store/modules/map";

@Component({
  components: {
    DynamicField
  }
})
export default class bioPhysicalList extends Vue {
  planid: number = 128;
  accordionActiveName = "";
  bioPhysicalLoading: boolean = false;

  get bioPhysical() {
    return planStore.bioPhysical;
  }

  planId = 0;
  plan = {} as WatershedPlan;

  async created() {
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.bioPhysicalLoading = true;
      await planStore.storeBioPhysicalByPlanId(this.planId);
      this.bioPhysicalLoading = false;
    } else {
      //return error page
    }
  }
}
</script>

<style lang="sass">
.el-collapse-item__header
  font-weight: 600!important
</style>