<template>
  <div class="max-height">
    <div class="overflow max-height-ls scroll-between">
      <div class="scroll-auto">
        <div v-loading="detailProblemLoading">
          <div class="flex spacebetween padBottom-20">
            <h3>Selected Problems</h3>
          </div>
          <span v-for="(data, index) in dataList" :key="index">
            <div style="padding-bottom: 30px; width: 99.8%">
              <h4>{{data.name}}</h4>
              <el-tabs v-model="data.activeName">
                <el-tab-pane label="Detail" name="detail">
                  <div>
                    <p>
                      <strong>Problem Code:&nbsp;</strong>
                      <span>{{data.problemserialdetail}}</span>
                    </p>
                  </div>
                  <div>
                    <p>
                      <strong>Problem Name:&nbsp;</strong>
                      <span>{{data.name}}</span>
                    </p>
                  </div>
                  <div>
                    <p>
                      <strong>Problem Type:&nbsp;</strong>
                      <span>{{data.problemtype}}</span>
                    </p>
                  </div>
                  <div>
                    <p>
                      <strong>Program/Issue:&nbsp;</strong>
                      <span>{{data.programname}}</span>
                    </p>
                  </div>
                  <div>
                    <p>
                      <strong>Severity:&nbsp;</strong>
                      <span>{{data.severity}}</span>
                    </p>
                  </div>
                  <div>
                    <p>
                      <strong>Activity:&nbsp;</strong>
                      <span>{{data.activityname}}</span>
                    </p>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="Additional Information" name="second">
                  <additionalInformation
                    :planid="planid"
                    :problemId="data.id"
                    :activityId="data.activityid"
                  />
                </el-tab-pane>
                <el-tab-pane label="Stakeholders" name="third">
                  <activityStakeholderList
                    :planid="planid"
                    :problemid="data.id"
                    :activityid="data.activityid"
                  />
                </el-tab-pane>
                <el-tab-pane label="Scope of Activities" name="fourth">
                  <scopeOfActivityDetailList
                    :planid="planid"
                    :problemid="data.id"
                    :activityid="data.activityid"
                  />
                </el-tab-pane>
              </el-tabs>
              <hr>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { ProblemModel } from "@/store/models/Problem/Problem";
import planStore from "@/store/modules/plan";
import problemStore from "@/store/modules/problem";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";
import { Button } from "element-ui";
import mapStore from "@/store/modules/map";
import problem from "@/store/modules/problem";
import additionalInformation from "@/views/DetailPlan/overviewComponent/additionalInformation.vue";
import activityStakeholderList from "@/views/DetailPlan/overviewComponent/activityStakeholderList.vue";
import scopeOfActivityDetailList from "@/views/DetailPlan/overviewComponent/scopeOfActivityDetailList.vue";

@Component({
  components: {
    additionalInformation,
    activityStakeholderList,
    scopeOfActivityDetailList
  }
})
export default class ProblemList extends Vue {
  planid = 0;
  detailProblemLoading: boolean = false;
  activeName = "detail";

  get planName() {
    return planStore.watershedPlan.name;
  }

  get dataList() {
    let problems: any = problemStore.SelectedProblemList;
    for (let problem of problems) {
      problem["activeName"] = "detail";
    }
    return problems;
  }

  async created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      this.detailProblemLoading = true;
      await problemStore.getSelectedProblemsByPlanId(this.planid);
      this.detailProblemLoading = false;
    }
  }
}
</script>

<style lang="sass" scoped>
button.el-button.el-button--text 
    padding-right: 4px;

i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 15px;
</style>