<template>
  <div class="overflow max-height">
    <div class="scroll-auto">
      <div v-loading="bioPhysicalLoading">
        <h3>District Agriculture Profile</h3>
<!--        <el-collapse v-model="accordionActiveName accordion">-->
          <span
            :title="bioItem.Name"
            :name="i"
            :key="i"
            v-for="(bioItem,i) in bioPhysical"
          >
              {{ bioItem.Name }}
<!--            <div v-for="(metaItem,j) in bioItem.Meta" :key="j">-->
<!--              <div v-if="metaItem.data.value !== ''">-->
<!--                <p v-if="metaItem.defaultvisible">{{metaItem.name}}: {{metaItem.data.value}}</p>-->
<!--              </div>-->
<!--            </div>-->

<!--              <span v-if="bioItem.Id === 10">-->
              <span>
                  <BioPhysicalTable
                    :mainTitle="bioItem.Name"
                    :meta="bioItem.Meta"
                    :rows=bioItem.Rows
                    :colList=bioItem.Cols
                  />
              </span>
              <br/>
<!--              <span v-if="bioItem.Id === 1">-->
<!--                  <div v-for="(metaItem,j) in bioItem.Meta" :key="j">-->
<!--                    <DynamicField-->
<!--                      v-if="metaItem.defaultvisible"-->
<!--                      :meta="metaItem"-->
<!--                      :group="bioItem.Name"-->
<!--                    ></DynamicField>-->
<!--                  </div>-->
<!--                </span>-->


          </span>
<!--        </el-collapse>-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { WatershedPlan, BioPhysical } from "@/store/models/plan/watershedPlan";
import planStore from "@/store/modules/plan";
import DynamicField from "@/components/Dynamic/DynamicField.vue";
import mapStore from "@/store/modules/map";
import BioPhysicalTable from "@/views/Plan/Step1/Component/BioPhysicalTable.vue";


@Component({
  components: {
    DynamicField,
    BioPhysicalTable
  }
})
export default class bioPhysicalList extends Vue {
  planid: number = 128;
  accordionActiveName = "";
  bioPhysicalLoading: boolean = false;

  get bioPhysical() {
    return planStore.bioPhysical;
  }

  planId = 0;
  plan = {} as WatershedPlan;

  async created() {
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.bioPhysicalLoading = true;
      await planStore.storeBioPhysicalByPlanId(this.planId);
      this.bioPhysicalLoading = false;
    } else {
      //return error page
    }
  }
}
</script>

<style lang="sass">
.el-collapse-item__header
  font-weight: 600!important
</style>