<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto" v-loading="planStakeholderLoading">
        <div class="flex spacebetween padBottom-10">
          <h3>Potential Stakeholders</h3>
        </div>
        <el-table :data="dataList" style="width: 100%">
          <el-table-column prop="stakeholder" label="Stakeholder" min-width="150"></el-table-column>
          <el-table-column prop="engagementarea" label="Area of Engagement" min-width="150"></el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { PlanStakeholderModel } from "@/store/models/plan/watershedPlan";
import planStore from "@/store/modules/plan";
import StakeholderList from "@/views/Plan/Step1/Component/StakeholderList.vue";

@Component({
  components: {
    StakeholderList
  }
})
export default class Stakeholders extends Vue {
  planId = 0;
  planStakeholderLoading: boolean = false;
  planStakeholder: PlanStakeholderModel = {
    stakeholder: "",
    engagementarea: "",
    planid: 0
  } as PlanStakeholderModel;

  async created() {
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.planStakeholder.planid = Number(this.$route.query.planid);
    } else {
      //return error page
    }
    this.planStakeholderLoading = true;
    await planStore.getStakeholderListByPlanId(this.planId);
    this.planStakeholderLoading = false;
  }

  get model() {
    return planStore.PlanStakeholder;
  }

  get dataList() {
    return planStore.PlanStakeholder;
  }
}
</script>

<style>
</style>
