<template>
  <div class="overflow max-height">
    <div class="scroll-auto">
      <div v-loading="planLoading">
        <h3>Plan</h3>
        <div class="situationOverview">
          <div>
            <label>Watershed Name:</label>
            <p>{{plan.watershedname}}</p>
          </div>

          <div>
            <label>Sub-Watershed Name:</label>
            <p>{{plan.subwatershedname}}</p>
          </div>

          <div>
            <label>Plan:</label>
            <p>{{plan.name}}</p>
          </div>

          <div>
            <label>Budget Estimation:</label>
            <p>{{plan.estimatedbudget}}</p>
          </div>

          <div>
            <label>Description/Selection Reason:</label>
            <p>{{plan.selectionreason}}</p>
          </div>

          <div>
            <label>Priority:</label>
            <p>{{plan.priority}}</p>
          </div>

          <div>
            <label>From Year:</label>
            <p>{{plan.fromyear}}</p>
          </div>

          <div>
            <label>To Year:</label>
            <p>{{plan.toyear}}</p>
          </div>

          <div>
            <label>Objective:</label>
            <p><pre>{{plan.objectives}}</pre></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { WatershedPlan } from "@/store/models/plan/watershedPlan";
import overviewStore from "@/store/modules/overview";
import planStore from "@/store/modules/plan";

@Component
export default class SituationOverview extends Vue {
  planid: number = 128;
  planLoading: boolean = false;

  get plan() {
    return planStore.watershedPlan;
  }

  async created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);
      this.planLoading = true;
      await planStore.getPlanByPlanId(this.planid);
      this.planLoading = false;
    }
  }
}
</script>

<style lang="sass" scoped>
  h3
    padding-bottom: 20px

  .situationOverview
    display: flex
    flex-wrap: wrap
    label
      font-size: 12px
      display: inline-block
    p
      font-size: 14px
      font-weight: bold
      margin: 5px 0px
      display: block
    pre
      font-size: 14px
      font-weight: bold
      margin: 5px 0px
      display: block

  .situationOverview > div
    width: 50%
    margin-bottom: 15px
</style>
