<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div v-loading="problemListLoading">
          <div class="flex spacebetween padBottom-20">
            <div>
              <h3>List Of Problems</h3>
            </div>
          </div>
          <el-table
            :data="dataList"
            style="width: 100%"
            @cell-mouse-enter="highlightProblem"
            @cell-mouse-leave="unhighlightProblem"
          >
            <el-table-column prop="problemserialdetail" label="Problem Code" min-width="150">
              <template slot-scope="scope">
                <strong>{{scope.row.problemserialdetail}}</strong>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="Problem Name" min-width="150"></el-table-column>
            <el-table-column prop="problemtype" label="Problem Type" min-width="150"></el-table-column>
            <el-table-column prop="problemsubtype" label="Problem Sub-Type" min-width="150"></el-table-column>
            <el-table-column prop="area" label="Problem Area\Length" min-width="155">
              <template slot-scope="scope">
                <span v-html="problemArea(scope.row)"></span>
              </template>
            </el-table-column>
            <el-table-column prop="programname" label="Program" min-width="200"></el-table-column>
            <el-table-column prop="activityname" label="Activity" min-width="200"></el-table-column>
            <el-table-column prop="severity" label="Severity" min-width="150"></el-table-column>
            <el-table-column label="Selected" min-width="150">
              <template slot-scope="scope">
                <p v-if="scope.row.selected">YES</p>
                <p v-else>NO</p>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import problemStore from "@/store/modules/problem";
import { Button } from "element-ui";
import mapStore from "@/store/modules/map";

@Component({
  components: {
    Button
  }
})
export default class ProblemList extends Vue {
  planid = 0;
  problemListLoading: boolean = false;
  get dataList() {
    return problemStore.ProblemList;
  }

  highlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem(row.map);
  }

  unhighlightProblem(row: any, column: any, cell: any, event: any) {
    mapStore.highlightProblem("");
  }

  problemArea(data: any) {
    let result = "";
    if (data.area) {
      if (data.area > 10000) {
        result =
          Math.round((data.area / 1000000) * 100) / 100 + " km<sup>2</sup>";
      } else {
        result = Math.round(data.area * 100) / 100 + " m<sup>2</sup>";
      }
    } else if (data.length) {
      if (data.length > 100) {
        result = Math.round((data.length / 1000) * 100) / 100 + " km";
      } else {
        result = Math.round(data.length * 100) / 100 + " m";
      }
    }
    return result;
  }

  async created() {
    if (this.$route.query.planid) {
      this.planid = Number(this.$route.query.planid);

      this.problemListLoading = true;
      await problemStore.getProblemsByPlanId(this.planid);
      this.problemListLoading = false;

      // Draws all problem in map
      mapStore.focusSubWatershed("?planid=" + this.planid);
      mapStore.addProblem(problemStore.ProblemList);
    }
  }
}
</script>

<style lang="sass">
i.el-icon-circle-plus-outline
  color: #0060CA
  font-weight: 600
  padding-right: 5px;

sup
  color: #606266
</style>
