<template>
  <div class="max-height">
    <div class="overflow scroll-between">
      <div class="scroll-auto">
        <div v-loading="problemRankLoading">
          <div class="flex spacebetween verticleCenter marBottom-20">
            <div>
              <h3>Problem Selection/Ranking Criteria</h3>
            </div>
          </div>
          <el-table :data="list" stripe style="width: 100%">
            <el-table-column label="Problems" prop="problem" min-width="200px" fixed="left"></el-table-column>

            <span v-for="(item, index) in criterias" :key="index">
              <el-table-column width="110px" :label="item.name" v-if="item.selected">
                <template slot="header">
                  {{item.cn}}
                  <el-popover
                    placement="top-start"
                    :title="item.name"
                    width="200"
                    trigger="hover"
                    :content="item.description"
                  >
                    <span slot="reference">
                      <i class="el-icon-info"></i>
                    </span>
                  </el-popover>
                </template>
                <template slot-scope="scope">
                  <p>{{scope.row.criteria[item.id]}}</p>
                </template>
              </el-table-column>
            </span>
            <el-table-column fixed="right" label="Total">
              <!-- <template slot-scope="scope">{{average(scope.row.criteria).toFixed(2)}}</template> -->
              <template slot-scope="scope">{{scope.row.avg}}</template>
            </el-table-column>
            <el-table-column fixed="right" label="Rank">
              <!-- <template slot-scope="scope">{{rank(scope.$index)}}</template> -->
              <template slot-scope="scope">{{scope.row.rank}}</template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { ProblemCriteriaWithRank } from "@/store/models/Problem/Problem";
import metaStore from "@/store/modules/meta";
import problemStore from "@/store/modules/problem";
import { IdName } from "@/store/models/meta";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";

@Component({
  components: {}
})
export default class ProblemRank extends Vue {
  list: ProblemCriteriaWithRank[] = [];
  problemRankLoading: boolean = false;
  get criterias() {
    return metaStore.Criterias;
  }

  async loadProblem(id: number) {
    this.problemRankLoading = true;
    const res = await problemStore.getProblemCriteriaByPlanId(id);
    this.problemRankLoading = false;
    this.list = res;
  }

  created() {
    const planid = this.$route.query.planid;
    if (planid) {
      metaStore.loadCriterias(Number(planid));
      this.loadProblem(Number(planid));
    }
  }
}
</script>

<style lang="sass">

</style>
