<template>
  <div>
    <el-table :data="dataList" style="width: 100%" show-summary :summary-method="getSummaries">
      <el-table-column prop="scopeofactivityname" label="Scope of Activity" min-width="150"></el-table-column>
      <el-table-column prop="quantity" label="Quantity" min-width="150"></el-table-column>
      <el-table-column prop="unit" label="Unit" min-width="150"></el-table-column>
      <el-table-column prop="implementationyear" label="Year of Implementation" min-width="150"></el-table-column>
      <el-table-column prop="cost" label="Cost" min-width="150"></el-table-column>
    </el-table>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import detailPlanStore from "@/store/modules/detailPlan";
import { ScopeOfActivityDetailModel } from "@/store/models/DetailPlan/detailPlan";

@Component
export default class ScopeOfActivityDetailList extends Vue {
  @Prop({ default: 0 })
  planid!: number;

  @Prop({ default: 0 })
  problemid!: number;

  @Prop({ default: 0 })
  activityid!: number;

  dataList: ScopeOfActivityDetailModel[] = [] as ScopeOfActivityDetailModel[];

  getSummaries(param: { columns: any; data: any }) {
    const { columns, data } = param;
    const sums: any[] = [];
    columns.forEach((column: any, index: any) => {
      if (index === 0) {
        sums[index] = "Total";
        return;
      }
      if (column.label === "Cost") {
        const values = data.map((item: any) => Number(item[column.property]));
        if (!values.every((value: any) => isNaN(value))) {
          sums[index] = values.reduce((prev: any, curr: any) => {
            const value = Number(curr);
            if (!isNaN(value)) {
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = "N/A";
        }
      }
    });

    return sums;
  }

  async created() {
    this.dataList = await detailPlanStore.loadScopeOfActivityDetailListbyActivityId(
      {
        problemId: this.problemid,
        activityId: this.activityid
      }
    );
  }
}
</script>