<template>
  <div class="Initial max-height">
    <div class="overflow scroll-between" v-loading="socioEconomicLoading">
      <div class="scroll-auto">
        <div class="relative-block">
          <h3>Socio Economic</h3>
          <div v-for="(socioItem,i) in socioEconomics" :key="i">
            <div
              class="padBottom-15 flex-wrap verticleCenter"
              v-if="socioEconomics[i].Data.length > 0"
            >
              <h5 class="title7 title-bold">{{socioItem.Name}}</h5>
              <DynamicTable
                :data="socioEconomics[i].Data"
                :meta="socioEconomics[i].Meta"
                :dataIndex="i"
                :action="false"
              ></DynamicTable>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute-block mask-scroll"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Button, Select, Option } from "element-ui";
import planStore from "@/store/modules/plan";
import {
  WatershedPlan,
  BioPhysical,
  SocioEconomic,
  SocioVariable,
  Meta,
  SubWatershedDistrictPalika
} from "@/store/models/plan/watershedPlan";
import DynamicForm from "@/components/Dynamic/DynamicForm.vue";
import DynamicTable from "@/components/Dynamic/DynamicTable.vue";
import common from "@/store/modules/common";
import Innerrouting from "@/components/SubComponents/Innerroute.vue";

@Component({
  components: {
    Button,
    DynamicForm,
    DynamicTable,
    Select,
    Option
  }
})
export default class SocioEconomicView extends Vue {
  subwatershedDistrictPalika: SubWatershedDistrictPalika[] = [];
  socioData: SocioVariable[] = [];
  selectedIndex = -1;
  selectedDataIndex = -1;
  dialogVisible = false;
  bioPhysical: BioPhysical[] = [];
  planId: number = 0;
  selectedPalika: { [id: number]: number[] } = {};
  socioEconomicLoading: boolean = false;

  created() {
    if (this.$route.query.planid) {
      this.planId = Number(this.$route.query.planid);
      this.loadCharacteristics(this.planId);
    } else {
      //return error page
    }
  }

  get socioEconomics() {
    return planStore.SocioList;
  }
  
  get palikas() {
    return planStore.subWaterShedDistrictPalikas;
  }
  get singelData() {
    if (this.selectedIndex > -1) {
      this.socioData = [] as SocioVariable[];
      var dataLength = this.socioEconomics[this.selectedIndex].Data.length;
      var rowindex = 0;
      if (dataLength > 0) {
        if (
          this.selectedDataIndex < dataLength &&
          this.selectedDataIndex !== -1
        ) {
          rowindex = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][0].rowindex;
        } else {
          rowindex =
            this.socioEconomics[this.selectedIndex].Data[dataLength - 1][0]
              .rowindex + 1;
        }
      }
      for (
        var i = 0;
        i < this.socioEconomics[this.selectedIndex].Meta.length;
        i++
      ) {
        var me = this.socioEconomics[this.selectedIndex].Meta[i] as Meta;
        var variable = {} as SocioVariable;
        if (this.selectedDataIndex == -1) {
          variable.rowindex = 0;
          variable.value = "";
          variable.id = 0;
          variable.palikaid = 0;
        } else {
          variable = this.socioEconomics[this.selectedIndex].Data[
            this.selectedDataIndex
          ][i];
        }

        var obj = {
          value: variable.value,
          id: variable.id,
          rowindex: variable.rowindex,
          variableid: me.id,
          palikaid: variable.palikaid,
          planid: this.planId
        } as SocioVariable;
        this.socioData.push(obj);
      }
      return this.socioEconomics[this.selectedIndex];
    }
    return [];
  }

  async loadCharacteristics(planId: number) {
    this.socioEconomicLoading = true;
    await planStore.getSocioEconomicByPlanId(planId);
    this.socioEconomicLoading = false;
  }
}
</script>